---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>24 Things to Do in Key West – Where to Snorkel & Dive in Key West</h1>
            <span class="post-details">May 19th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/24-things-to-do.jpg" alt="24 Things to Do in Key West – Where to Snorkel & Dive in Key West"/></div>
            <p>With the only living coral reef in the continental United States, Key West is often a popular option for snorkeling and diving. However, as proud citizens of <a href="http://www.24northhotel.com/blog/unofficially-the-most-fun-in-key-west-conch-republic-independence-celebration/">the Conch Republic</a>, we do have our favorite spots to observe marine life. Allow us to suggest some spots on and off the reef.</p>
            
            <p><span class="bold-text">Florida Reef</span></p>
            <p>The Florida Keys Reef Tract is the obvious first choice for divers and snorkelers alike. Around 1,400 different species of marine life inhabit the Florida Reef, from anemones, crabs, pufferfish and even barracudas. One of the easiest ways (and one of our favorites) to get to the reef is through a Fury Water Adventures tour. Fury takes you out on the catamaran to the reef, either in the morning or in the afternoon through <a href="https://www.furycat.com/key-west/snorkel.htm" target="_blank">the Reef & Ritas tour</a>.</p>
            <p><span class="italic-text">Fury Water Adventures, 241 Front Street, Key West, Florida 33040, phone: 855-990-0197</span></p>
            
            <p><span class="bold-text">Bahia Honda State Park</span></p>
            <p>With its shallow water and near-shore marine life, <a href="https://www.floridastateparks.org/park/Bahia-Honda" target="_blank">Bahia Honda</a> is an excellent spot for snorkelers and beginner divers. Follow the tropical fish, spy on spiny lobster and keep company with the queen conchs in this nature reserve. Yet Bahia Honda is also home to dolphins, butterflies and many wading and shore birds. After snorkeling, roam Bahia Honda’s hiking trails and have a picnic on the grounds of the state park.</p>
            <p><span class="italic-text">Bahia Honda State Park, 36850 Overseas Highway, Big Pine Key, Florida 33043, phone: 305-872-2353</span></p>
            
            <p><span class="bold-text">The Vandenberg</span></p>
            <p>Although an “artificial” reef, <a href="http://www.lostreefadventures.com/vandenberg/" target="_blank">the Vandenberg</a> is one of the most interesting reefs in Key West in its own right. Once a U.S. Air Force missile-tracking ship, the General Hoyt S. Vandenberg was intentionally shipwrecked on May 27, 2009, to help take the stress off the natural coral barrier reef and give divers another option to explore. Since its sinking, the Vandenberg has become home to a plethora of diverse marine life as well as a popular diving spot off the beaten path.</p>
            <p><span class="italic-text">Lost Reef Adventures, 261 Margaret Street, Key West, Florida 33040, phone: 305-296-9737</span></p>
            
            <p><span class="bold-text">Dry Tortugas National Park</span></p>
            <p>Located 70 miles west of Key West, the <a href="https://www.nps.gov/drto/index.htm" target="_blank">Dry Tortugas National Park</a> is only accessible by ferry or seaplane. While it may be a bit of a trek, the Dry Tortugas offers <a href="https://www.nps.gov/drto/planyourvisit/diving-and-snorkeling-sites.htm" target="_blank">multiple snorkel and dive sites</a>, such as the Windjammer shipwreck to the Texas Rock site, which is literally filled to the brim with marine life. The Texas Rock is also home to numerous deep-water sea fans and even black coral, a rare type of coral not commonly found. For a special treat, dive the Fort Jefferson Moat Wall at night for a chance to see the site’s resident octopus and various crabs, shrimp and squid.</p>
            <p><span class="italic-text">Dry Tortugas National Park, phone: (305) 242-7700</span><br>
            	<span class="italic-text">Ferry Ticket Office – 240 Margaret Street, Key West, Florida 33040</span><br>
                <span class="italic-text">Ferry Terminal – 100 Grinnell Street, Key West, Florida 33040</span>
            </p>
            
            

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
