---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>24 Things to Do in Key West – Historical Landmarks in Key West</h1>
            <span class="post-details">June 6th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/historical-landmarks.jpg" alt="24 Things to Do in Key West – Historical Landmarks in Key West"/></div>
            <p>Key West has long been the stomping grounds of notable Americans and noteworthy historical sites. Here are our favorite landmarks for the history buffs:</p>
            <p><span class="bold-text">Truman Little White House</span><br>
            <span class="italic-text">111 Front Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-294-9911</span>
            </p>
            
            <p>Washington D.C. isn’t the only site of the White House. Key West has one, too – the Harry S. Truman <a href="http://www.trumanlittlewhitehouse.com/" target="_blank">Little White House</a>. Prompted by his doctor, then-president Harry Truman looked for a warmer climate to improve his health and found this Key West gem. In fact, this Key West landmark became a favorite of Harry Truman during the 1940s, and even served as the acting White House during the president’s frequent visits. Truman spent a total of 11 working vacations and 175 days of his term at the Little White House in Key West, prompting the name “the Truman Little White House” to stick.</p>
            
            <p><span class="bold-text">Hemingway Home & Museum</span><br>
            <span class="italic-text">907 Whitehead Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-294-1136</span>
            </p>
            
            <p>With its bright yellow shutters, two-story porch and modern black pillars, the Spanish Colonial style-<a href="http://www.hemingwayhome.com/" target="_blank">Hemingway House</a> is an iconic piece of American history. Aside from the architectural importance of the house, it also provides a peek into the personal life of one of America’s most prized writers, with its antique Spanish furniture and mounted safari animals. Peruse the property’s lush gardens, gawk at the ethereal 60-foot-pool, or play with the cat’s on site as you imagine Hemingway typing away to the Key West sea breeze.</p>
            
            <p><span class="bold-text">The Oldest House</span><br>
            <span class="italic-text">322 Duval Street,</span><br>
            <span class="italic-text">Key West, Florida 33041</span><br>
            <span class="italic-text">Phone: 305-294-9501</span>
            </p>
            
            <p>Built in 1829 by Richard Cussans, this historic white house on Duval Street is registered as <a href="http://oirf.org/index.php" target="_blank">Key West’s oldest, remaining house</a>. However, the most famous owner of the house was Capitan Francis Watlington, who was both a Florida state legislator and Harbor Master in the mid-1800s. In fact, the house stayed in the Watlington family until the early 1970s. Restored in 1975, Key West’s oldest house is not only an example of early Key West construction, but also an interesting display of other period pieces giving historical insight to the old Key West.</p>
            
            <p><span class="bold-text">Key West Audubon House</span><br>
            <span class="italic-text">205 Whitehead Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-294-2216</span>
            </p>
            
            <p>Another prized historical home in Key West, the Audubon House is known for its lush gardens and tropical foliage. Restored in 1958 by the Mitchell Wolfson Family Foundation, <a href="http://www.floridarambler.com/historic-florida-getaways/key-west-audubon-house/" target="_blank">the Audubon House</a> is now one of the premier examples of Key West’s mid-century restoration movement. Admire the fine detail of the home’s furnishings, and browse the home’s collection of lithographs based on the unique species of birds that inhabit Key West, hand-painted by none other than the American icon John James Audubon.</p>

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
