---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>24 Things to Do in Key West</h1>
            <span class="post-details">June 24th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/24-things-to-do-in-key-west.jpg" alt="24 Things to Do in Key West"/></div>
        <p>   Ninety miles to Cuba and the southernmost point in the continental United States [unofficially], Key West is a republic all its own. The fun-loving capital of the Conch Republic is never at a loss for humor, drinks or adventure. In true Key West fashion, you won’t go far without a margarita or daiquiri in hand, but you’ll also explore the Florida Reef, kayak through the back country, and witness dolphins in their natural habitat. You’ll drink Cuban coffee by the sea and devour fish tacos. You’ll catch Key West’s famous sunset at Mallory Square and you’ll brush up on your American (and Cuban) history.  At some point you’ll succumb to the vices on Duval – that’s inevitable – drinking and dancing like there’s no tomorrow. Except there is a tomorrow, in which you’ll do it all over again. </p>

<p>  Whether it’s the live music, or the laid-back vibe, Key West has a way of inviting you in and convincing you to stay. So in honor of Key West and 24 North Hotel, here is our series “24 Things to Do in Key West,” curated for whatever your heart, mind, stomach, and liver might desire. 
</p>

<p><a href="/blog/24-things-to-do-in-key-west-4-must-see-attractions-in-key-west">Part 1 – Must-See Attractions in Key West</a><br>
  
 1. The Sunset Celebration at Mallory Square<br>
    2. The Southernmost Point<br>
    3. The Green Parrot<br>
    4. Fort Zachary Taylor<br>
  </p>
  <p> <a href="/blog/24-things-to-do-in-key-west-historical-landmarks-in-key-west">Part 2 – Historical Landmarks in Key West</a><br>
  
  5. The Truman Little White House<br>
    6. The Hemingway Home & Museum<br>
    7. The Oldest House, Key West<br>
    8. The Key West Audubon House<br>
    
  </p>
  <p>  <a href="/blog/24-things-to-do-in-key-west-our-favorite-drinks-in-key-west">Part 3 – Our Favorite Drinks in Key West</a><br>
  
 9. Frozens @ Flying Monkeys Saloon at Fogarty’s<br>
    10. Rum Runners @ Island Dogs<br>
    11. Martinis @ Virgilio’s<br>
    12. Craft Beer @ The Porch </p>
  <p> <a href="/blog/outdoor-activities-in-key-west">Part 4 –Outdoor Activities in Key West</a><br>
  
  13. Adventure Sports @ Fury Water Adventures<br>
    14. Kayaking & Paddle Boarding @ Lazy Dog Adventures<br>
    15. Dolphin Watching @ Fury Water Adventures<br>
    16. Helicopter Tours @ Air Adventures<br>
    
  </p>
  <p> <a href="/blog/24-things-to-do-in-key-west-where-to-snorkel-dive-in-key-west">Part 5 - Where to Snorkel & Dive in Key West</a><br>
  
  17. The Florida Reef<br>
    18. Bahia Honda State Park<br>
    19. The Vandenburg<br>
    20. Dry Tortugas National Park </p>
  <p> <a href="/blog/4-places-you-must-eat-in-key-west">Part 6 – Places You Must Eat in Key West</a><br>
  
  21. Cuban Coffee Queen<br>
    22. Hogfish Bar & Grill<br>
    23. Blue Heaven<br>
    24. Latitudes<br>
    
    
  </p>
 
  <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
