---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>24 Things to Do in Key West – Our Favorite Drinks in Key West</h1>
            <span class="post-details">June 01, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/key-west-drinks.jpg" alt="24 Things to Do in Key West – Our Favorite Drinks in Key West"/></div>
            
            <p><span class="bold-text">Frozens - Flying Monkeys Saloon at Fogarty’s</span><br>
            <span class="italic-text">227 Duval Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-294-7525</span>
            </p>
            
            <p>When it’s hot you need a cold beverage. When you’re in Key West, you need a cold, alcoholic beverage. Enter the Flying Monkeys Saloon at Fogarty’s. The Monkey Bar, as its affectionately known, has over 20 different frozen drinks to choose from. Pick from classics such as margaritas, piña coladas and strawberry daiquiris or try something stronger like the Ruby Roo, made with fresh raspberries, Bacardi 151 and bourbon. They also do frozens with ice cream. Try the Banana Breeze with vodka, vanilla ice cream and bananas. All frozen drinks come in a souvenir, to-go cup; but get the squeeze bottle or the jumbo size, and you’ll get a discount on the refill. </p>
            
            <p><span class="bold-text">Rum Runners - Island Dogs</span><br>
            <span class="italic-text">505 Front Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-509-7136</span>
            </p>
            
            <p>You can’t go to Island Dogs and not drink – the set-up pretty much compels you. While the establishment does serve a full menu, Island Dogs’ wrap-around bar, signature cocktails, live music and patio were made for drinking. Go for the Rum Runner, a Key West staple, that’s done particularly well by the bartenders at Island Dogs. Made with dark rum, light rum, blackberry brandy, banana liquor, orange juice and pineapple juice, it will definitely help get the party started. And as Island Dogs says, “Come as you are.” There’s no judgment here.</p>
            
            <p><span class="bold-text"> Martinis – Virgilio’s</span><br>
            <span class="italic-text">524 Duval Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-296-1075</span>
            </p>
            
            <p>Virgilio’s is a hidden gem in Key West, well-known by locals for their $5 Martini Mondays that go late into the night. Yet even when it’s not Monday, Virgilio’s is a local favorite for their array of martinis, live music and dancing. And because it is part of the neighboring restaurant La Trattoria, you can order food from their kitchen or from Virgilio’s own late night menu. Although Virgilio’s is part of La Tratttoria, the entrance is around the corner on Applerouth Lane. Don’t make the mistake of entering the restaurant looking for the bar.</p>
            
            <p><span class="bold-text">Craft Beer - The Porch</span><br>
            <span class="italic-text">429 Caroline Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-517-6358</span>
            </p>
            
            <p>Although it’s located in the middle of Key West’s tourist district, The Porch is a refreshing alternative to many of the crowded spots on Duval. Tucked away on a side street, The Porch serves a plethora of craft beers and specialty wines, including (good) champagne. With 18 beers on draft, more than 50 in the bottle, and 12 wines by the glass, the decision becomes less about finding something you like, and more about picking just one.  And while the bar’s “porch” is nice, the courtyard is the place to sit. With great lighting, good music and fresh sea air, The Porch’s young and free vibe really comes to life. Open late until 4 am.</p>

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
