---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>An Interview with Jorge de la Torriente, of DE LA Gallery</h1>
            <span class="post-details">April 26th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/an-interview-with-jorge-de-1.jpg" alt="An Interview with Jorge de la Torriente, of DE LA Gallery"/></div>
            <p>24 North Hotel is filled with some stellar images, thanks to the work of Key West photographer <a href="http://delagallery.com/" target="_blank">Jorge de la Torriente</a>. We got a chance to catch up with Jorge and find out a little more about his work in 24 North Hotel.</p>
            <p><strong>What was the creative process behind the images on display at 24 North?</strong></p>
            <p>The creative process in all my work is to reduce the picture or the subject down to its basic elements. It's a minimalistic approach. You'll see throughout my collection that everything is very simple and easy to understand. It's very subject-focused and yet, there's almost a lack of subject. I take that approach to allow the viewer to inject their own perspective on what’s going on. If I leave these things absent people tend to put their own story into it.</p>
            <p><strong>You were an architect before you opened DE LA Gallery. How did you get into photography?</strong></p>
            <p>Ah, good question. It ties into what I just talked about. The minimalistic approach comes from my architecture background. I studied architecture and I was an architect for about 10 years. I got out of the profession to get into the family business, and I needed a way to express myself creatively. Work [architecture] had always let me be creative, but when I came over here to the family business, I needed that outlet. I took photography in school, but it was in the darkroom. When the digital revolution picked up in photography, I picked it back up. As time went on, I became more and more interested in what I was doing. I had a bigger body of work, and I started getting serious about it and taking better pictures and developing the style that I have now.</p>
            <div class="post-image-holder"><img src="/images/blog/an-interview-with-jorge-de-2.jpg" alt="An Interview with Jorge de la Torriente, of DE LA Gallery"/></div>
            <p><strong>DE LA Gallery emphasizes the importance of instinct when creating art. How did instinct influence the collaboration with 24 North Hotel?</strong></p>
             <p>24 North wanted to transform the lobby into something with local character. They wanted to capture the outdoor, the coastal, the seascape and to add a little bit of flavor for a more cohesive, contextual hotel without some generic brand. So when they approached DE LA Gallery and asked us to come up with some ideas, I drew back on my architecture experience. I studied the site and I went on my hunch. I had that big piece that's there -- the turquoise with channel markers (pictured above). I decided that we needed one big, bold piece to tie this together. Personally, I always wanted to do something enormous. This allowed me that opportunity to experiment and do something really big and have it be their signature lobby piece.</p>
            <p><strong>How do the images at 24 North work together?</strong></p>
            <p>From the lobby piece we started generating the other pieces, based on that one. 24 North picked the turquoise in particular because it worked with the original color scheme. So from that big giant piece we started thinking, “OK, everything is going to be oversized.”  That's how come everything is panelized, because we were able to print larger and create a bigger piece.</p>
            <p>As for Cuba, Jeff Rodriguez, my business partner, suggested our Cuba imagery. Historically, there’s a really strong connection with Cuba and Key West. As far as hotels go, nobody in Key West has done anything with Cuba (until 24 North).</p>
            <div class="post-image-holder"><img src="/images/blog/an-interview-with-jorge-de-3.jpg" alt="An Interview with Jorge de la Torriente, of DE LA Gallery"/></div>
            <p><strong>What feelings do the DE LA images at 24 North Hotel evoke?</strong></p>
            <p>The idea was to create a sense of place. It's a mix between the water, island life and Cuba, with the water and island portrayed in the seascape imagery. And the Cuba images speak to the proximity of Cuba and the history of the island. These are feelings I tried to portray in the concept. The imagery is supposed to connect you to the place. When you walk in there are channel markets, seascapes, and the island life of Cuba. I think Key West embodies that - there's island life and a deep culture there.</p>
            <p><strong>What particular combination stands out to you?</strong></p>
            <p>That's a difficult question to answer. I don't look at it as combinations. I look at it as that big standout piece in the lobby. That was the most successful one, just because of its size. It was also the genesis of the project and the one that set the pace for everything else.</p>
            <p>However, the big image of Cuba – that’s the other one for me because it gives the impression that you’re walking down the street. We tried to convey the sense of place in a smaller hallway. I think that was really successful. You need to see it to understand.</p>
            <p><span class="italic-text">Jorge de la Torriente’s images are on display at 24 North Hotel and at DE LA Gallery, located at 419 Duval Street, in Key West. See more of his work online at <a href="http://www.delagallery.com/" target="_blank">www.delagallery.com</a> or throughout 24 North Hotel.</span></p>
            

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
