---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
          <div class="blog-item">
            <h1>Fantasy Fest 2016 – Political Voodoo & Ballot-Box Barbarians</h1>
            <span class="post-details">September 11th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/fantasy-fest-2016.jpg" alt="Fantasy Fest 2016 – Political Voodoo & Ballot-Box Barbarians"/>
              <h6>Andy Newman/Florida Keys News Bureau</h6>
            </div>
            <p>Fall in Key West means one thing for us - Fantasy Fest - the wildest party on the island and quite possibly the country. Fantasy Fest is 10 days of outrageous costumes, intoxicating debauchery, and parties galore. Started over 30 years ago as a way to encourage tourism during Key West’s low season, <a href="http://www.fantasyfest.com/" target="_blank">Fantasy Fest</a> has now turned October into high season in Key West. That said, <a href="http://www.24northhotel.com/rooms/" target="_blank">book your room</a> as soon as possible – they always go fast. </p>
            <p>Fantasy Fest officially starts Friday, October 21, 2016, with the family-friendly Bahama Village Goombay Festival. After the first weekend though, things get, well, adult. Any inhibition goes three sheets to the wind, and the costumes with it. Fantasy Fest has made a reputation for itself for the copious amounts of strategically-placed body paint. That said, start planning your costumes and preparing your livers. Stay with us and we’ll get you to the best parties Fantasy Fest has to offer. Here are a few that we’re looking forward to:</p>
            <p><strong>Wednesday, October 26, 2016</strong></p>
            <p>Rock-n-Roll Revitalizing 1960s Pool Party @ The Marker, 1-4 p.m. – Our favorite Old Town resort transports you back to the 1960s with the tunes and the drinks. It’s up to you to bring the costume. </p>
            <p>Pet Masquerade & Parade @ Casa Marina, 5:30 p.m. – this is <a href="https://www.facebook.com/keywestpetmasquerade/" target="_blank">the event</a> that pet owners dream of - the chance to dress-up with your pet, free from the judgment of the outside world. Registration starts at 4 p.m.</p>
            <p>LUV2GLOW @ Rumor Lounge, 9 p.m. – This 5th annual glow-in-the-dark party is meant to make you dance to some of the best EDM beats around. Don’t short on the neon. </p>
            <p><strong>Thursday, October 27, 2016</strong></p>
            <p>34th Annual Headdress Ball @ the Truman Waterfront, 8 p.m. - With proceeds going to the Key West Business Guild, this Fantasy Fest favorite is one extravagant dance party. Don’t miss <a href="http://www.headdressballkeywest.com/" target="_blank">the headdress contest</a> in support of LGBTQ businesses. </p>
            <p>33rd Annual Toga Party @ Sloppy Joe’s, 8 p.m. – If Animal House is more your thing, head to the annual Sloppy Joe’s toga party, with proceeds benefiting AIDS Help. </p>
            <p>Pink Party @ Fat Tuesdays, 9 p.m. – With the theme of “Save the Ta-tas,” this pink party benefits the American Cancer Society with the alluring premise of sexy, pink costumes and perfectly-placed body paint. </p>
            <p><strong>Friday, October 28, 2016</strong> </p>
            <p>Fantasy Fest Street Fair @ Duval Street, 12 p.m. – 10 p.m. – Don your best costumes with a stiff drink in hand. </p>
            <p>Masquerade March @ Key West Cemetery Frances Street Entrance, 5 p.m. –One of the most popular events of Fantasy Fest, the <a href="http://www.fantasyfest.com/masquerade-march/" target="_blank">Masquerade Marc</a>h parades through Old Town Key West with frequent stops at local Conch businesses disguised as watering holes. </p>
            <p>Living Art Expo @ Sunset Pier Bar, 9 p.m. – Quite apropos for Fantasy Fest, this contest requires human canvases – no traditional easels allowed.</p>
            <p><strong>Saturday, October 29, 2016</strong></p>
            <p>Duval Street Promenade @ Duval Street, 12 p.m. – 10:30 p.m. – Yet another excuse to let loose, quite literally, inside the designated Fantasy Zones, of course. </p>
            <p>Fantasy Fest Parade @ Duval Street, 7 p.m. – Now it’s Fantasy Fest’s turn to parade. Featuring floats, dance crews and of course, elaborate costumes, <a href="http://www.fantasyfest.com/parade/" target="_blank">this parade </a>draws over 70,000 festival-goers to Old Town. </p>
            <p><em>For a complete schedule of Fantasy Fest events, consult <a href="http://www.fantasyfest.com/schedule/" target="_blank">the official website</a>. See you there!</em></p>
          </div>
          <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 no-padding"> 
      <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>--> 
    </div>
  </div>
</section>
