---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
          <div class="blog-item">
            <h1>Key West Events – Hemingway Days 2016 </h1>
            <span class="post-details">July 18th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/hemingway-days-2016.jpg" alt="24 Things to Do in Key West – Outdoor Activities in Key West"/></div>
            
              
              
            <div>
              <p>Key West and Ernest Hemingway go way back. In the  1930s, Hemingway didn&rsquo;t just have a house in Key West, he called Key West home.  Whether he was officiating boxing matches at <a href="http://www.blueheavenkw.com/#!ourstory/c4ko" target="_blank">Blue Heaven</a> or drinking  with Joe Russell at Sloppy Joe&rsquo;s, Hemingway had a strong presence on the  island. And Conch Republicans like to keep that presence alive each July with a  week-long party.</p>
              <p><strong>Hemingway  Days</strong> are an ode to the famous writer,  complete with some of his favorite pastimes and memories - fishing, writing,  and drinking. No matter which events you attend, you can always expect an  after-party to follow.</p>
              <p>First, there&rsquo;s the <strong>Papa Look-Alike Contest</strong>, hosted by <a href="https://sloppyjoes.com/papa-look-alike-contest/"  target="_blank">Sloppy Joe&rsquo;s</a>. Each  year over 100 bearded men vie for the honor of being named Hemingway&rsquo;s closest  resemblance. Although there are three rounds, the final competition will be  held on <strong>July 23, 2016, at 6:30 p.m.</strong></p>
              <p>Also concerning the &ldquo;Papas,&rdquo; is <strong>Hemingway&rsquo;s yearly birthday cake celebration</strong>, hosted by Sloppy Joes  and the previous look-alike contestants. That party starts on <strong>Thursday, July 21, 2016 at 5:30 p.m.</strong></p>
              <p>Another Hemingway-esque event is the annual <strong>Key West Marlin Tournament</strong>. Spread out  over three days, this <a href="http://www.keywestmarlin.com/" target="_blank">tournament</a> is  for the serious sportsman (i.e. the grand-prize is $50K). Yet, even if fishing  isn&rsquo;t your forte, you can still catch the daily tournament weigh-ins at <strong>Dante&rsquo;s Key West Pool Bar. </strong>Check <a href="http://www.fla-keys.com/news/news.cfm?sid=9338" target="_blank">the schedule</a> for  exact times. The Key West Marlin Tournament is also hosting a cocktail party  and island-style pig roast at Dante&rsquo;s on<strong> Thursday, July 21 at 6:30 p.m. </strong></p>
              <p>We&rsquo;re especially looking forward to the <strong>Hemingway 5K Sunset Run and Paddleboard  Race on Saturday, July 23, 2016. </strong>Hosted by our friends <a href="http://papaspilar.com/#/papaspilar/landing" target="_blank">Papa&rsquo;s Pilar Rum</a> and <a href="http://lazydog.com/" target="_blank">Lazy Dog Adventures</a>, the Sunset Run and  Paddleboard Race kicks off at <strong>6 p.m. at  the Southernmost Beach</strong> with a 3-mile course through the Atlantic Ocean. <strong>Runners start at 7:30 p.m. at the Southernmost  Point</strong>. You can <a href="http://www.keywesthalfmarathon.com/hemingway-5k-sunset-run-paddle-board-race/" target="_blank">register  here</a>.</p>
              <p>However, the most eye-catching event has to be the <strong>Running of the Bulls</strong>. On <strong>Saturday, July 23, 2016, at 1 p.m.</strong> the  Papas will parade through Old Town Key West on their own special &ldquo;breed&rdquo; of  bulls, singing and chanting and causing a stir as a nod to Hemingway&rsquo;s love of  the Fiesta de San Fermín in Pamplona, Spain. </p>
              <p>Aside from the contests and parties, there are also  several notable cultural events happening during Hemingway Days. The  exhibition, &ldquo;<strong>Depicting Hemingway</strong>,&rdquo;  by marine-life artist Guy Harvey will be on display at the <a href="http://www.kwahs.org/" target="_blank">Key West Art &amp; Historical Society</a>. The  society will also feature scholarly presentations, while the Key West Poetry  Guild will hold Hemingway poetry readings at various points throughout the  festival. Consult the official schedule <a href="http://www.fla-keys.com/news/news.cfm?sid=9338" target="_blank">for times and dates</a>. </p>
              <p><em>Hemingway  Days 2016 runs from Tuesday, July 19 – Sunday, July 24. For a complete list of  events, visit the </em><a href="http://www.fla-keys.com/news/news.cfm?sid=9338" target="_blank"><em>Florida Keys website</em></a><em>.</em></p>
<p><a href="/blog" class="button-common btn-blue" target="_blank">See all Blog Posts<i class="fa fa-play"></i></a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 no-padding"> 
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>--> 
      </div>
    </div>
  </div>
</section>
