---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Key West Brewfest 2016</h1>
            <span class="post-details">August 31st, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/key-west-brewfest.jpg" alt="Key West Brewfest 2016"/>
            <h6>Photo courtesy of Key West Brewfest.</h6>
             
            </div>
          

 <p> It’s not Labor Day weekend in Key West without <a href="http://www.keywestbrewfest.com/" target="_blank">Brewfest</a>. A beer-lover’s paradise - in paradise - this popular Key West festival features tastings from craft breweries and international brands, brunch, lunch, and dinner parings, pool parties, games, and great live music.</p> 

 <p> The main event most often associated with <a href="http://www.keywestbrewfest.com/tickets" target="_blank">Brewfest</a> is a tasting festival held at Southernmost Beach Resort on<strong> Saturday, September 3, 2016.</strong> With almost <a href="http://www.keywestbrewfest.com/beers" target="_blank">200 different beers</a>, festival-goers can choose from a wide array of world-class beers such as Belgian ales, German hefeweizens, Kona porters and American ambers.  Local favorites the <a href="http://www.floridakeysbrewingco.com/#!the-beer/fv034" target="_blank">Florida Keys Brewing Co</a>. and the <a href="http://www.floridabeer.com/#!product-families/cqnr" target="_blank">Florida Beer Company</a> will also be serving up their concoctions. </p>

 <p> However, the tasting festival doesn’t even tap the surface of Brewfest. Kicking off on <strong>Thursday, September 1, 2016,</strong> are the numerous parings and parties as part of Brewfest 2016. While the official opening party starts at Waterfront Brewery at 5 p.m., we’re also looking forward to <strong>Fury Water Adventures’</strong> maiden <a href="https://www.furycat.com/key-west/brewfest-cruise" target="_blank">Brewfest Brews Cruise</a>. Fury knows how to throw a booze cruise – and we’re expecting this one to exceed expectations. With local craft beers, wines, margs, pretzels, sliders, live music and that gorgeous Key West sunset – we’re there.</p>

 <p> Another <a href="http://www.keywestbrewfest.com/event-information" target="_blank">event on our list</a> is the <strong>Florida Tap Takeover</strong> next door to 24 North at <a href="http://www.gateshotelkeywest.com/eat-drink/best-hotel-pool-key-west/" target="_blank">Rum Row</a>. Hosted by our sister hotel <a href="http://www.gateshotelkeywest.com/about-gates-of-key-west-hotel/" target="_blank">The Gates</a>, this all–day pool party has live music, a DJ at night, and lots of local beer. The party starts <strong>Friday, September 2, 2016, at 11 a.m.</strong> </p>

 <p> On Sunday it’s gonna be tough for us to choose. Both Rum Row and <a href="http://www.themarkerkeywest.com/location/]" target="_blank">The Marker</a> are throwing some great parties. <a href="http://konabrewingco.com/" target="_blank">Kona Beer</a> and Key West’s DJ Jimmy will be taking over <strong>The Marker from 1-4 p.m. on Sunday</strong>, while <a href="http://www.cigarcityusa.com/" target="_blank">Cigar City</a> is hosting a <strong>beer pong tournament in the pool at Rum Row from 1-5 p.m.</strong> It’s a tough call. Rum Row is so close to<a href="http://www.24northhotel.com/" target="_blank"> 24 North</a>, but now with the <a href="http://www.24northhotel.com/blog/old-town-key-west-shuttle/" target="_blank">Old Town Shuttle</a>, it’s just as easy – if not easier -to get to The Marker. Decisions, decisions. We’ll let you decide. </p>

 <p> Parties aside, make sure to get tickets for at least one of the beer pairings over the long weekend. Some of the island’s best restaurants and chefs are teaming up to create specialty menus to compliment the festival’s featured beers. Blue Heaven, <a href="http://islecookkeywest.com/" target="_blank">Isle Cook</a>, and Mellow Café and Gastropub are all participating, as well as Roostica, whose <a href="http://www.keywestbrewfest.com/wp-content/uploads/2016/08/BrewFest-Menu.pdf" target="_blank">Bacon & Brew Dinner</a> looks especially appetizing.  And finally, if you happen to go to the main festival on Saturday, make sure to stay until the end. New Orleans’ brass band Water Seed will be leading the <strong>Second Line March throughout Old Town</strong>, which one of Key West’s best excuses to dance in the street.</p>

 <p><em> For a complete list of times and events, consult the Key West Brewfest <a href="http://www.keywestbrewfest.com/event-information" target="_blank">schedule of events</a>. The main tasting event will be held Friday and Saturday from 5-8 p.m. at the Southernmost Beach Resort on 1319 Duval Street. Tickets are $40 in advance and $50 at the door.</em></p> 


  
          </div>

  <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
