---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Key West Pride 2016</h1>
            <span class="post-details">June 8th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/key-west-pride.jpg" alt="Key West Pride 2016"/></div>
            <p>From parties and pageants to relays and races, Key West Pride is one of the most vibrant parties on the island, and we at 24 North are proud to be celebrating in our beloved <a href="http://www.24northhotel.com/blog/unofficially-the-most-fun-in-key-west-conch-republic-independence-celebration/">Conch Republic</a>.</p>
            
            <p>The festivities start on Wednesday, June 8, 2016 with the finale of the <a href="http://www.keywestpride.org/events/key-west-pride-the-stoli-key-west-cocktail-classic-kick-off-celebration-island-house/" target="_blank">Stoli Key West Cocktail Classic</a>, the annual kick-off party and mixology competition at Island House. As per tradition, the best LGBT bartenders from around the world compete to create an original Stoli cocktail to suit the fancy of judges Andrew Christian, Bruce Vilanch, LaToya London, and Key West Diva, Sushi.</p>
            
            <p>This year we’re not only proud to be in attendance, we’re also proud to be lending a hand to the Key West Pride community. 24 North, along with <a href="http://www.gateshotelkeywest.com/" target="_blank">our sister hotels</a> of The Keys Collection are hosting four of the fifteen bartenders competing in the Key West Cocktail Classic at our group of island hotels. Toronto winner Ernesto Lacayo, Philadelphia bartender Mike Duffy, Dallasite Rocky Collins, and Denver’s Andrew Glardon will all be staying at one of the fine hotels of The Keys Collection. Naturally, our particular favorite to win is 24 North Hotel guest Ernesto Lacayo. However, we wouldn’t be too let down if The Gates’ guest Mike Duffy won instead.</p>
            
            <p>All allegiances aside, we’re just happy to see the fun and games going toward a good cause. Thanks to the <a href="http://www.kwbgonline.org/" target="_blank">Key West Business Guild</a>, the winner of the Stoli Key West Cocktail Classic gets $5,000 for the charity of his or her choice. In fact, Ernesto Lacayo is mixing for <a href="http://aidshelp.cc/" target="_blank">AIDS Help</a>, while Mike Duffy is looking to donate to the <a href="http://www.cancer.org/index" target="_blank">American Cancer Society of the Florida Keys</a>.</p>
            
            <p>If you can’t make the kick-off party, there’s still plenty of Pride throughout the rest of the week in Key West. Sunday’s Key West Pride Parade is a must, especially with its sea-to-sea to rainbow flag. Measuring 1.25 miles, this colossal rainbow flag stretches across all of Duval Street, from the Atlantic Ocean to the Gulf of Mexico. According to Conch Republicans, it’s the only rainbow flag to span from “sea to sea.” It’s a spectacular sight you must see. The parade starts at 5 pm on Sunday, June 12, 2016 on Duval.</p>
            
            <p>For a full list of events, check <a href="http://www.keywestpride.org/" target="_blank">the official Key West Pride website</a>, and join us at Island House at 5 pm on Wednesday, June 8, 2016 to kick-off Key West Pride and cheer on our bartenders.</p>
            
            
            <p class="italic-text">Key West Pride 2016 runs from June 8 – 12.</p>
            
            

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
