---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Key West Events – Mini-Lobster Season 2016</h1>
            <span class="post-details">August 02, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/lobster-fest.jpg" alt="Key West Events – Mini-Lobster Season 2016"/></div>
        <p>Thursday, August 11- Sunday, August 14, 2016
</p>
        <p>With Florida lobster season kicking off the first week in August, Key West Lobsterfest isn’t far behind. Thrown in honor of the Florida spiny lobster, this festival is easily the island’s tastiest long weekend. Stuffed to the brim with food, Coronas, and live music, <a href="http://www.keywestlobsterfest.com/home.html" target="_blank">Lobsterfest</a> knows how to celebrate the best that Key West has to offer. You’ll find the guest of honor everywhere this weekend - on the grill, in the fryer, in tacos, ceviches and rolls prepared with care by the island’s local chefs. After all, it’s only right that Key West’s most important crustacean gets one of Key West’s best parties. </p>
        <p>Lobsterfest festivities start on Thursday, August 11 at 5 p.m. with <a href="https://keywestwalkingtours.zaui.net/data/portals/lobsterfest/index.php?action=&startDate=2016-08-11" target="_blank">the lobster boil</a> at the Sunset Tiki Bar & Grill. It’s a feast, for sure, with plates piled high with lobster, shrimp, Andouille sausage, crawfish, potatoes, and corn, all in front of a gorgeous ocean view on the Tiki Bar & Grill patio. 
          </p>
        <p>On Friday, there’s the catamaran tour “Reef & Ritas” sponsored by Margarita Life and fulfilled by our friends at Fury Water Adventures. One of Fury’s most famous tours, <a href="https://www.furycat.com/key-west/snorkel" target="_blank">Reef & Ritas</a> is a snorkel trip to the Florida Reef, with margaritas and live music. It’s great for seeing the natural beauty of Key West and it’s also a perfect start if you’re planning on the Duval Crawl pub tour later in the evening. </p>
        <p>However, Lobsterfest’s most popular attraction is Saturday’s street fair. Live music, local art and blocks and blocks of lobster line Duval Street. From honey-fried lobster tails to bisques, cakes, tacos, and fritters, there’s just about every style of lobster available. The music starts around 1 p.m., with <a href="http://www.keywestlobsterfest.com/street-fair-concert.html" target="_blank">Key West musicians</a> Alphonse, Bubba System, Cool Breeze, and the DurtBags all playing until 10:30 p.m. Grab a frozen or a Corona and eat your heart out. </p>
        <p>And finally, if you still didn’t get your lobster fix, there’s the Lobster Brunch on Sunday, August 14 at 11 a.m. at the Key West Marriott Beachside. After that, you’ll have to wait until next year’s Lobsterfest to celebrate Key West’s most delicious resident. Check <a href="http://www.keywestlobsterfest.com/events.html" target="_blank">the official schedule </a>for list of times and venues. </p>
        <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
