---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Key West Events – Mini-Lobster Season 2016</h1>
            <span class="post-details">June 26th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/mini-lobster-season.jpg" alt="Key West Events – Mini-Lobster Season 2016"/></div>
        <p>  At 12:01 a.m. Wednesday, July 27, 2016, you can catch your very own lobster in the Florida Keys. But come 12:01 a.m. Friday, July 29, 2016, and the harvesting of lobster is once again prohibited.  This “mini” lobster season is just that – mini - hence the name, “Mini-Lobster Season.”</p>
        <p>
          
          While the name “mini-lobster” evokes images of tiny crustaceans, or some smaller, lobster cousin, Mini-Lobster Season actually has nothing to do with baby lobsters. The only thing “mini” about Mini-Lobster Season is that, legally, this lobster season can only be held for two days. That’s because the official Florida lobster season, which runs for 8 months, doesn’t start until August 6th. Think of Mini-Lobster Season as a pre-party, held every year on the last consecutive Wednesday and Thursday in July.          </p>
        <p>Another difference is that while lobster season attracts many commercial fishermen, Mini-Lobster Season is more of a recreational sport season. In fact, thousands converge on Key West during the last week in July for this very reason.          </p>
        <p>Although Mini-Lobster Season is intended as recreation, there are<a href="http://myfwc.com/fishing/saltwater/recreational/lobster/" target="_blank"> a few rules</a> that must be followed. </p>
        
        
        <p><strong>Florida Keys (Monroe County) Mini-Lobster Season Rules</strong></p>
        <p>-You may need to purchase a license (don’t worry, they’re cheap). Check the <a href="http://www.myfwc.com/license/recreational/do-i-need-a-license/" target="_blank">Florida Fish and Wildlife Conservation Commission requirements. </a><br>
          - Only 6 lobsters per person are permitted

          <br>
          - The lobster carapace must measure MORE than 3 inches<br>
- Lobsters must be measured in the water

<br>
- In some areas, such as the Dry Tortugas, lobster harvesting is prohibited. Check for <a href="http://myfwc.com/fishing/saltwater/recreational/lobster/" target="_blank">a complete list.</a><br>
- It is illegal to possess and/or harvest ANY egg-bearing female lobster (egg-bearing lobsters are identified by the bright-orange eggs on their undersides).<br>
- During Mini-Lobster Season, it is illegal to dive at night. However, lobsters may be harvested with bully-nets above water. 

<br>
- Due to the lionfish invasion, the State of Florida is offering divers <a href="http://myfwc.com/news/news-releases/2015/june/25/lionfish-lobster/" target="_blank">an extra spiny lobster with the capture of 10 lionfish. </a></p>
       
        <p><strong>Catching a Spiny Lobster         </strong></p>
        <p> Don’t think you can catch a lobster? Think again. It’s pretty simple. You only need a snorkel, a poker and a net. Scuba gear is optional, but not necessary. Look for the lobster’s spikes poking out from under a rock or underwater crevice. Have your net ready and then give it a poke to make the lobster come out of its hiding spot.          </p>
        <p>Still not sure you want to provoke a lobster? Unlike other species of lobsters, the Florida spiky lobster doesn’t have claws. You won’t have to worry about getting pinched.          </p>
        <p>That said, you’ve still got a few days to book your Mini-Lobster trip. We know just the spot.          </p>
        <p><em>The above rules apply only to the Caribbean spiny lobster. The State of Florida does not regulate the harvest of the other lobster species. Mini-Lobster Season 2016 is Wednesday, July 27 and Thursday, July 28. </em></p>
        <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
