---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Old Town Key West Shuttle</h1>
            <span class="post-details">August 17, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/key-west-shuttle.jpg" alt="Old Town Key West Shuttle"/></div>
        <p>One of the most convenient amenities at 24 North Hotel has to be the Old Town shuttle. With morning departures every hour, on the hour, and afternoon departures every 30 minutes, hotel guests have all the excitement of Duval Street and historic Key West minus the noise late into the night. It’s the best of both worlds – 24 North guests can take the shuttle to party on Duval and they take it back to come home to a peaceful night’s rest. The Old Town Shuttle will take you from 24 North Hotel and drop you off in front of our sister hotel The Marker, home to the bar/restaurant <a href="http://www.themarkerkeywest.com/drinks---dining/cero-bodega/" target="_blank">Cero Bodega</a>.</p>
        <p> So why not start your Old Town tour with a drink at Cero Bodega? With its open air seating and traditional Key West architecture, this is the ideal place to catch the island vibe. Although you may believe us to be partial, the reviews don’t lie. Both the food and drinks are top-notch. Munch on a bagel or order a flatbread to share. And if you happen to come between 3:30 – 6:30 p.m., it’s <a href="http://cdn.traveltripper.io/assets/9679/original/happyhoursMay16.pdf" target="_blank">happy hour</a> with $5 small plates and $2 off beer, wine, and cocktails. </p>
       
        <p>Now, if you’re really hungry there’s <strong>Caroline’s</strong>, an Old Town favorite just a few blocks away. Named Key West’s best lunch spot by USA Today, <a href="http://carolinescafe.com/index.html" target="_blank">Caroline’s</a> is well known for its fish sandwich and large portions. It’s also reasonably priced, which is practically unheard of among the many tourist traps lining Duval Street. The patio is also quite nice, and perfect for people-watching on Key West’s busiest street. </p>
        
        <p>Next, walk off everything you ate with a stroll down Duval or if it’s late afternoon, make your way to Mallory Square for the nightly <a href="https://www.mallorysquare.com/sunset-celebration/" target="_blank">Sunset Celebration</a>. Not only is Mallory Square the prime spot to watch the famed Key West sunset, it’s also filled with entertainment come dusk. While the nightly line-up changes depending on the season, you can always expect a good dose of humor, fun, and Key West’s special brand of weirdness. </p>
        
        <p>Lastly, venture over to <a href="http://www.schoonerwharf.com/" target="_blank">Schooner Wharf</a>, aka “the local’s bar.” Located on the water, this is a great dive bar to enjoy the sea breeze and watch the sailboats. It also has live music. Even better is <strong>Schooner Wharf‘s</strong> laidback vibe. It’s one of those spots that reminds you why you came to Key West in the first place. When you’re done for the day, the 24 North Hotel shuttle will be waiting back at The Marker, less than a block away. 
        </p>
        <p><em>From 8:00 a.m. to 2:00 p.m., the 24 North Hotel Shuttle leaves every hour on the hour. After a short break, shuttle service resumes with departures every 30 minutes to Old Town, from 3:30 p.m. until 10:00 p.m. The final return trip en route to 24 North leaves from The Marker at 10:35 p.m.</em></p>
        <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
