---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Phil Peterson’s Poker Run 2016</h1>
            <span class="post-details">September 1st, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/phil-petersons-poker-run-2016.jpg" alt="Key West Brewfest 2016"/>
          
             
            </div>
          
 
<p>September 15-18, 2016<br>
Pull your bike out of the garage and hammer down to Key West for the <a href="http://www.petersonsharley.com/poker-run-harley-davidson-miami-florida--pokerrun" target="_blank">44th annual Phil Peterson’s Poker Run</a>. Win or lose, the Key West Poker Run is a prime excuse to dust off the bike and ride down one of the most scenic routes in all of America. It’s also an even better excuse for a party. After all, proceeds from the Key West Poker Run go to the <a href="http://www.diabetesresearch.org/" target="_blank">Diabetes Research Institute</a> and <a href="http://keywestsunriserotary.com/" target="_blank">the Sunrise Rotary Club</a>. </p>

<p>What started as a simple effort to drum up business during the slow September season has now become one of the most anticipated events down the Overseas Highway. This year, Peterson’s is expecting an even better turn out than years past, so much so they’ve added a 6th stop to the Poker Run’s traditional five stops along the route between Miami and Key West.</p>

<p>Starting Thursday, September 15, 2016, thousands of bikers will converge on Key West for a chance to compete in the $10,000 Texas Hold ‘Em finale. The <a href="http://www.petersonsharley.com/petersons-pokerrun--pokerrun-info" target="_blank">Poker Run</a> works like this: bikers start in Miami at Peterson’s Harley Davidson and ride their way down the big slab of Florida Keys highway, stopping at the six designated locations to draw only one card at each stop. Each card is one part of a poker hand that qualifies riders for the Texas Hold ‘Em finale on Saturday night. However, only the 10 riders with the best hands get to play in the finale. </p>

<p>Even if you don’t make it to the finale – or even ride – the Key West Poker Run is still something to see. The Bike Show, hosted by Rick’s Bar and Dirty Harry’s, is especially entertaining with its hundreds of custom-made bikes lining Duval Street. Another impressive display of craftsmanship is the Paradise Tattoo Contest at Schooner’s Wharf Bar on Saturday afternoon. Check the <a href="https://www.facebook.com/events/240637922979593/" target="_blank">official Poker Run Facebook page</a> for more events. </p>

<p>Make sure to ride down early, too. As early as Monday, September 12, 2016, there will be welcome parties held at the individual stops along the Poker Run. Arriving early also gives you the opportunity to get the full Key West experience – sun, sand, and snorkeling. Lucky for you, 24 North just happens to be located in the <a href="http://www.24northhotel.com/location/" target="_blank">ideal spot</a> for Poker Run riders. </p>

<p><em>The Phil Peterson’s Poker Run officially starts on Thursday, September 15, 2016. Consult the <a href="http://www.petersonsharley.com/petersons-pokerrun--pokerrun-agenda" target="_blank">official schedule</a> for more details.</em></p>



  
          </div>

  <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
