---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>The Songwriter’s Festival – A Key West Classic</h1>
            <span class="post-details">April 26th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/the-songwriters-festival-1.jpg" alt="The Songwriter’s Festival – A Key West Classic"/></div>
            <p>It wouldn’t be May in Key West without the annual Songwriter’s Festival. This iconic festival honors the artists who write the hits for big billboard acts, but don’t perform them. Songwriter’s is an opportunity for these artists to perform their songs and tell the stories behind them. Headlining this year’s 21st annual festival are Jake Owen, Robert Earl Keen, Rhett Akins and Natalie Hemby.</p>
            <p>The beauty of Songwriter’s is that it’s a chance to hear the songs you know and love, in the way they were intended. It’s like hearing these famous songs for the first time – and at the same time giving a well-deserved nod to the writers that wrote them.</p>
            <p>In fact, Songwriter’s is one of our favorite times of the year in Key West. Not only is it an opportunity to hear great music all over the island, but it’s also one of the liveliest times of the season. All of Key West gets together to support its Songwriter’s, including 24 North Hotel. However, we don’t just take part in the festivities, we host them.</p>
             
            <p>Join us next door at our sister location, The Gates Hotel, on <span class="bold-text">Saturday, May 7 at 1 pm</span> for our <a href="http://www.keywestsongwritersfestival.com/event-5.7.16-TheGates.html" target="_blank">Rum Row Pool Party</a> and again on <span class="bold-text">Sunday, May 8 at 11 am</span> for our <a href="http://www.keywestsongwritersfestival.com/event-5.8.16-TheGates.html" target="_blank">Rum Row Bloody Mary Party</a>. We’ll be mixing up some of the best poolside cocktails with Margaritaville Tequila, Don Q Rum, Deep Eddy Vodka, and Yuengling beer. In this sense, you can pick whichever poison you want.</p>
               <div class="post-image-holder"><img src="/images/blog/the-songwriters-festival-2.jpg" alt="The Songwriter’s Festival – A Key West Classic"/></div>
            <p>On Saturday, kick back and enjoy tunes from Krysta Nick, Justin Adams and Nick Donley and munch on some tacos from our own food truck, The Blind Pig.</p>
             
            <p>Come Sunday, we’ll help you nurse the hangover with our specialty bloody marys to the tunes of Lexi Tucker, Jordan Rager, Jared Mullins and more. We’ll make sure your Sunday is everything is should be – lazy.</p>
            <p>The <a href="http://www.keywestsongwritersfestival.com/index.html" target="_blank">Key West Songwriter’s Festival</a> is a quintessential slice of Americana that meshes perfectly with the laid-back vibe of Key West. So get down to the Key West Songwriter’s Festival, happening May 4–8, 2016, and pack your guitar, we’ve got just the space for it and plenty for you at <a href="http://www.24northhotel.com/rooms/">24 North Hotel</a>.</p>
            <p>Key West Songwriter’s Festival 2016 @ The Gates Hotel</p>
            <p><span class="bold-text">Saturday, May 7, 2016 -- Rum Row Pool Party</span></p>
            <p>1:00pm - Jake Mitchell, Jeffrey East & Krysta Nick<br>
2:00pm - Marjory Lee, Nick Donley & Justin Adams<br>
3:00pm - Brinley Addington, Mike Walker & Lena Stone
</p>
<p><span class="bold-text">Sunday, May 8, 2016 -- Rum Row Bloody Mary Party</span></p>
<p>11:00am - Lexi Tucker & Luke Combs<br>
12:00pm - Chancie Neal, Jordan Rager & Jared Mullins
</p>

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
