---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>The Old Key West – Key West’s Cuban History</h1>
            <span class="post-details">July 20th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/the-old-key-west.jpg" alt="The Old Key West – Key West’s Cuban History"/>
             <h6 style="padding-top:5px;">From the Scott DeWolfe Collection (<a href="https://www.flickr.com/photos/keyslibraries/6315815506/"  target="_blank">https://www.flickr.com/photos/keyslibraries/6315815506/</a>) at the Florida Keys Public Library</h6>
            </div>
        <p>  Key West and 24 North Hotel share much more with Cuba than the same latitude line (24° N) – they have an entire history together. 
</p>
        <p>These days, you may be hard-pressed to find more Cuban mementos on Key West than a café con leche, cigars and rum, yet there was a time when Key West was more Cuban than American. In fact, during the last half of the 19th century and the early 20th century, Key West had a much closer connection to Cuba than the United States, partly due to the fact that<strong> there was no highway connecting Key West to the mainland until 1928. </strong></p>
        <p>That said, in the late 19th century, around <strong>one-third of Key West’s population was Cuban</strong>. Schools like the San Carlos Institute taught Spanish in the morning and English in the afternoon, and many Cuban-born immigrants also assumed local political offices. This was because <strong>Key West was the haven for Cuban exiles looking to escape Spanish rule.</strong> Starting in the 1860s, Cubans crossed the 90 miles of the Florida Straits to try their hand in Key West, far enough away from Spanish economic oppression. </p>
<div class="post-image-holder">
  <img src="/images/blog/the-old-key-west-2.jpg" alt="The Old Key West – Key West’s Cuban History"/><h6 style="padding-top:5px;">The San Carlos Institute, courtesy of the Florida Keys Public Library (<a href="https://www.flickr.com/photos/keyslibraries/3975258606/" target="_blank">https://www.flickr.com/photos/keyslibraries/3975258606/</a>)</h6>
  <br>

  <p>At the time, the Key West cigar industry was thriving, in part because cigar makers could avoid taxes on cigars by making them in Key West and not Cuba. <strong>Cigar makers imported Cuban tobacco to Key West and rolled the cigars in the Key West factories,</strong> turning a pretty nice profit once they sold the finished product to the American market. </p>
  <p>Yet Key West meant more to Cuba than just the cigar industry, <strong>Key West was one of the strategic planning locations in the fight for independence from Spain. </strong>José Martí, the intellectual leader behind the fight for Cuban independence, made frequent visits to Key West, rallying support for the independence struggle and uniting exiles to overthrow the Spanish rule of Cuba in what would later morph into the Spanish-American War. </p>
  <p>Although Cuba was an independent nation after the war,<strong> many of the Cubans who were already settled in Key West stayed, </strong>hopping back and forth between Cuba and Key West. No matter how big the cigar industry, Key West was a small island town, and Havana was the big city. Islanders often took the ferry to Cuba to go to the doctor, shop and visit family, or to simply enjoy themselves. </p>
  <p>And although these ferry rides came to an end with the Cuban Revolution, Key West remained a refuge for Cuban exiles, just as it had done during the Cuban fight for independence. So the next time you think of Cuba and its connection to the States, just remember,<strong> before Miami’s Little Havana, there was Key West, Florida. </strong></p>
  <p class="italic-text">To learn more about the Key West’s Cuban History, visit the San Carlos Institute, one of our recommended 24 Things to Do in Key West. </p>
  
            </div>

  <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
