---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>The Sheriff’s Animal Farm – Key West </h1>
            <span class="post-details">August 15th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/sheriffs-animal-farm-1.jpg" alt="The Sheriff’s Animal Farm – Key West"/>
             <h6>Photo courtesy of Monroe County Sheriff's Office.</h6>
            </div>
        
  
        <p>This petting zoo may be located under the detention center at Stock Island, but don’t let that scare you away. This <a href="http://www.keysso.net/miscellaneous/animal_park.htm" target="_blank">animal farm</a> is like no other in the nation. Home to 150 farm and exotic animals, it also has another curious component – inmates. </p>
          
          <p> The Monroe County Sherriff’s Animal Farm is unique in that inmates from the Stock Island Detention Center are responsible for the facility’s animals. Under the guidance of director and marine biologist <a href="https://www.youtube.com/watch?v=3FIz_afZuwU" target="_blank">Jeanne Selander</a>, inmates with a record of good behavior care for and rehabilitate the Keys’ abused and abandoned animals.</p>
           <div class="post-image-holder"><img src="/images/blog/sheriffs-animal-farm-2.jpg" alt="The Sheriff’s Animal Farm – Key West"/>
             <h6>Photo courtesy of Monroe County Sheriff's Office.</h6>
            </div>
          <p> Of the numerous animals in residence at the Sheriff’s Animal Farm, many are exotic animals. Mo the sloth is probably the most recognized animal at the farm, often hanging on Farmer Jeanne. Another favorite is Fat Albert, the African spurred tortoise. However, there is also a python, a cockatoo, Patagonian cavies, alligators, miniature horses, pigs, lizards, and ducks. </p>
          
          <p> Yet the animals <a href="http://narrative.ly/inside-an-exotic-zoo-in-a-florida-jail/" target="_blank">aren’t the only ones being rehabilitated</a>. The inmates working with the animals also benefit from caring for the animals in residence. It’s a mutually beneficial relationship - for the inmates, the animals, the state, and the kids coming to visit. It’s a novel idea – and one rarely seen. </p>
          <div class="post-image-holder"><img src="/images/blog/sheriffs-animal-farm-3.jpg" alt="The Sheriff’s Animal Farm – Key West"/>
             <h6>Photo courtesy of Monroe County Sheriff's Office.</h6>
            </div>
          <p> In fact, the idea came about over 20 years ago. The brainchild of then-sheriff Rick Roth, the Sheriff’s Animal Farm was a way to save the Muscovy ducks that were being run over near the jail, and also strengthen the community in the process. The farm grew, from about 20 ducks and chickens to the hundreds of animals they have now. Today, residents from all over the Keys donate homeless animals to the program. </p>
        <p class="italic-text">The Monroe County Sheriff’s Animal Farm is <strong>open every 2nd and 4th Sunday, from 1 p.m. to 3 p.m. </strong>Group tours are available, with prior reservation. To make a reservation, call Farmer Jeanne at (305) 293-7300. </p>
  
          </div>

  <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
