---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration</h1>
            <span class="post-details">April 18th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/conch-lead.jpg" alt="Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration"/></div>
            <p>On April 23, 1982, Key West seceded from the United States, and the Conch Republic was born. The story goes that the U.S. Border Patrol set up a roadblock on one of the two roads that connects the archipelago to the mainland, causing a 17-mile traffic jam on the island. Seeing this act as a threat to their livelihood and the tourism industry, Key West residents protested. However, they didn’t use banners, signs and marches – they seceded.</p>
            <p>Well, not officially.</p>
            <p>Key West Mayor Dennis Wardlow declared the secession as more of a joke than an
              
              actual act of treason. And while the actual “revolution” lasted only a minute, the
              
              festivities surrounding the Conch Republic Independence Day are on their 34th year,
              
              driven by the republic’s mission to “bring humor, warmth and respect.” In Conch,
              
              that translates to making almost everything a good-humored joke on politics and
              
              patriotism.</p>
              <div class="post-image-holder"><img src="/images/blog/conch-1.jpg" alt="Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration"/></div>
            <p>That being said, Conch Republic residents never miss an opportunity to exhibit their
              
              “sovereign state of mind.” The usual festivities for the Conch Republic Independence
              
              Celebration <a href="https://www.facebook.com/events/1032923240084229/" target="_blank">kick off with a party</a> at the <a href="http://www.schoonerwharf.com/" target="_blank">Schooner Wharf Bar</a>, the officially “unofficial”
              
              bar of the Conch Republic, aka where the majority of the after-parties are held.
              
              Other events include the <a href="https://www.facebook.com/events/1171204672904755/" target="_blank">Wreckers Race</a> at sunset along Mallory Square, a conch
              
              blowing contest and the historic Great Sea Battle with water guns, stale bread and
              
              cannons. The Conch Republic also believes strongly in honoring their heroes, with
              
              such events as the 5-Shot Rum Salute or the World’s Longest Parade.</p>
              
            <p>Other worthwhile activities include the Red Ribbon Bed Race, a more elaborate
              
              soap-box derby race down Key West’s main drag, Duval Street. Touted as the most
              
              fun you can have in bed with your clothes on, teams dress up beds-on- wheels and
              
              compete for the fastest time.</p>
              <div class="post-image-holder"><img src="/images/blog/conch-2.jpg" alt="Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration"/></div>
            <p>Not to be outdone are the Drag Races, yes, literally “drag” races. Men from all walks
              
              of life stuff their shirts, dawn crazy-colored wigs and scant around in tight, short
              
              skirts, all while racing to complete an obstacle course filled with tires, shopping
              
              carts and tightropes down Duval.</p>
            <p>So pack your costumes, grab a bottle of rum and “secede where others failed.” Get to
              
              the <a href="https://www.facebook.com/The-Conch-Republic-380342204001/timeline" target="_blank">Conch Republic Independence Celebration</a> from April 22 to May 1, 2016, and
              
              stay at the <a href="https://24northhotel.reztrip.com/" target="_blank">24 North Hotel</a>, the “unofficial” hotel of the Conch Republic. We’re located
              
              about 10 minutes from all the festivities.</p>
              <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
