---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
        <div class="blog-item">
            <h1>Where to Go on Duval</h1>
            <span class="post-details">June 28th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/where-to-go-on-duval.jpg" alt="24 Things to Do in Key West - Where to Go on Duval"/></div>
            <p>Duval Street, i.e. the “unofficial” downtown of the Conch Republic, is hard to miss. This is where you’ll likely find yourself imbibing a few frozen beverages, or at the very least sauntering down in your search for more frozen beverages. Although there are tourist traps and bars galore lining Duval, there are still plenty of spots on Duval that are well worth your attention. Here are 24 North’s picks for a less inebriated, yet still intoxicating walk down Duval.</p>
            <p><span class="bold-text">Key West Butterfly & Nature Conservatory</span><br>
            <span class="italic-text">1316 Duval Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-296-2988</span>
            </p>
            
            <p>Located on the south end of Duval, the <a href="http://keywestbutterfly.com/" target="_blank">Key West Butterfly & Nature Conservatory</a> provides a calm respite from the usual ruckus of Duval. Although this Key West landmark may look unassuming on the outside, the backyard houses a large greenhouse with over 50 different butterfly species, tropical flora, exotic birds and even a few flamingos prancing around. Come and go as you please, one admission is good for the entire day.</p>
            
            <p><span class="bold-text">Hog’s Breath</span><br>
            <span class="italic-text">400 Front Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-296-4222</span>
            </p>
            
            <p>How could we make a list about Duval without putting at least one bar on the list? Well, we couldn’t. That said, we nominate <a href="http://www.hogsbreath.com/keywest/" target="_blank">Hog’s Breath</a> as the resident Duval Street watering hole. For the past 25 years, Hog’s Breath has been consistently good. Here you can count on cold beer and a good burger – which frankly, is all you need on vacation. A running line-up of Key West’s best musicians is a major plus as well.</p>
            
            <p><span class="bold-text">San Carlos Institute</span><br>
            <span class="italic-text">516 Duval Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-294-3887</span>
            </p>
            
            <p>The San Carlos Institute is one of those spots on Duval that gets admired for its intricate façade and then overlooked when it comes time to enter. Yet this museum is unlike anything else you will find on Key West. The <a href="http://www.institutosancarlos.org/" target="_blank">San Carlos Institute</a> offers a fascinating look at the often forgotten history between Key West and Cuba, as well as a closer look at Cuba’s hero José Martí, curated by historian Carlos Ripoll. Admission is free, yet a small donation is requested.</p>
            
            <p><span class="bold-text">DE LA Gallery</span><br>
            <span class="italic-text">419 Duval Street</span><br>
            <span class="italic-text">Key West, Florida 33040</span><br>
            <span class="italic-text">Phone: 305-395-2210</span>
            </p>
            
            <p>One of our personal favorites on Duval is <a href="http://www.delagallery.com/" target="_blank">DE LA Gallery</a>, featuring the work of Key West photographer Jorge de la Torriente. While we have <a href="http://www.24northhotel.com/blog/an-interview-with-jorge-de-la-torriente-of-de-la-gallery/" target="_blank">good reason to be partial</a> to his work, we also enjoy the serenity that comes from reflecting on his seascapes and panoramas. No matter how many times we’ve seen Key West, we always find something new in his work. It’s a fresh eye on our historic island.</p>
            
            <p class="italic-text">24 North Hotel offers complimentary shuttles to and from Old Town. Consult the schedule <a href="http://www.24northhotel.com/pdf/shuttle-schedule.pdf" target="_blank">here</a>.</p>

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
