---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/gates/room-details/king-suite-banner.jpg)">
      {% region room3-dtls-bannerr-text %}
    </div>
  </div>
</section>

<section>
	<ul class="gallery-nav">
         
         {% region room3-title %}
         
        </ul>
</section>

<section class="rd-row-1">
	<div id="rd-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#rd-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#rd-carousel" data-slide-to="1"></li>
    <li data-target="#rd-carousel" data-slide-to="2"></li>
    <li data-target="#rd-carousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/images/gates/room-details/1-king-terrace-pool-view.jpg);">
     <div class="rdc-car-con">
     	{% region room3-book-now %}
     </div> 
    </div>

  </div>

  <!-- Left and right controls 
  <a class="left carousel-control" href="#rd-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#rd-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
</div>
</section>

<section class="r-info">
	<div class="container no-padding">
    	<div class="col-md-6 no-padding -left">
        	<div class="con-1">
        	{% region room3-info %} 
	  </div>
      <div class="con-2">{% region room3-image %}</div>
      </div>
      <div class="col-md-6 no-padding -right">
        	<div class="con-3">
       	    	{% region room3-take-visual-journey %}
            </div>
            <div class="con-4">
            	<div class="col-sm-5 con-4-1">
                	{% region amenities-list %}
                </div><div class="col-sm-7 con-4-2">
                	<div>
                    	{% region room3-amenities-text %}
                         <!-- <div class="spacing"><a href="" class="button-common-2">general amenities</a></div> -->
                    </div>
                </div>
                
            </div>
        </div>
        
     </div>
        
</section>


<section class="rooms-section">
  <div class="container">
    <div class="col-md-4 no-padding">
      <div class="new-caption-area" id="roomscroll">
        <p></p>
        <div class="carousel-controls"> <a class="left nav-control" href="#rooms-carousel" role="button" data-slide="prev"> </a> <a class="right nav-control" href="#rooms-carousel" role="button" data-slide="next"> </a> </div>
        <h3></h3>
        <div class="links"></div>
      </div>
    </div>
    <div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="rooms-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
           {% assign room_inst =  page.url | split: "/" %}
          {% assign loop_index =  0 %}
          {% assign rooms_images = site.data._models.rooms_page_images  | sort : "sort_order" %}
          {% for roomsimages in rooms_images %}
          {% if roomsimages.room_details_link != room_inst[2] %}         
              {% if loop_index == 0 %}
                 <div class="item active">  
              {% else %}  
                <div class="item">  
              {% endif %}  
             <img alt="" src="{{ roomsimages.large_image.url }}"  class="width-full">
              <div class="carousel-caption">
                <p>VIEW MORE ROOMS & SUITES</p>
                <h3>{{ roomsimages.room_title | upcase }}</h3>
                <div class="links"> <a href="/rooms/{{ roomsimages.room_details_link }}/" class="button-common-2">VIEW THIS ROOM</a> <a href="/rooms/" class="button-common-2">VIEW ALL ROOMS</a> </div>
              </div>
            </div>
            {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
          {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="loc-cta" style="background-image:url(/images/gates/room-details/rooms-details-book-bg.jpg);">
  <div class="container-fluid no-padding">
    <div class="cta">
      {% region room3-book-ur-stay %}
    </div>
  </div>
</section>
<section class="rooms-section footer-separator ">
  <div class="container">
    <div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="specials-carousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
              {% assign loop_index_1 =  0 %}
              {% assign offer_dtls = site.data._models.offers  | sort : "sort_order" %}
              {% for offer_details in offer_dtls %} 
                  {% if loop_index_1 == 0 %}
                  <div class="item active">  
                  {% else %}  
                  <div class="item">  
                  {% endif %}  
                    <img alt="" src="{{ offer_details.large_image.url }}"  class="width-full">
                      <div class="carousel-caption">
                        <p>VIEW MORE SPECIAL OFFERS</p>
                        <h3>{{ offer_details.offer_title | upcase }}</h3>
                        <div class="links">
                         <a href="/offers/{{ offer_details.offer_details_link }}/" class="button-common-2">VIEW THIS OFFER</a> <a href="/offers/" class="button-common-2">VIEW ALL OFFERS</a>
                        </div>
                      </div>
              </div>
               {% capture loop_index_1 %}{{ loop_index_1 | plus:1 }}{% endcapture %}
              {% endfor %}

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 no-padding">
      <div class="special-caption-area">
        <p></p>
        <div class="carousel-controls"> <a class="left nav-control" href="#specials-carousel" role="button" data-slide="prev"> </a> <a class="right nav-control" href="#specials-carousel" role="button" data-slide="next"> </a> </div>
        <h3></h3>
        <div class="links"></div>
      </div>
    </div>
  </div>
</section>