---
layout: default
---

{% assign events = page %}
{% assign model = page %}

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/events-banner.jpg)">
      <h1 class="page-title">Chard Burtch</h1>
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>--> 
    </div>
  </div>
</section>
<section class="location-tabs event-details">
  <div class=" container no-padding ">
    <div class="content-container">
      <div class="col-sm-6 no-padding">
        <div class="desc">
        	<h2>Chad Burtch</h2>
            <h3><span class="date-label">Date</span>January 18, 2016</h3>
            <h3><span class="date-label">Time</span>4:00 pm - 7:00 pm</h3>
			<div class="venue">
            	<span class="date-label">Venue</span>3824 N Roosevelt Blvd,<br>Key West, FL 33040<br>United States
            </div>
            <div class="website"><span class="date-label">Website</span><a href="#">http://www.gateshotelkeywest.com/eat-drink/key-west-bar/</a></div>
        </div>
      </div>
      <div class="col-sm-6 no-padding tabs-img" style="background-image: url(/images/gates/location/best-restaurants.jpg)">   
      </div>
    </div>
  </div>
</section>
