<footer>
  <div class="footer-wrapper four-coloumn">
    <div class="container">
      
      
      <div class="col-md-3 col-sm-6 no-padding v-top">
      <img src="/images/footer-logo.jpg" class="center-block"  /> </div>
      <div class="col-md-3 col-sm-6 no-padding v-top">
        <div class="footer-grid">
          <h2>Contact Us</h2>
          <p><span class="block-element company-name">The Gates South Beach</span>
          <span class="block-element address">2360 Collins Avenue<br>Miami Beach, FL 33139 <br>United States</span>
          <span class="block-element"><a href="tel:800-445-8667"> 800-445-8667</a></span>
          <span class="block-element"><a href="mailto:info@gatessouthbeach.com">info@gatessouthbeach.com</a></span>
        </p>
        
        
      </div>
    </div>
    
    
    <div class="col-md-3 col-xs-12 no-padding v-top">
      
    </div>
    <div class="col-md-3 col-xs-12 no-padding v-top  no-border">
      <div class="footer-grid">
        <h2>Newsletter Sign-up</h2>
        
        <form class="jotform-form" action="https://submit.jotform.me/submit/62653920766463/" method="post" name="form_62653920766463" id="62653920766463" accept-charset="utf-8">
          <input type="hidden" name="formID" value="62653920766463" />
          <div class="form-holder ">
            <input type="email" class=" form-textbox validate[required] input-text" data-type="input-textbox" id="input_3" name="q3_email" size="21" value="" placeholder="YOUR EMAIL" required="required" />
            <button id="input_2" type="submit" class="form-button-arrow">submit</button>
          </div>
          <input type="hidden" id="simple_spc" name="simple_spc" value="62653920766463" />
          <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "62653920766463-62653920766463"; </script>
        </form>
        <script type="text/javascript">JotForm.ownerView=true;</script>
        
        <div class="social-icons-footer">
          <h2>Share</h2>
          <a href="https://www.facebook.com/aloftsouthbeachhotel/" target="blank"><i class="fa fa-facebook"></i></a><span></span>
          <a href="https://twitter.com/gatessouthbeach/" target="blank"><i class="fa fa-twitter"></i></a><span></span>
          <a href="https://plus.google.com/110828341641136906221" target="blank"><i class="fa fa-google-plus"></i></a><span></span>
          <a href="https://www.instagram.com/gatessouthbeach/" target="blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

<div class="footer-copyright">
<div class="container"> 
<span>© THE GATES SOUTH BEACH 2016 ALL RIGHTS RESERVED</span>
<span class="hilton-policies">
    <a href="http://hhonors3.hilton.com/en/promotions/privacy-policy/english.html" target="_blank">Global Privacy Statement</a>
    <a href="http://hhonors3.hilton.com/en/policy/cookies-statement/english.html" target="_blank">Cookies Statement</a>
    <a href="http://hhonors3.hilton.com/en/policy/site-usage-agreement/english.html" target="_blank">Site Usage Agreement</a>
</span>
</div>
</div>


</footer>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2RK4QW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
