<footer>
  <div class="footer-wrapper four-coloumn">
    <div class="container">
      
     

      <div class="col-md-3 col-sm-6 no-padding v-top">
      <img src="/images/footer-logo.jpg" class="center-block"  /> </div>
      <div class="col-md-3 col-sm-6 no-padding v-top">
        <div class="footer-grid">
          <h2>Contact Us</h2>
          <p><span class="block-element company-name">The Gates Key West</span>
          <span class="block-element address"> 3824 N Roosevelt Blvd<br>Key West, FL 33040 <br>United States</span>
          <span class="block-element"><a href="tel:305-320-0930"> (305) 320-0930</a></span>
          <span class="block-element"><a href="mailto:reservations@gateshotelkeywest.com">reservations@gateshotelkeywest.com</a></span>
        </p>
        
        
      </div>
    </div>
    
    
    <div class="col-md-3 col-xs-12 no-padding v-top">
      <div class="footer-grid">
          <h2>Learn More</h2>
          <ul class="footer-menu">
          	<li><a href="/gates-hotel-key-west-press/">Press</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Map & Directions</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Site Map</a></li>
          </ul>
        
        
      </div>
    </div>
    <div class="col-md-3 col-xs-12 no-padding v-top  no-border">
      <div class="footer-grid">
        <h2>Newsletter Sign-up</h2>
        
        <form class="jotform-form" action="https://submit.jotform.me/submit/62653920766463/" method="post" name="form_62653920766463" id="62653920766463" accept-charset="utf-8">
          <input type="hidden" name="formID" value="62653920766463" />
          <div class="form-holder ">
            <input type="email" class=" form-textbox validate[required] input-text" data-type="input-textbox" id="input_3" name="q3_email" size="21" value="" placeholder="YOUR EMAIL" required="required" />
            <button id="input_2" type="submit" class="form-button-arrow">submit</button>
          </div>
          <input type="hidden" id="simple_spc" name="simple_spc" value="62653920766463" />
          <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "62653920766463-62653920766463"; </script>
        </form>
        <script type="text/javascript">JotForm.ownerView=true;</script>
        
        <div class="social-icons-footer">
          <h2>#unlockthekeys</h2>
          <a href="http://facebook.com/gateskeywesthotel/" target="blank"><i class="fa fa-facebook"></i></a><span></span>
          <a href="http://twitter.com/GatesKeyWest/" target="blank"><i class="fa fa-twitter"></i></a><span></span>
          <a href="https://www.youtube.com/channel/UCSRTq6es6j3dVRBvdOnkhMg/" target="blank"><i class="fa fa-youtube-play"></i></a><span></span>
          <a href="http://unlockthegates.tumblr.com/" target="blank"><i class="fa fa-tumblr"></i></a><span></span>
          <a href="http://instagram.com/GatesKeyWest/" target="blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

<div class="footer-copyright">
<div class="container"> 
<span>© THE GATES KEY WEST 2017 ALL RIGHTS RESERVED</span>
<span class="hilton-policies">
    <a href="http://hhonors3.hilton.com/en/promotions/privacy-policy/english.html" target="_blank">Global Privacy Statement</a>
    <a href="http://hhonors3.hilton.com/en/policy/cookies-statement/english.html" target="_blank">Cookies Statement</a>
    <a href="http://hhonors3.hilton.com/en/policy/site-usage-agreement/english.html" target="_blank">Site Usage Agreement</a>
</span>
</div>
</div>


</footer>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2RK4QW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
