<section>
  <div class="container-fluid no-padding three-col-wrap">
    <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-1.jpg" alt="Paradise Found"/></div>
    <div class="col-sm-4 v-center three-col-content">
      <h3>Paradise Found</h3>
      <h2><span class="block-element">National</span>Park</h2>
    </div>
    <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-2.jpg" alt="National Park"/></div>
  </div>
</section>
<section>
  <div class="container-fluid no-padding three-col-wrap">
    <div class="col-sm-4 v-center three-col-content">
      <h3>adventure</h3>
      <h2><span class="block-element">playground</span>for all</h2>
    </div>
    <div class="col-sm-4 no-padding v-center seal"><img src="../images/three-col-3.jpg" alt="Logo"/>
      <div class="graphic"><img src="../images/floating/stamp-big.png" alt="Stamp"/></div>
    </div>
    <div class="col-sm-4 v-center three-col-content">
      <h3>explore</h3>
      <h2><span class="block-element">natural</span>wonders</h2>
    </div>
  </div>
</section>
