<nav class="header-wrapper">
  <div class="container">
    <div class="logo"> <a href="/"><img src="/images/hotel-diagonal-barcelona-logo-small.png" alt="Hotel diagonal barcelona"/></a> </div>
   <div class="main-menu">
      <ul class="nav">
       {% for items in site.data.navigation.mainnav %}

      <li {% if items.submenu == "true" %} class="dropdown" {% endif %}>
      {% if  site.active_lang == 'es' %}
      <a href="/es{{ items.url }}" {% if items.name == page.pagename %} class="active" {% endif %} {% if items.submenu == "true" %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>{{ items.title_es }}</a>
      {% else %}
       <a href="{{ items.url  }}" {% if items.name == page.pagename %} class="active" {% endif %} {% if items.submenu == "true" %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>{{ items.title }}</a>
       {% endif %}

          {% if items.submenu == "true" %}
            <ul class="dropdown-menu">
              {% for dropdown in items.subitems %}
                  {% if  site.active_lang == 'es' %}
                  <li><a href="{{ dropdown.url  }}">{{ dropdown.title_es }}</a></li>
                  {% endif %}
                  {% if  site.active_lang == 'en' %}
                  <li><a href="{{ dropdown.url }}">{{ dropdown.title }}{{site.active_lang}}</a></li>
                  {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
       {% endfor %}
      </ul>
    </div>
    
<div class="menu-btn"></div>
<div class="booknow "> <a href="javascript:void(0);" class="button-blue" show-booking-widget>{%t 'home.booknow' %}</a>
    <span class="lang-toggle">                
    <a href="{{ page | permalink: locale: 'en' }}">{% t 'language_name', en %}</a>
    <a href="{{ page | permalink: locale: 'es' }}">{% t 'language_name', es %}</a> <!-- <a href="/" title="English">{% t 'language_name', en %}</a>
    <a href="/" title="Espanish">{% t 'language_name', es %}</a></span>-->
</div>
</nav>