<nav class="header-wrapper">
  <div class="container">
    <div class="logo"> <a href="/"><img src="/images/logo.png" alt="Gates South Beach"/></a> </div>
    <div class="main-menu">
      <ul>
        <li><a href="/rooms/">Rooms</a></li>
        <li><a href="/offers/">Offers</a></li>
        <li class="dropdownitem"><a href="/group-hotel-booking-in-key-west/">Groups</a>
        	<div class="arrow-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
        	<ul class="submenu">
            	<li><a href="/group-hotel-booking-in-key-west/request-for-proposal/">Request for Proposal</a></li>
            </ul>
        </li>
        <li><a href="/eat-drink/">Eat & Drink</a></li>
        <li class="dropdownitem"><a href="/location/">Location</a>
        	<div class="arrow-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
        	<ul class="submenu">
            	<li><a href="/events/">Events</a></li>
                <li><a href="/blog/">Blogs</a></li>
                <li><a href="/attractions/">Attractions</a></li>
                <li><a href="/location/shuttle/">Shuttle</a></li>
            </ul>
        </li>
        <li><a href="/gallery/">Gallery</a></li>
        <li><a href="/partners/">Partners</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
    <div class="menu-btn"></div>
    <div class="booknow"> <a href="javascript:void(0);" class="button-blue" show-booking-widget>Book Now</a> </div>
  </div>
</nav>
