<h2>Location</h2>
<h3>exploring key west</h3>
<div class="map-wrap"><img src="/images/map.jpg" alt="Location"/></div>
<div class="map-label"><img src="/images/floating/keywest-label.png" alt="Barcelona"/></div>
<h2>in driving distance</h2>
<p><span class="cap">A</span> The Ernest Hemingway Home and Museum 12 mins <span class="cap">B </span>Key West International Airport 5 min <span class="cap">C</span> Key West Aquarium 15 min <span class="cap">D</span> Turtle Kraals Restaurant & Bar 10 min <span class="cap">E</span> Key West Lighthouse 12 min <span class="cap">F</span> Audubon House & Tropical Gardens 13 min <span class="cap">G</span> Key West Shipwreck Museum 15 min <span class="cap">H</span> Key West Museum of Art & History 14 min <span class="cap">I</span> Blue Heaven 14 min <span class="cap">J</span> Margaritaville 13 min <span class="cap">K</span> Schooner Wharf Bar 11 min <span class="cap">L</span> A&B Lobster House 13 min <span class="cap">M</span> Southernmost Beach Cafe 12 min <span class="cap">N</span> Hogs Breath Saloon 14 min <span class="cap">O</span> El Siboney Restuarant 10 min</p>
