
<section class="mobile-only-offer">
	<div class="container">
		<div class="close" id="kill">X</div>
		<div class="row">
			<div class="col-sm-12">
				<h1>{% t 'mobile-offer.name' %}</h1>
				<h4></h4>
				<div class="description">{% t 'mobile-offer.description' %}
					
				</div>
				<a href="https://gateshotelbarcelona.reztrip.com/classic/{{site.active_lang}}/special_offer?action=show&controller=landings&locale={{site.active_lang}}&rate_code=MBAR&rate_code=MBAR&starting_page=special_offer&vr=3" class="m-book-btn" >{% t 'offers.book-now' %}</a>
			</div>
		</div>
	</div>
</section>