<section class="newsletter-signup">
	<div class="container">
    	<div class="row no-gutters">
        	<div class="col-md-7">
            	<h3>Sign-up for the latest updates</h3>
            </div>
            <div class="col-md-5">
            <form class="jotform-form" action="https://submit.jotform.me/submit/63621092258455/" method="post" name="form_63621092258455" id="63621092258455" accept-charset="utf-8">
            	<input type="hidden" name="formID" value="63621092258455" />
            	<div class="input-group">
                  <input type="email" class="form-control validate[required]" placeholder="Enter Your Email Address" id="input_3" name="q3_email" value="" placeholder="YOUR EMAIL" required="required">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="input_2" type="submit" ><img src="/images/arrow-right.png" width="26" height="21" alt=""/></button>
                  </span>
                </div><!-- /input-group -->
                
             </form>
            </div>
        </div>
    </div>
</section>