<section class="loc-cta" style="background-image:url(/images/gates/offers/offer-4.jpg);">
  <div class="container-fluid no-padding">
      <div class="cta">
      <p class="text-center">GATES HOTEL<br>DIAGONAL BARCELONA</p>
    <div class="cta-logo"><a href="/" target="_blank"><img src="/images/gates/location/logo.png" alt="Gates Hotel South Beach"></a></div>
    {% regionblock staybutton %}
<div class="btn-holder text-center"><a class="button-common" href="https://gateshotelbarcelona.reztrip.com/"> Book Your Stay</a></div>
 {% endregionblock%}
  </div>
    </div>
</section>