
<script>
function getIp(data){
   sessionStorage.ip_add =  data.ip;
}
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>

<script src="/js/main.min.js"></script>
<script> 

// v3.1.0
//Docs at http://simpleweatherjs.com
$(document).ready(function() { 

  $.simpleWeather({
	location: 'BARCELONA, SPAIN',
	woeid: '',
	unit: 'f', 
	success: function(weather) {
	 var toFar = weather.temp; 
	 var toCels = weather.alt.temp; 
	  var icon = 'icon-'+weather.code;
	  $(".fahr").html(toFar + "");
	  $(".cel").html(toCels + "");
	  $("#temp i").addClass(icon);
	},
	error: function(error) {
	  $("#weather").html('<p>'+ +'</p>');
	}
  });
});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgpfLrDcd6r2v4U4gnC1aJNmg4Lq8T-Ko"></script>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
