
<script>
function getIp(data){
   sessionStorage.ip_add =  data.ip;
}
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>
<script src="/js/jquery-1.11.1.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
                            <script> 

                            // v3.1.0
                            //Docs at http://simpleweatherjs.com
                            $(document).ready(function() { 
                            	console.log('qweqe');
                              $.simpleWeather({
                                location: 'KEY WEST, FLORIDA',
                                woeid: '',
                                unit: 'f', 
                                success: function(weather) {
                                 var toFar = weather.temp; 
                                 var toCels = weather.alt.temp; 
                                  var icon = 'icon-'+weather.code;
                                  $(".fahr").html(toFar + "");
                                  $(".cel").html(toCels + "");
                                  $("#temp i").addClass(icon);
                                },
                                error: function(error) {
                                  $("#weather").html('<p>'+ +'</p>');
                                }
                              });
                            });
                            </script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/lightgallery.js"></script>
<script src="/js/lg-fullscreen.js"></script>
<script src="/js/lg-thumbnail.js"></script> 
<script src="/js/lg-video.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/slick.min.js"></script> 

<script src="/js/booking-widget.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/rt3api.js"></script>
<script src="/js/ui-date.js"></script>
<script src="/js/rez-trip.js"></script>
<script src="/js/rt3-services.js"></script>
<script src="/js/rt3-directives.js"></script>
<script src="/js/rt3-filters.js"></script>
<script src="/js/scripts.js"></script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjyrna6Ms6rMkiKTj_CMXphqYsgb_i9E8&callback=initMap"></script>



