<!-- begin SEO -->
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}

{% if page.title %}
  {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% endif %}

{% if seo_title %}
  {% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% if site.active_lang == 'es' %}
  {% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url_es %}
{% else %}
  {% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}
{% endif %}

<title>{% if page.seo_title %}{{page.seo_title}}{% else %}{{page.title }}{%endif%}</title>

{% assign seo_description = page.meta_description | default: page.excerpt | default: site.description %}
{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% if page.meta_description %}
<meta name="description" content="{{ seo_description }}">
{% endif %}

{% if page.seo_description %}
<meta name="description" content="{{ page.seo_title }}. Read more on the blog of Gates Hotel Barcelona, a 4* hotel near Torre Agbar.">
{% endif %}

{% assign seo_author = page.author | default: page.author[0] | default: site.data.authors.primary.name %}
{% if seo_author %}
  {% if seo_author.twitter %}
    {% assign seo_author_twitter = seo_author.twitter %}
  {% else %}
    {% if site.data.authors.primary and site.data.authors.primary[seo_author] %}
      {% assign seo_author_twitter = site.data.authors.primary[seo_author].twitter  %}
    {% else %}
      {% assign seo_author_twitter = seo_author  %}
    {% endif %}
  {% endif %}
  {% assign seo_author_twitter = seo_author_twitter | replace: "@", "" %}
{% endif %}

<meta name="author" content="{{ seo_author }}">

<meta property="og:locale" content="{{ site.locale | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">

{% for lang in site.languages %}
  {% if lang == site.default_lang %}
    <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/"}}">
  {% continue %}
    <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/"}}{{lang}}">
  {% endif %}
{% endfor %}

{% if seo_url %}
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

<meta property="og:description" content="{{ seo_description }}">

{% if site.data.social.twitter.username %}
  <meta name="twitter:site" content="@{{ site.data.social.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
  <meta name="twitter:card" content="summary">
  
  {% if site.data.social.og_image %}
  <meta name="twitter:image" content="{{ site.data.social.og_image | absolute_url }}">
  {% endif %}

  {% if seo_author_twitter %}
    <meta name="twitter:creator" content="@{{ seo_author_twitter }}">
  {% endif %}
{% endif %}

{% if site.data.social.facebook %}
  {% if site.data.social.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.data.social.facebook.publisher }}">
  {% endif %}

  {% if site.data.social.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.data.social.facebook.app_id }}">
  {% endif %}
{% endif %}

{% if site.data.social.og_image %}
  <meta property="og:image" content="{% if site.data.social.og_image contains "://" %}{{ site.data.social.og_image }}{% else %}{{ site.data.social.og_image | absolute_url }}{% endif %}">
{% endif %}

{% if page.date %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Hotel",
      "name": "Gates Hotel Barcelona",
        "alternateName":"The Gates Hotel Diagonal Barcelona",
        "priceRange" : "$100-$300",
  "description": "Enjoy the spectacular design of the Gates Hotel Barcelona, a modern 4* design hotel located next to Torre Agbar on the Avenida Diagonal. Book on our Official Website for our Best Rate!",
  "image": "https://cdn.traveltripper.io/site-assets/192_676_3169/media/2017-05-16-023300/home-banner-1.jpg",
  "logo": "https://www.gateshotelbarcelona.com/images/hotel-diagonal-barcelona-logo-small.png",
  "url": "https://www.gateshotelbarcelona.com/",
  "telephone": "+34 934 895 300",
  "sameAs": ["https://twitter.com/GatesDiagonal","https://www.facebook.com/GatesBarcelona/","https://www.instagram.com/gatesdiagonal/"],
"hasMap": "https://goo.gl/b69CJG",
  "geo": {
  "@type": "GeoCoordinates",
  "latitude":"41.4038634",
  "longitude":"2.1879703"
  },
"openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
    },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "205 Avenida Diagonal",
    "addressLocality": "Barcelona",
    "postalCode": "08018",
    "addressCountry": "Spain"
    }
    }
    }
</script>

<meta http-equiv="Content-Language" content="{{ site.active_lang }}">
<link rel="alternate" hreflang="es" href="{{ site.url }}/{{ page.permalink_localized.es }}">
<link rel="alternate" hreflang="en" href="{{ site.url }}/en/{{ page.permalink_localized.en }}">

<!-- end SEO -->
