<section class="t-feeds">
  <div class="container no-padding"> 
        <div class="col-sm-4 col-md-3">
        <div class="feed-text">
        	<a href="https://twitter.com/GatesKeyWest/status/851821933238906881" target="_blank">
        	<h2 class="label-1">@GATESKEYWEST</h2>
            <div class="icon-t"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <p class="label-2">Style beyond a shadow of a doubt. (IG: @tato4kaboo) #UnlockTheKeys</p>
            <div class="label-3"><span class="label-date">01.27.2017</span><span class="label-twitter">Twitter</span></div>
            </a>
        </div>
        </div><div class="col-sm-4 col-md-3 photolist1">
        	 
        </div>
        <div class="col-sm-4 col-md-3">
        <div class="feed-text">
            <a href="https://twitter.com/GatesKeyWest/status/824589733149941762" target="_blank">
            <h2 class="label-1">@GATESKEYWEST</h2>
            <div class="icon-t"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <p class="label-2">Double jolts for double the island fun. (IG @stylescrpabook) #UnlockTheKeys</p>
            <div class="label-3"><span class="label-date">01.27.2017</span><span class="label-twitter">Twitter</span></div>
            </a>
        </div> 

        </div><div class="col-sm-4 col-md-3 photolist2">
             
        </div>
          
        <div class="col-sm-4 col-md-3 photolist3">
        
        </div><div class="col-sm-4 col-md-3">
        	<div class="feed-text">
              <a href="https://twitter.com/GatesKeyWest/status/824273124652974080" target="_blank">
        	<h2 class="label-1">@GATESKEYWEST</h2>
            <div class="icon-t"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <p class="label-2">We wrote the book on special offers. Book with us and save this January: http://fal.cn/Q1cT  #UnlockTheKeys</p>
            <div class="label-3"><span class="label-date">01.25.2017</span><span class="label-twitter">Twitter</span></div>
            </a>
        </div> 
          </div> 
          
        <div class="col-sm-4 col-md-3 photolist4">
        
        </div><div class="col-sm-4 col-md-3">
            <div class="feed-text">
              <a href="https://twitter.com/GatesKeyWest/status/825013250458796032" target="_blank">
            <h2 class="label-1">@GATESKEYWEST</h2>
            <div class="icon-t"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <p class="label-2">Our weekend lineup with @MARTONECYCLING. Hop on one of these custom bikes and explore the island. #UnlockTheKeys</p>
            <div class="label-3"><span class="label-date">01.27.2017</span><span class="label-twitter">Twitter</span></div>
        </div> 
          </div>
  </div>
</section>
