<section class="t-feeds">
  <div class="container no-padding">
  {% for insta in site.data.instagram.data | limit: 4 %}
        {% if forloop.index <= 2 %}
        <div class="col-sm-4 col-md-3">
        <div class="feed-text">
        	<a href="https://twitter.com/GatesKeyWest/status/825013250458796032" target="_blank">
        	<h2 class="label-1">@GATESKEYWEST</h2>
            <div class="icon-t"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <p class="label-2">Our weekend lineup with @MARTONECYCLING. Hop on one of these custom bikes and explore the island. #UnlockTheKeys</p>
            <div class="label-3"><span class="label-date">01.27.2017</span><span class="label-twitter">Twitter</span></div>
            </a>
        </div>
        </div><div class="col-sm-4 col-md-3">
        	<a href="{{insta.link}}" target="_blank">
        	<img src="{{insta.images.low_resolution.url}}" class="img-respond" alt=""/>
            <span class="insta-icon"><img src="/images/gates/location/instagram.png" alt=""/></span>
            <div class="insta-overlay">
            	<div class="overlay-con"><img src="/images/gates/location/instagram.png"><span>Follow Us <br> on Instagram</span></div>
            </div>
            </a>
        </div>
           {% else %} 
        <div class="col-sm-4 col-md-3">
        <a href="{{insta.link}}" target="_blank">
        	<img src="{{insta.images.low_resolution.url}}" class="img-respond" alt=""/>
            <span class="insta-icon"><img src="/images/gates/location/instagram.png" alt=""/></span>
             <div class="insta-overlay">
            	<div class="overlay-con"><img src="/images/gates/location/instagram.png"><span>Follow Us <br> on Instagram</span></div>
            </div>
            </a>
        </div><div class="col-sm-4 col-md-3">
        	<div class="feed-text">
              <a href="https://twitter.com/GatesKeyWest/status/824273124652974080" target="_blank">
        	<h2 class="label-1">@GATESKEYWEST</h2>
            <div class="icon-t"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <p class="label-2">We wrote the book on special offers. Book with us and save this January: http://fal.cn/Q1cT  #UnlockTheKeys</p>
            <div class="label-3"><span class="label-date">01.25.2017</span><span class="label-twitter">Twitter</span></div>
            </a>
        </div> 
          </div>

                {% endif %}
        {% endfor %} 
  </div>
</section>
