.footer-wrapper {
	width: auto;
	padding: 50px 0px 40px 0px;
	
	font-family: $main-font-book;
	font-size: 12px;
	color: #8c8d8d;
	letter-spacing: 1.2px;
	
	a{

		color:#8c8d8d;

		&:hover{

			color:#168fbc;
		}
	}
	@media (max-width: 767px){
			padding: 20px 0px;
			text-align: center;
		}
	.company-name{
		text-transform:uppercase;	}
		.address{padding:0px 0px 20px; text-transform:uppercase;   line-height:20px;}
	.container {
		/*@media (min-width: 1300px){
			width: 1270px;
		}
		width: 1275px;
		@media (max-width: 1299px){
			width: auto;
		}*/
	}
	h2{
		font-family: $main-font-bold;
		font-size: 12px;
		text-transform:uppercase;
		padding-bottom: 20px;
		color:#232525;
	}
	p{
		line-height: 22px;
		
	}
	.f-logo{
	  img{ width:100%;}
	}
}
.footer-grid {
	
	padding: 5px 32px;
	
	&.no-padding-left {
		padding-left: 0;
	}
	
	&.no-padding-right {
		padding-right: 0;
	}
	
	a{
		
		&:hover {
			color: #168fbc;
		}
	}
	@media (max-width: 1237px){
			padding: 5px 15px;
		}
	@media (max-width: 991px){
			padding: 15px 0px 15px 0px;
		}
	.footer-menu {
		li{
			list-style-type: none;
			a{
				color: #8c8d8d;
				padding: 6px 0;
				display: block;
				text-transform: uppercase;
					&:hover {
						color: #168fbc;
					}
			}
		}
	}
	ul {
		li{
			list-style-type: none;
			a{
				color: #fff;
				padding: 1px 0;
				display: block;
			}
		}
	}
}
.input-text {
	border: solid 1px #232525;
	background-color: transparent;
	padding: 12px 20px;
	font-size: 12px;
	color:#1086b4;	
	font-family:$main-font-medium;
	padding: 9px 14px;
    letter-spacing: 3px;
	width: 100%;
	border-radius: 0px;
		@media (max-width: 767px){
			text-align: center;
		}
}
.input-text::-webkit-input-placeholder {
  color: #1086b4;
}

.input-text:-moz-placeholder { /* Firefox 18- */
  color: #1086b4;
}

.input-text::-moz-placeholder { /* Firefox 19+ */
  color: #1086b4;
}

.input-text:-ms-input-placeholder { /* IE 10+ */
  color: #1086b4;
}

.input-text::-ms-input-placeholder { /* Edge */
  color: #1086b4;
}

.input-text:placeholder-shown { /* Standard one last! */
  color: #1086b4;
}
.input-text:focus {
	outline: none;
}
.form-holder {
	width: auto;
	position:relative;
	@media (max-width: 992px){
			width: 290px;
		}
		@media (max-width: 767px){
			margin: 0 auto;
			width: 270px;
		}
		
	.form-button-arrow{
		font-size:0px;
		position: absolute;
		background: #FFF;
		right: 10px;
		border: none;
		top: 1px;
		
		padding: 6px 18px 6px 6px;
		right: 1px;
		color: #232525;
	    font-family:$main-font-medium;
		&:before {
            font-family: $main-font-light;
            line-height: 12px;
            content: '\203A';
            font-size: 33px;
            text-shadow: none;
        }
		}
}
.form-btn {
	-webkit-appearance: none;
	appearance: none;
	border: solid 2px #fff;
	background-color: transparent;
	font-family: $main-font-medium;
	font-size: 14px;
	text-align: center;
	padding: 12px 50px;
	text-transform: uppercase;
	margin-top: 17px;
		@media (max-width: 767px){
			width: 100%;
		}
	
	&hover {
	}
}
@media (min-width:992px){

.four-coloumn {
	display: table;
	width: 100%;
}

/*.v-top {
	display: table-cell;
	vertical-align: top;
	float: none;
	
}*/
.foot-v-center {
	vertical-align: middle;
	text-align: center;
	border: none;
}
.no-border {
	border: none;
}
}

.footer-bottom-wrapper{
	
	color: $tc-ash-1;
	


}
.footer-copyright {
	background-color:#35414a;
	font-family: $main-font-book;
	text-transform: uppercase;
	font-size: 10px;
	color:#fff;
	padding:21px 10px;
	line-height: 18px;
		.container {
			max-width: 1237px;
			width: auto;
		}
	
	@media (max-width: 991px){
			text-align: center;
			padding:15px 10px;

		}
		
	.hilton-policies {
		font-size: 11px;
		text-transform: none;
		display: block;
		padding: 20px 0 0 0;
		@media (min-width: $screen-md-min){
			float: right;
			display: inline-block;
			padding: 0;
		}
			a{
				color: #fff;
				padding: 5px 0 5px 0;
				display: block;
				
				@media (min-width: $screen-sm-min){
					padding: 0 7px 0 7px;
					display: inline-block;
				}
				@media (min-width: $screen-md-min){
					padding: 0 0 0 15px;
				}
				
			}
	}
}

