.loc-main {
	padding-top: 57px;
	@media(max-width: $screen-xs-max){
			padding-top: 30px;
		}
}
.loc-con-inner {
	padding-left: 80px;
	
	@media (max-width: 1240px){
			padding-left: 0px;
		}
}
.loc-content {
	font-family: $main-font-light;
	color: $tc-ash-4;
	padding: 50px 80px 0px 0px;
	background-color: #f8f7f7;
	@media (max-width: 1240px){
			padding: 25px 0 0px 0;
		}
		
	h2{
		
		font-size: 32px;
		text-transform: uppercase;
		color: $tc-light-blue-1;
		padding: 0px 0 40px 0;
		line-height: normal;
		letter-spacing: 5px;
		margin: 0;
		
		@media (max-width: $screen-sm-max){
			padding: 0px 0 25px 0;
			font-size: 24px;
		}
		@media (max-width: $screen-xs-max){
			padding: 0px 0 15px 0;
			font-size: 20px;
			letter-spacing: 3px;
		}
	}
	p {
		padding: 0 0 100px 0;
		margin: 0;
		letter-spacing: 1px;
		line-height: 30px;
		font-size: 18px;
		
		&:last-child {
			padding: 0;
		}
		@media (max-width: $screen-sm-max){
			padding: 0 0 30px 0;
			
		}
			@media (max-width: $screen-xs-max){
				padding: 0 0 20px 0;
				line-height: 24px;
				font-size: 16px;
			}
			
	}
	h3{
		font-family: $main-font-bold;
		font-size: 14px;
		letter-spacing: 5px;
		text-transform: uppercase;
		position:relative;
		
		@media (max-width: $screen-xs-max){
		letter-spacing: 3px;
		}
		
		&:after{
			content: "";
		position:absolute;
		width: 26px;
		    background-color: #000;
    height: 1px;
    bottom: -18px;
	left: 0;
		}
	}
	.left-column{
		
		
	/*	@media (max-width: $screen-sm-max){
			width: 90%;
		}*/
		@media (max-width: $screen-xs-max){
			width: auto;
		}
	}
	.right-column{
		
		padding: 0 0 0 20%;
		
		@media (max-width: $screen-sm-max){
			padding: 0 0 0 10%;
		}
		@media (max-width: $screen-xs-max){
			padding: 0;
		}
		span{
			display:block;
		}
		p{
			padding: 35px 0 0 0;
		}
	}
}
.address-wrap {
	padding: 0 0 55px 0;
	
	
	a{
		color: $tc-ash-4;
		&:hover {
			color: $tc-light-blue-1;
		}
	}
	@media (max-width: $screen-xs-max){
		padding: 20px 0 0 0;
		
		
	
}
}

.btn-wrap {
	padding: 55px 0 0 0;
	
	@media (max-width: $screen-xs-max){
		padding: 20px 0 0 0;

}
}
.no-top-padding {
	padding-top:0;
}
.extra-padding {
	padding: 30px 0 0 0;
	@media (max-width: $screen-xs-max){
		padding: 15px 0 0 0;
	}
}
.btn-wrapper {
	
	padding: 0 0 30px 0;
	@media (max-width: $screen-xs-max){
		padding-bottom: 15px; 
	}
}
.common-btn {
	border: solid 1px #c19b76;
	padding: 13px 18px;
	display:inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	transition: all 0.3s;
	letter-spacing: 1px;
	
	&:hover {
		text-decoration: none;
		color: #000;
		
	}
	.fa-long-arrow-right {
		color: #000;
			text-indent: 14px;
	}
	
}

.cta-theme-location {
	background-image: url(/images/cta-theme-location.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	
	h2{
		padding: 86px 0 60px 0;
		
		@media (max-width: 1023px){
		padding: 30px 0px; 
	}
	}
}
.empty-container {
	
	img {
		width: 100%;
	}
}
.car-blue-bg {
	background-color: $bg-blue-3;
	.heading-large {
		color: $tc-white;
	}
}

.location-banner {
	padding: 112px 0;
		@media(min-width: $screen-sm-min){
			padding: 112px 0;
		}
		.page-title{
			padding: 0 0 22px 0;
		}
}
.shuttle-graphic {
	margin-left: -15px;
	max-width: 721px;
	padding: 40px 0 0 0;
		@media(min-width: $screen-sm-min){
			padding: 80px 0 0 0;
		}
	img {
		width: 100%;
	}
	&.sg-mobile {
		display: block;
		@media(min-width: $screen-sm-min){
			display: none;
		}
	}
	&.sg-desktop {
		display: none;
		@media(min-width: $screen-sm-min){
			display: block;
		}
	}
}
.loc-cuba {
	img {
		width: 100%;
	}
}
.hdct {
	position: relative;
	.graphic {
		position: absolute;
		max-width: 1200px;
		margin: 0 auto;
		height: 18px;
		top: -9px;
		right: 0;
		left: 0;
		background-image: url(../images/floating/line-diagonal.png);
		background-repeat: repeat-x;
		background-position: center center;
	}
}
.loc-map {
	
	img {
		width: 100%;
	}
	.map-inner {
		height: 662px;
	}
}
.banner-btn {
	.button-common {
				font-family:$main-font-medium;
				border: solid 1px #fff;
				color: #fff;
				transition: all 0.4s;
				font-size: 12px;
				letter-spacing: 4px;
				padding: 8px 19px;
				display: inline-block;
				margin: 12px 12px;
					@media(min-width: 600px){
						margin: 0 12px;
					}
					&:hover {
						background-color: #232525;
						color: #fff;
						border-color: #232525;
					}
	}
}
.nav-pills > li {
    float: none;
	clear: both;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	font-family:$main-font-medium;
	background-color: transparent;
	color: #232525;
}

.loc-con-one {
	.container {
		width: auto;
		max-width: 1320px;
		position: relative;
	}
	
	.cap {
						position: absolute;
						bottom: 22px;
						left: 0;
						right: 0;
						color: #fff;
						font-family:$main-font-bold;
						text-transform: uppercase;
						font-size: 14px;
						text-align: center;
							@media(min-width: $screen-sm-min){
								left: 22px;
								text-align: left;
							}
					}
	
	.con-one {
			padding: 20px 15px 40px 15px;
			text-align: center;
				@media(min-width: $screen-sm-min){
					padding: 26px 15px;
				}
				@media(min-width: $screen-md-min){
					padding: 30px 0;
				}
				@media(min-width: $screen-lg-min){
					padding: 61px 10px 61px 0;
			}
			.title-head{
				font-family:$main-font-bold;
				font-size: 18px;
				text-transform: uppercase;
				color: #232525;
				letter-spacing: 1px;
					@media(min-width: $screen-sm-min){
						font-size: 24px;
					}

			}
			.des {
				font-family: "GothamHTF-Book";
				font-size: 12px;
				line-height: 24px;
				color: #8c8d8d;
				letter-spacing: 1px;
				margin: 0 auto;
				padding: 30px 0 0 0;
					@media(min-width: $screen-sm-min){
						padding: 20px 0 0 0;
					}
					@media(min-width: $screen-md-min){
						width: 85%;
					}
					@media(min-width: $screen-lg-min){
						padding: 40px 0 0 0;
						width: 71%;
					}
			}
	}
	.con-two {
		
		padding: 0 0 0 0;
		z-index:2;
			@media(min-width: $screen-md-min){
				padding: 0 0 0 10px;
			}
			.att {
				display: inline-block;
				width: 100%;
				position: relative;
					img {
						width: 100%;
					}
					
			}
			.att-1 {
				width: 100%;
				display: block;
			}
	}
	.con-tt {
		position: relative;
		padding-top: 20px;
			@media(min-width: $screen-sm-min){
				
				top: 0;
				margin-bottom: 0;
			}
			@media(min-width: $screen-md-min){
				top: -75px;
				margin-bottom: -75px;
				padding: 0 10px 0 0;
			}
			@media(min-width: $screen-lg-min){
				top: -371px;
				margin-bottom: -371px;
			}
	}
	
	.con-tt-2 {
		
		 @media(min-width: $screen-md-min){
			top: -165px;
			margin-bottom: -168px;
   		}
		@media(min-width: $screen-lg-min){
				 top: -318px;
    			margin-bottom: -315px;
			}
  
}
	.con-three {
		position: relative;
			.att {
				display: inline-block;
				width: 50%;
				position: relative;
					img {
						width: 100%;
					}
					
			}
			.att-1 {
				width: 100%;
				display: block;
			}
	}
	.con-four {
		margin: 20px 0 0 0;
		overflow: hidden;
		position: relative;
			@media(min-width: $screen-sm-min){
				.col-sm-6 {
					display: inline-block;
					float: none;
					vertical-align: middle;
				}
			}
			img {
				width: 100%;
			}
		
		.att {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.att-con {
			padding: 40px 15px;
			text-align: center;
				@media(min-width: $screen-sm-min){
					padding: 0 20px;
				}
				@media(min-width: $screen-md-min){
					padding: 0 20px;
				}
				@media(min-width: $screen-lg-min){
					padding: 0 40px 0 40px;
				}
				.nl {
					display: block;
				}
		}
		.add-1{
			font-family:$main-font-light;
			font-size: 12px;
			color: #232525;
			letter-spacing: 2px;
			text-transform: uppercase;
			line-height: 20px;
				&.local-add-1 {
					font-size: 15px;
					line-height: 24px;
				}
		}
		.add-2{
			font-family:$main-font-light;
			color: #d7d7d7;
			font-size: 26px;
			padding: 17px 0;
				@media(min-width: $screen-md-min){
					font-size: 26px;
					line-height: 33px;
					padding: 17px 0;
				}
				@media(min-width: $screen-lg-min){
					font-size: 34px;
					line-height: 42px;
					padding: 33px 0;
				}
				&.logo-wrap {
					width: 50px;
					margin: 0 auto;
					 img {
					 	width: 100%;
					 }
				}
		}
		.add-3{
			font-family:$main-font-book;
			font-size: 12px;
			color: #232525;
			letter-spacing: 1px;
			line-height: 20px;
				&.local-add-3 {
					font-size: 15px;
					line-height: 24px;
				}
		}
	}
	.con-five {
		background-color: #d7d7d7;
		margin: 0 0 0 0;
		padding: 40px 20px;
			@media(min-width: $screen-sm-min){
				margin: 0px 0 0 0;
			}
			@media(min-width: $screen-md-min){
				margin: 0px 0 0 10px;
				padding: 40px;
			}
			@media(min-width: $screen-lg-min){
				padding: 62px 80px 63px 80px;
			}
			.title-head {
				font-family:$main-font-light;
				font-size: 12px;
				color: #232525;
				letter-spacing: 2px;
				text-transform: uppercase;
				line-height: 20px;
				text-align: center;
				padding-bottom:31px;
					
			}
			p{
				font-family:$main-font-light;
				font-size: 12px;
				color: #8c8d8d;
				letter-spacing: 2px;
				
				line-height: 20px;
				text-align: center;
			}
			.con-five-list {
				padding: 30px 0 0 0;
					@media(min-width: $screen-sm-min){
						padding: 40px 0 0 0;
					}
				li {
					list-style-type: none;
					line-height: 22px;
					font-family:$main-font-book;
					color: #232525;
					letter-spacing: 1px;
					font-size: 12px;
					position: relative;
					padding: 0 0 0 20px;
						@media(min-width: $screen-sm-min){
							padding: 0 0 0 32px;
						}
						&:after {
							    content: "";
								position: absolute;
								left: 0;
								width: 4px;
								height: 4px;
								background-color: #232525;
								border-radius: 50% 50%;
								left: 0;
								top: 8px;
						}
				}
			}
			
	}
	.con-five-2 {
		padding: 40px 20px;
			@media(min-width: $screen-md-min){
				margin: 20px 0 0 10px;
				padding: 40px;
			}
			@media(min-width: $screen-lg-min){
				padding: 62px 80px 38px 80px;
			}
	}
}

.map-holder {
		margin: 20px 0 0 0;
		.map-inner {
			height: 400px;
			@media(min-width: $screen-sm-min){
				height: 660px;
			}
		}
	}
	
.loc-gal {
	padding: 20px 0 0 0;	
.loc-gal-con {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	overflow: hidden;
	position: relative;
		.strip {
			position: absolute;
				background-color: #fff;
				width: 20px;
				right: 0;
				top: 0;
				bottom: 0;
			@media(min-width: $screen-xs-min){
				width: 20px;
			}
		}
		
		@media(min-width: $screen-sm-min){
			height: 600px;
		}
		@media(min-width: $screen-md-min){
			height: 829px;
		}
}
}

.loc-cta {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			padding: 50px 15px;
			margin: 20px 0 0 0;
				@media(min-width: $screen-md-min){
					padding: 96px 15px;
				}
				.cta {
					background-color: rgba(25,198,255,0.8);
					padding: 40px 15px;
					width: 280px;
					margin: 0 auto;
						@media(min-width: $screen-sm-min){
							padding: 50px 0;
							width: 327px;
						}
						@media(min-width: $screen-md-min){
							padding: 64px 0;
						}
					.cta-logo {
						max-width: 150px;
						margin: 0 auto;
							@media(min-width: $screen-md-min){
								max-width: 225px;
							}
						img {
							width: 100%;
						}
					}
				}
				.btn-holder {
					padding: 40px 0 0 0;
						@media(min-width: $screen-sm-min){
							padding: 65px 0 0 0;
						}
				}
				
				.button-common {
				font-family:$main-font-medium;
				border: solid 1px #fff;
				color: #fff;
				transition: all 0.4s;
				font-size: 12px;
				letter-spacing: 4px;
				padding: 8px 19px;
				transition: all 0.4s;
					&:hover {
						background-color: #232525;
						color: #fff;
						border: solid 1px #232525;
					}
			}
		}
.t-feeds {
	color: #232525;
	letter-spacing: 2px;
	padding:0 0px;

	.title{
			max-width: 250px;
    		margin: 0 auto;
    		text-align:center;
		h4{

			    font-size: 24px;
			    color: #232525;
			    
			    font-family: $main-font-bold;
			    text-transform: uppercase;
		}
		p{
			font-size: 12px;
	        color: #232525;
	        line-height: 21px;
	        font-family: $main-font-light;
	        letter-spacing: .1em;
	        padding:26px 0px 60px 0px;
	        max-width: 220px;
	        margin: 0 auto;
		}
	}
	.container {
		width: auto;
		max-width: 1320px;
		background-color:#fff;
	}
	.insta-icon {
				position: absolute;
				bottom: 27px;
				left: 30px;
				width: 18px;
					img {
						width: 100%;
					}
			}
			.insta-overlay {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0,140,193,0.75);
				opacity: 0;
				transition: all 0.8s;
				text-align: center;
					&:hover {
						opacity: 1;
					}
					.overlay-con {
						position: absolute;
						top: 50%;
						left: 0;
						right:0;
						    margin-top: -20%;
					img {
						width: 30px;
					}
					span {
						font-family:$main-font-light;
						font-size: 21px;
						letter-spacing: 3px;
						text-transform: uppercase;
						color: #fff;
						line-height: 30px;
						display: block;
						padding: 30px 0 0 0;
						
					}
					}
			}
	.img-respond {
		width: 100%;
	}
	.col-sm-4, .col-md-3 {
		padding: 0;
			@media(min-width: $screen-sm-min){
				float: none;
				display: inline-block;
				vertical-align: middle;
			}
	}
	.label-1 {
		font-family:$main-font-light;
		font-size: 12px;
			a{
				color: #232525;
				text-decoration: none;
			}
	}
	.icon-t{
		padding: 20px 0;
			@media(min-width: $screen-lg-min){
				padding: 20px 0;
			}
			.fa {
				color: #d7d7d7;
				font-size: 19px;
			}
	}
	.label-2 {
		font-family:$main-font-bold;
		font-size: 12px;
		line-height: 20px;		
		margin: 0 auto;
		padding: 0 0 20px 0;
			@media(min-width: 600px){
				width: 60%;
			}
			@media(min-width: $screen-sm-min){
				width: 90%;
				padding: 0 0 20px 0;
			}
			@media(min-width: $screen-lg-min){
				padding: 0 0 70px 0;
			}
	}
	.label-3 {
		font-family:$main-font-book;
		font-size: 12px;
	}
	.feed-text {
		text-align: center;
		padding: 40px 15px;
		position: relative;
			@media(min-width: $screen-sm-min){
				padding: 0 15px;
			}
			a{
				color: #232425;
				text-decoration: none;
					&:hover, &:active, &:focus {
						color: #232425;
						text-decoration: none;
					}
			}
			
	}
	.label-date {
		display: inline-block;
		position: relative;
    	padding: 0 47px 0 0;
    	margin: 0px 16px 0 0;
		&:after {
						position: absolute;
						content: "";
						width: 31px;
						height: 1px;
						background-color: #232525;
						right: 0;
						top: 50%;
					}
		}
}
.p-found {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
		padding: 60px 15px;
			@media(min-width: $screen-sm-min){
				padding: 107px 15px;
			}
			.heading {
				font-family:$main-font-light;
				color: #fff;
				letter-spacing: 5px;
				text-transform: uppercase;
				text-align: center;
				font-size: 20px; 
					@media(min-width: 600px){
						font-size: 36px; 
					}
					@media(min-width: $screen-sm-min){
						font-size: 69px; 
					}
			}
}
.act-list-bg {
	position: relative;
		@media(min-width: $screen-md-min){
			padding-left: 10px;
		}
	img {
		width: 100%;
	}
}

.location-tabs{

	.container {
		width: auto;
		max-width: 1320px;
		position: relative;

		.tabs-links{

				    position: relative;
				    width: 100%;
				    z-index: 10;

				    padding-top: 10px;

			    @media(min-width: $screen-sm-min){
			    	 position: absolute;
			    	 width: 50%;
			    	 padding-top: 40px;
			    }



		}
	}
			
			.content-container{



					display: block;
					width: 100%;

					@media(min-width: $screen-sm-min){
						
						display: table;
						width: 100%;

					}

				.col-sm-6{
					
					display: block;
							
					text-align: center;
					vertical-align: middle;

				@media(min-width: $screen-sm-min){
					display: table-cell;
					float:none;
				}
			
			}


			}
	    	
	    	.desc{

  				max-width:366px;
  				margin:0 auto;
  				color: #232525;
  				

  				h2{
  					    font-family: "GothamHTF-Bold";
					    font-size: 24px;
					    text-transform: uppercase;
					    
					    letter-spacing: 1px;

  				}
  				h5 {
				    font-family: "GothamHTF-Light";
				    font-size: 12px;
				    padding:22px 0 0 0;
				    letter-spacing: 2px;
				    text-transform: uppercase;
				    line-height: 20px;

				    @media(min-width: $screen-sm-min){
					    	padding:35px 0;
					    }


				}
				p{

					    font-family: "GothamHTF-Book";
					    font-size: 12px;
					    letter-spacing: 1px;
					    line-height: 20px;
					    padding: 25px 15px;
					    
					    @media(min-width: $screen-sm-min){
					    	padding:0px;
					    }
				}

  			}
	   	    
  			.imp-container{

  				padding:90px 0px;

  				@media(min-width: $screen-sm-min){
					    	padding:180px 0px;
					    }

		  				.imp{

		  				max-width:288px;
		  				margin:0 auto;
		  				
		  				background-color: rgba(255, 255, 255, 0.85);
		  				padding:70px 0px;

		  				p{

		  					font-family: "GothamHTF-Medium";
		  					line-height: 27px;
		  				}

		  				}
  			}
  			


}

.top-padding{

	margin-top: 20px;
	
}

.tabs-img{
	    background-size: cover;
	    background-repeat:no-repeat;

}


.partners-text-align{

	text-align:left !important;
}
.blue-text {
	font-weight: bold;
	color: #1086b4;
}
.right-item {
	padding: 40px 0 0 0;
}
.no-margin {
	margin: 0;
}