---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner blog-banner">
      <div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
      <h1 class="page-title">Blog</h1>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="blog-list">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
        
       
        <div class="blog-item">
            <h2><a href="/blog/fantasy-fest-2016">Fantasy Fest 2016 – Political Voodoo & Ballot-Box Barbarians</a></h2>
            <span class="post-details">September 11th, 2016</span>
            <div class="post-image-holder">
             <a href="fantasy-fest-2016"><img src="/images/blog/fantasy-fest-2016.jpg" alt="Fantasy Fest 2016 – Political Voodoo & Ballot-Box Barbarians"/></a>
            <h6>Andy Newman/Florida Keys News Bureau</h6>
            </div>
              
            <p>Fall in Key West means one thing for us - Fantasy Fest - the wildest party on the island and quite possibly the country. Fantasy Fest is 10 days of outrageous costumes, intoxicating debauchery, and parties galore. Started over 30 years ago as a way to encourage tourism during Key West’s low season, <a href="http://www.fantasyfest.com/" target="_blank">Fantasy Fest</a> has now turned October into high season in Key West. That said, <a href="http://www.24northhotel.com/rooms/" target="_blank">book your room</a> as soon as possible – they always go fast. </p>
            <div class="blog-btn"><a href="/blog/fantasy-fest-2016" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
        
        <div class="blog-item">
            <h2><a href="/blog/phil-petersons-poker-run-2016">Phil Peterson’s Poker Run 2016</a></h2>
            <span class="post-details">September 1st, 2016</span>
            <div class="post-image-holder"> <a href="phil-petersons-poker-run-2016"><img src="/images/blog/phil-petersons-poker-run-2016.jpg" alt="Phil Peterson’s Poker Run 2016"/></a>
            
            </div>
            
            <p>September 15-18, 2016<br>
            Pull your bike out of the garage and hammer down to Key West for the <a href="http://www.petersonsharley.com/poker-run-harley-davidson-miami-florida--pokerrun" target="_blank">44th annual Phil Peterson’s Poker Run</a>. Win or lose, the Key West Poker Run is a prime excuse to dust off the bike and ride down one of the most scenic routes in all of America. It’s also an even better excuse for a party. After all, proceeds from the Key West Poker Run go to the <a href="http://www.diabetesresearch.org/" target="_blank">Diabetes Research Institute</a> and <a href="http://keywestsunriserotary.com/" target="_blank">the Sunrise Rotary Club</a>. </p>
            <div class="blog-btn"><a href="/blog/phil-petersons-poker-run-2016" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
        
          <div class="blog-item">
            <h2><a href="/blog/key-west-brewfest">Key West Brewfest 2016</a></h2>
            <span class="post-details">August 31st, 2016</span>
            <div class="post-image-holder"> <a href="key-west-brewfest"><img src="/images/blog/key-west-brewfest.jpg" alt="Key West Brewfest 2016"/></a>
              <h6>Photo courtesy of Key West Brewfest.</h6>
            </div>
            <p>It’s not Labor Day weekend in Key West without <a href="http://www.keywestbrewfest.com/" target="_blank">Brewfest</a>. A beer-lover’s paradise - in paradise - this popular Key West festival features tastings from craft breweries and international brands, brunch, lunch, and dinner parings, pool parties, games, and great live music. </p>
            <div class="blog-btn"><a href="/blog/key-west-brewfest" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          
          
          <div class="blog-item">
            <h2><a href="/blog/rainy-day-in-key-west">What to Do on a Rainy Day in Key West</a></h2>
            <span class="post-details">August 23rd, 2016</span>
            <div class="post-image-holder"> <a href="rainy-day-in-key-west"><img src="/images/blog/rainy-day-in-key-west.jpg" alt="What to Do on a Rainy Day in Key West"/></a> </div>
            <p> Rainy days are bound to happen from time to time, especially in the tropics. While 24 North and its <a href="http://www.24northhotel.com/rooms/" target="_blank">luxurious bedding</a> are well equipped for a day spent on the hotel grounds, here are some other options around the town to keep you out of the rain. </p>
            <div class="blog-btn"><a href="/blog/rainy-day-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/the-sheriffs-animal-farm">The Sheriff’s Animal Farm – Key West </a></h2>
            <span class="post-details">August 15th, 2016</span>
            <div class="post-image-holder"> <a href="the-sheriffs-animal-farm"><img src="/images/blog/sheriffs-animal-farm-1.jpg" alt="The Sheriff’s Animal Farm – Key West"/></a>
              <h6>Photo courtesy of Monroe County Sheriff's Office.</h6>
            </div>
            <p> This petting zoo may be located under the detention center at Stock Island, but don’t let that scare you away. This<a href="http://www.keysso.net/miscellaneous/animal_park.htm" target="_blank"> animal farm </a>is like no other in the nation. Home to 150 farm and exotic animals, it also has another curious component – inmates. </p>
            <div class="blog-btn"><a href="/blog/the-sheriffs-animal-farm" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/old-town-key-west-shuttle">Old Town Key West Shuttle</a></h2>
            <span class="post-details">August 17, 2016</span>
            <div class="post-image-holder"> <a href="old-town-key-west-shuttle"><img src="/images/blog/key-west-shuttle.jpg" alt="Old Town Key West Shuttle"/></a> </div>
            <p> One of the most convenient amenities at 24 North Hotel has to be the Old Town shuttle. With morning departures every hour, on the hour, and afternoon departures every 30 minutes, hotel guests have all the excitement of Duval Street and historic Key West minus the noise late into the night. </p>
            <div class="blog-btn"><a href="/blog/old-town-key-west-shuttle" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/lobster-fest">Key West Events: Lobsterfest 2016</a></h2>
            <span class="post-details">August 02, 2016</span>
            <div class="post-image-holder"> <a href="lobster-fest"><img src="/images/blog/lobster-fest.jpg" alt="Key West Events: Lobsterfest 2016"/></a> </div>
            <p>Thursday, August 11- Sunday, August 14, 2016<br>
              With Florida lobster season kicking off the first week in August, Key West Lobsterfest isn’t far behind. Thrown in honor of the Florida spiny lobster, this festival is easily the island’s tastiest long weekend. </p>
            <div class="blog-btn"><a href="/blog/lobster-fest" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/mini-lobster-season">Key West Events – Mini-Lobster Season 2016</a></h2>
            <span class="post-details">July 26th, 2016</span>
            <div class="post-image-holder"> <a href="mini-lobster-season"><img src="/images/blog/mini-lobster-season.jpg" alt="Key West Events – Mini-Lobster Season 2016"/></a> </div>
            <p>At 12:01 a.m. Wednesday, July 27, 2016, you can catch your very own lobster in the Florida Keys. But come 12:01 a.m. Friday, July 29, 2016, and the harvesting of lobster is once again prohibited.  This “mini” lobster season is just that – mini - hence the name, “Mini-Lobster Season.” </p>
            <div class="blog-btn"><a href="/blog/mini-lobster-season" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/the-old-key-west">The Old Key West – Key West’s Cuban History</a></h2>
            <span class="post-details">July 20th, 2016</span>
            <div class="post-image-holder"> <a href="the-old-key-west"><img src="/images/blog/the-old-key-west.jpg" alt="The Old Key West – Key West’s Cuban History"/></a>
              <h6>From the Scott DeWolfe Collection (<a href="https://www.flickr.com/photos/keyslibraries/6315815506/"  target="_blank">https://www.flickr.com/photos/keyslibraries/6315815506/</a>) at the Florida Keys Public Library</h6>
            </div>
            <p>Key West and 24 North Hotel share much more with Cuba than the same latitude line (24° N) – they have an entire history together. These days, you may be hard-pressed to find more Cuban mementos on Key West than a café con leche, cigars and rum, yet there was a time when Key West was more Cuban than American. </p>
            <div class="blog-btn"><a href="/blog/the-old-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/key-west-events-hemingway-days-2016">Key West Events – Hemingway Days 2016 </a></h2>
            <span class="post-details">July 18th, 2016</span>
            <div class="post-image-holder"><a href="key-west-events-hemingway-days-2016"><img src="/images/blog/hemingway-days-2016.jpg" alt="Key West Events – Hemingway Days 2016"/></a></div>
            <p>Key West and Ernest Hemingway go way back. In the 1930s, Hemingway didn’t just have a house in Key West, he called Key West home. Whether he was officiating boxing matches at Blue Heaven or drinking with Joe Russell at Sloppy Joe’s, Hemingway had a strong presence on the island. And Conch Republicans like to keep that presence alive each July with a week-long party.</p>
            <div class="blog-btn"><a href="/blog/key-west-events-hemingway-days-2016" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/where-to-go-on-duval">Where to Go on Duval</a></h2>
            <span class="post-details">June 28th, 2016</span>
            <div class="post-image-holder"><a href="where-to-go-on-duval"><img src="/images/blog/where-to-go-on-duval.jpg" alt="24 Things to Do in Key West - Where to Go on Duval"/></a></div>
            <p>Duval Street, i.e. the “unofficial” downtown of the Conch Republic, is hard to miss. This is where you’ll likely find yourself imbibing a few frozen beverages, or at the very least sauntering down in your search for more frozen beverages. Although there are tourist traps and bars galore lining Duval, there are still plenty of spots on Duval that are well worth your attention. Here are 24 North’s picks for a less inebriated, yet still intoxicating walk down Duval.</p>
            <div class="blog-btn"><a href="/blog/where-to-go-on-duval" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/24-things-to-do-in-key-west">24 Things to Do in Key West</a></h2>
            <span class="post-details">June 24th, 2016</span>
            <div class="post-image-holder"><a href="24-things-to-do-in-key-west"><img src="/images/blog/24-things-to-do-in-key-west.jpg" alt="24 Things to Do in Key West"/></a></div>
            <p>Ninety miles to Cuba and the southernmost point in the continental United States [unofficially], Key West is a republic all its own. The fun-loving capital of the Conch Republic is never at a loss for humor, drinks or adventure. </p>
            <div class="blog-btn"><a href="/blog/24-things-to-do-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/24-things-to-do-in-key-west-4-must-see-attractions-in-key-west">24 Things to Do in Key West – 4 Must-See Attractions in Key West</a></h2>
            <span class="post-details">June 22nd, 2016</span>
            <div class="post-image-holder"><a href="24-things-to-do-in-key-west-4-must-see-attractions-in-key-west"><img src="/images/blog/4-must-see-attractions-in-key-west-1.jpg" alt="24 Things to Do in Key West – 4 Must-See Attractions in Key West"/></a></div>
            <p>Whether you’re visiting Key West to cut loose or to adventure, there are some things you just can’t miss during your stay in the Conch Republic. Here are 24 North’s picks for the must-see attractions in Key West.</p>
            <div class="blog-btn"><a href="/blog/24-things-to-do-in-key-west-4-must-see-attractions-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/key-west-pride-2016">Key West Pride 2016</a></h2>
            <span class="post-details">June 8th, 2016</span>
            <div class="post-image-holder"><a href="key-west-pride-2016"><img src="/images/blog/key-west-pride.jpg" alt="24 Things to Do in Key West – Historical Landmarks in Key West"/></a></div>
            <p>From parties and pageants to relays and races, Key West Pride is one of the most vibrant parties on the island, and we at 24 North are proud to be celebrating in our beloved <a href="http://www.24northhotel.com/blog/unofficially-the-most-fun-in-key-west-conch-republic-independence-celebration/">Conch Republic</a>.</p>
            <div class="blog-btn"><a href="/blog/key-west-pride-2016" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/24-things-to-do-in-key-west-historical-landmarks-in-key-west">24 Things to Do in Key West – Historical Landmarks in Key West</a></h2>
            <span class="post-details">June 6th, 2016</span>
            <div class="post-image-holder"><a href="24-things-to-do-in-key-west-historical-landmarks-in-key-west"><img src="/images/blog/historical-landmarks.jpg" alt="24 Things to Do in Key West – Historical Landmarks in Key West"/></a></div>
            <p>Key West has long been the stomping grounds of notable Americans and noteworthy historical sites. Here are our favorite landmarks for the history buffs:</p>
            <div class="blog-btn"><a href="/blog/24-things-to-do-in-key-west-historical-landmarks-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/24-things-to-do-in-key-west-our-favorite-drinks-in-key-west">24 Things to Do in Key West – Our Favorite Drinks in Key West</a></h2>
            <span class="post-details">June 01, 2016</span>
            <div class="post-image-holder"><a href="24-things-to-do-in-key-west-our-favorite-drinks-in-key-west"><img src="/images/blog/key-west-drinks.jpg" alt="24 Things to Do in Key West – Our Favorite Drinks in Key West"/></a></div>
            <div class="blog-btn"><a href="/blog/24-things-to-do-in-key-west-our-favorite-drinks-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/outdoor-activities-in-key-west">Outdoor Activities in Key West</a></h2>
            <span class="post-details">May 19th, 2016</span>
            <div class="post-image-holder"><a href="outdoor-activities-in-key-west"><img src="/images/blog/kayak-outdoors.jpg" alt="24 Things to Do in Key West –Outdoor Activities in Key West"/></a></div>
            <p>Key West was made for the outdoors. While everyone comes to the island to snorkel, Key West has plenty of other outdoor activities that can easily get overlooked. </p>
            <div class="blog-btn"><a href="/blog/outdoor-activities-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/24-things-to-do-in-key-west-where-to-snorkel-dive-in-key-west">24 Things to Do in Key West – Where to Snorkel & Dive in Key West</a></h2>
            <span class="post-details">May 19th, 2016</span>
            <div class="post-image-holder"><a href="24-things-to-do-in-key-west-where-to-snorkel-dive-in-key-west"><img src="/images/blog/24-things-to-do.jpg" alt="24 Things to Do in Key West – Where to Snorkel & Dive in Key West"/></a></div>
            <p>With the only living coral reef in the continental United States, Key West is often a popular option for snorkeling and diving. However, as proud citizens of <a href="http://www.24northhotel.com/blog/unofficially-the-most-fun-in-key-west-conch-republic-independence-celebration/">the Conch Republic</a>, we do have our favorite spots to observe marine life. Allow us to suggest some spots on and off the reef.</p>
            <div class="blog-btn"><a href="/blog/24-things-to-do-in-key-west-where-to-snorkel-dive-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/4-places-you-must-eat-in-key-west">24 Things to Do in Key West - 4 Places You Must Eat in Key West</a></h2>
            <span class="post-details">May 11th, 2016</span>
            <div class="post-image-holder"><a href="4-places-you-must-eat-in-key-west"><img src="/images/blog/4-places.jpg" alt="4 Places You Must Eat in Key West"/></a></div>
            <p>As part of our ongoing series, 24 Things to Do in Key West, here are four places that you cannot miss during your stay on the island.</p>
            <div class="blog-btn"><a href="/blog/4-places-you-must-eat-in-key-west" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/an-interview-with-jorge-de-la-torriente-of-de-la-gallery">An Interview with Jorge de la Torriente, of DE LA Gallery</a></h2>
            <span class="post-details">May 6th, 2016</span>
            <div class="post-image-holder"><a href="an-interview-with-jorge-de-la-torriente-of-de-la-gallery"><img src="/images/blog/an-interview-with-jorge-de-1.jpg" alt="An Interview with Jorge de la Torriente, of DE LA Gallery"/></a></div>
            <p>24 North Hotel is filled with some stellar images, thanks to the work of Key West photographer <a href="http://delagallery.com/" target="_blank">Jorge de la Torriente</a>. We got a chance to catch up with Jorge and find out a little more about his work in 24 North Hotel.</p>
            <div class="blog-btn"><a href="/blog/an-interview-with-jorge-de-la-torriente-of-de-la-gallery" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="blog-item">
            <h2><a href="/blog/the-songwriters-festival-a-key-west-classic">The Songwriter’s Festival – A Key West Classic</a></h2>
            <span class="post-details">April 26th, 2016</span>
            <div class="post-image-holder"><a href="the-songwriters-festival-a-key-west-classic"><img src="/images/blog/the-songwriters-festival-1.jpg" alt="The Songwriter’s Festival – A Key West Classic"/></a></div>
            <p>It wouldn’t be May in Key West without the annual Songwriter’s Festival. This iconic festival honors the artists who write the hits for big billboard acts, but don’t perform them. Songwriter’s is an opportunity for these artists to perform their songs and tell the stories behind them. Headlining this year’s 21st annual festival are Jake Owen, Robert Earl Keen, Rhett Akins and Natalie Hemby.</p>
            <div class="blog-btn"><a href="/blog/the-songwriters-festival-a-key-west-classic" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
          <div class="divider-line"></div>
          <div class="blog-item">
            <h2><a href="/blog/unofficially-the-most-fun-in-key-west-conch-republic-independence-celebration">Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration</a></h2>
            <span class="post-details">April 18th, 2016</span>
            <div class="post-image-holder"><a href="unofficially-the-most-fun-in-key-west-conch-republic-independence-celebration"><img src="/images/blog/conch-lead.jpg" alt="Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration"/></a></div>
            <p>On April 23, 1982, Key West seceded from the United States, and the Conch Republic was born. The story goes that the U.S. Border Patrol set up a roadblock on one of the two roads that connects the archipelago to the mainland, causing a 17-mile traffic jam on the island. Seeing this act as a threat to their livelihood and the tourism industry, Key West residents protested. However, they didn’t use banners, signs and marches – they seceded.</p>
            <div class="blog-btn"><a href="/blog/unofficially-the-most-fun-in-key-west-conch-republic-independence-celebration" class="button-common btn-blue">Read More<i class="fa fa-play"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 no-padding"> 
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>--> 
      </div>
    </div>
  </div>
</section>
