---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/contact/contact-banner.jpg)">
      <h1 class="page-title">Contact</h1>
    </div>
  </div>
</section>

<section class="contact"> 
  <div class="container no-padding">
    <div class="contact-wrap">
    <!-- <ul class="gallery-nav">
         <li><a href="/contact/" class="active">Contact</a></li>
          <li><a href="/subscribe/">Subscribe</a></li>
          <li><a href="/group-hotel-booking-in-key-west/request-for-proposal/">Request for Proposal</a></li>
        </ul> -->
      <div class="col-sm-8">
          <div class="-left">
          {% region contact-content %}
              <!-- <h3>Learn More About Our Boutique Hotel in Key West</h3>
                <p>Contact The Gates Hotel Key West</p>
                <p>The Gates Hotel Key West is a new lifestyle hotel in Key West that offers 100 contemporary accommodations with an urban chic flare. Featuring one of the best locations for hotels in Key West, our family-friendly Key West hotel is located at the entrance of the island. For more information or directions, contact our front desk and take a peek at our map below.</p> -->
                <div class="groups contact-con">
  <div class="container no-padding">
    <div class="rfp-wrapper contact-form">
      <div class="contact-form">
        <form action="https://submit.jotform.me/submit/70191033211439/" method="post" name="form_70191033211439" id="70191033211439" accept-charset="utf-8" autocomplete="off">
          <input type="hidden" name="formID" value="70191033211439" />
          
          
          
          <div class="two-fields-holder">
            <div class="col-sm-6 no-padding">
              <div class="form-group right-space">
                <input type="text" class="form-control" id="input_1" name="q1_firstName" placeholder="First Name" required>
              </div>
            </div>
            <div class="col-sm-6 no-padding">
              <div class="form-group left-space">
                <input type="text" class="form-control" id="input_11" name="q11_lastName" placeholder="Last Name" required>
              </div>
            </div>
          </div>
          
          <div class="two-fields-holder">
          <div class="col-sm-6 no-padding">
              <div class="form-group right-space">
                <input type="email" class="form-control" id="input_3" name="q3_email" placeholder="Email" required>
              </div>
            </div>
            <div class="col-sm-6 no-padding">
              <div class="form-group left-space">
                <input type="text" class="form-control" id="input_10" name="q10_subject" placeholder="Subject">
              </div>
            </div>
          </div>
          
          <div class="two-fields-holder">
            <div class="col-sm-12 no-padding">
              <div class="form-group">
                <textarea class="message-box form-control" id="q9_yourMessage"></textarea>
              </div>
            </div>
          </div>
          
          
          
          <button type="submit" id="input_2" class="btn btn-default">Submit</button>
        </form>
        <script type="text/javascript">JotForm.ownerView=true;</script>
        
      </div>
    </div>
  </div>
  
</div>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="-right">
           {% region contact-address %}
          
          <div class="right-item">
            {% region contact-contacts %}

            </div>
            </div>
        </div>      
    </div>
  </div>
</section>
