<!DOCTYPE html>
<html>
{% include head.html %}

<body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser">
<input type="hidden" id="siteLang" value="{{site.active_lang}}" />	
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5C3FP27"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include header.html %}

	{{ content }}


{% include footer.html %}

{% include scripts.html %}
{% if page.map == true %}
	{% include map.html %}
{% endif %}
{% include booking-widget.html %}


</body>
</html>
