---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/dining/dining-banner.jpg)">
      <h1 class="page-title">{%t 'about.dining-page-title' %}</h1>
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>--> 
    </div>
  </div>
</section>
<section>
  <div class="container no-padding rum-row-container">
    
    <div class="col-sm-6 no-padding content"> {% region beergarden-content%} </div>
    <div class="col-sm-6 no-padding img-container"> 
      <!-- {% region rum-row-container-image%} --> 
      
      <img src="/images/dining/beergarden.jpg" alt="Dining"> 
      <!-- <div class="play-btn"><a href="javascript:void(0);" data-toggle="modal" data-target="#gatesVideo"><img src="/images/play-btn.svg" alt="" /></a></div> --> 
    </div>
  </div>
</section>
<section>
  <div class="container no-padding rum-row-container pad">
    <div class="col-sm-6 no-padding img-container"> 
      <!-- {% region rum-row-container-image%} --> 
      
      <img src="/images/dining/restaurent.jpg" alt="Dining"> 
      <!-- <div class="play-btn"><a href="javascript:void(0);" data-toggle="modal" data-target="#gatesVideo"><img src="/images/play-btn.svg" alt="" /></a></div> --> 
    </div>
    <div class="col-sm-6 no-padding content"> {% region rum-row-container-content%} </div>
    <div> </div>
  </div>
</section>
<section>
  <div class="container no-padding rum-wars-container">
    <div class="col-sm-6 no-padding">
      <div  class="poolside-container "> {% region poolside-content%} </div>
      <div class="poolside-images-container">
        <div class="pool-img-1"> </div>
        <div class="pool-img-2"> </div>
      </div>
    </div>
    <div class="col-sm-6 no-padding rum-img-container"> <img src="/images/dining/rum-wars.jpg" alt="Rum Row is the quintessential Key West hangout"/> </div>
  </div>
</section>
<section>
<section class="rd-row-1">
  <div id="rd-carousel" class="carousel slide" data-ride="carousel"> 
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image:url(/images/dining/best-cuisine.jpg);">
        <div class="rdc-car-con overlay-con dining-overlay"> {% region cuisine-content%} </div>
      </div>
    </div>
  </div>
</section>
{% include twitter-instagram.html %} 
