---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/dining/dining-banner.jpg)">
     <h1 class="page-title">{%t 'about.dining-page-title' %}</h1>
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>
<section>
      <div class="container no-padding rum-row-container">

                        <div class="col-sm-6 no-padding img-container">
                       <!-- {% region rum-row-container-image%} -->
                        
                        <img src="/images/dining/rum-image1.jpg" alt="">
                        <!-- <div class="play-btn"><a href="javascript:void(0);" data-toggle="modal" data-target="#gatesVideo"><img src="/images/play-btn.svg" alt="" /></a></div> -->
                        </div>

                        <div class="col-sm-6 no-padding content">
                        {% region rum-row-container-content%}
                        
                        </div>
                        <div>
                        
                        </div>


      </div>
</section>
<section>
      <div class="container no-padding rum-wars-container">

      <div class="col-sm-6 no-padding">
      <div  class="poolside-container ">
      {% region poolside-content%}
                        

      
      </div>
      <div class="poolside-images-container">
      <div class="pool-img-1">
      
      </div>
       <div class="pool-img-2">

      </div>
      </div>
      </div>
      <div class="col-sm-6 no-padding rum-img-container">
       <img src="/images/dining/rum-wars.jpg" alt="Rum Row is the quintessential Key West hangout"/>
      </div>


      </div>

</section>



<section>
<!--       <div class="container no-padding rum-row-container">

                        

                        <div class="col-sm-6 no-padding content the-blind-pig-content">
                        {% region the-blind-pig-content2%}
                                               
                        </div>
                        <div class="col-sm-6 no-padding img-container">
                        {% region the-blind-pig-content-image%}
                        
                        </div>
                        <div>
                        
                        </div>


      </div>
</section>
 -->

<section class="rd-row-1">
  <div id="rd-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators 
  <ol class="carousel-indicators">
    <li data-target="#rd-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#rd-carousel" data-slide-to="1"></li>
    <li data-target="#rd-carousel" data-slide-to="2"></li>
    <li data-target="#rd-carousel" data-slide-to="3"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url(/images/dining/best-cuisine.jpg);">
     <div class="rdc-car-con overlay-con dining-overlay">
         {% region cuisine-content%}
        
     </div> 
    </div>

  </div>

  <!-- Left and right controls 
  <a class="left carousel-control" href="#rd-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#rd-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
</section>

{% include twitter-instagram.html %}

  <!-- Modal popup -->
  
  <div id="gatesVideo" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        
                      </div>
                      <div class="modal-body">
                        <div class='embed-container'><iframe src='https://www.youtube.com/embed/rVzXaAKaNec?rel=0' frameborder='0' allowfullscreen></iframe></div>
                      </div>
                      
                    </div>
                
                  </div>
                </div>