---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/location-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>
<section>
      <div class="container no-padding rum-row-container">

                        <div class="col-sm-6 no-padding img-container">
                        <img src="/images/dining/rum-image1.jpg" alt="Rum Row is the quintessential Key West hangout"/>
                        </div>

                        <div class="col-sm-6 no-padding content">
                        <img src="/images/rum-row.svg" alt="Rum Row is the quintessential Key West hangout"/>
                        <p>By day a sunny retreat for poolside lounging and
small bites and by night a lively watering hole featuring great cocktails and live local music, Rum Row is the quintessential Key West hangout. Our Key West hotel promises a pool scene without the scene—kick back, chill out, and celebrate the best of the island all in one spot.</p>
                        <a class="button-common loc-btn" href="">Contact us</a>
                        </div>
                        <div>
                        
                        </div>


      </div>
</section>
<section>
      <div class="container no-padding rum-wars-container">

      <div class="col-sm-6 no-padding">
      <div  class="poolside-container ">

                        <h5>RETREAT FOR POOLSIDE LOUNGING</h5>
                        <p>Rum Row’s bar and lounge are open to hotel guests
                        from 11am to 10pm. Guests must be 21 or older to enter the bar and lounge. The pool is open to all ages and accessible from 8am to 10pm. The Blind Pig food truck serves food all day to Rum Row guests, starting with breakfast from 7am to 11am and lunch and dinner from 11am to 10pm.</p>
                        <a class="button-common loc-btn" href="">View menu</a>

      
      </div>
      <div class="poolside-images-container">
      <div class="pool-img-1">
      
      </div>
       <div class="pool-img-2">

      </div>
      </div>
      </div>
      <div class="col-sm-6 no-padding rum-img-container">
       <img src="/images/dining/rum-wars.jpg" alt="Rum Row is the quintessential Key West hangout"/>
      </div>


      </div>

</section>



{% include twitter-instagram.html %}

