---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/events-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>

 <ul class="gallery-nav events-filter-nav">
    <li><a href="javascript:;" data-rel="all" class="filter active" data-filter="all">All</a></li>
    {% assign catlist = site.data._models.event_category %} 

    {% for cat in catlist %}
    <li><a href="javascript:;" data-rel="{{cat.title}}" class="filter">{{cat.title}}</a></li>
    {% endfor %}
  </ul>

{% assign eventList = site.data._models.events | sort: 'datemeta' %}
{% for events in eventList  %}
{% capture eventDay %}{{ site.time | date: '%s' }}{% endcapture %}
{% capture eventDays %}{{ events.end_date | date: '%s' }}{% endcapture %}
{% if eventDays >= eventDay  %}
<section class="models events fancybox" data-filter="{{events.category.title}}">
      <div class="container">
        <div class="two-col-wrap">
          <div class="row no-gutters">
          	 <div class="col-sm-6 sp-img {% cycle '', 'pulling-right' %}"> <img src="{{events.event_image.url}}" alt=""></div>
          	<div class="col-sm-6 sp-content">
           
              <h2>{{events.title}}</h2> 
              <ul class="date-time">
              	<li>{{events.start_date  |  date: "%B %d, %Y"}} - {{events.end_date  |  date: "%B %d, %Y"}}</li>
                
              </ul>
    		  <div class="btn-holder"><a href="{{events.url_friendly_name}}" class="button-common button-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
           
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}
    
        
    

