---
layout: default
---
{% if  site.active_lang == 'es' %}
{% assign langPrefix = '/es' %}
{% assign langPrefixHome = 'es' %}
{% assign locale = "locale=es" %}
{% endif %}
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/meetings/meetings-banner-2.jpg)">
      <h1 class="page-title">{% t 'events.page-title' %}</h1>

      <div class="banner-btn"><a href="{{ '/contact' | permalink }}" class="button-common">{% t 'events.contact-button' %}</a><a href="{{ '/request-for-proposal' | permalink }}" class="button-common">{% t 'events.rfp-button' %}</a></div>

    </div>
  </div>
</section>

<section class="loc-con-one meetings">
      		<div class="container no-padding">
                	<div class="col-sm-6 no-padding">
                    	<div class="con-one meetins-events">
                    	{% region meetings-events %}
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                    	<div class="con-two">
                    		<span class="abt">{% region abt-image-1 %}</span>
                        </div>
                    </div>
                </div>
                <div class="container no-padding">
                	<div class="col-md-6 no-padding">
                    <div class="con-tt">
                    	<div class="con-three">
                             <span class="att default-spacing-minus"><div class="sp-right">{% region abt-image-2 %}</div></span><span class="att">
                             <div class="sp-left menu-list">{% region abt-image-3 %}
                            <!-- <a class="btn btn-lg btn-primary button-home food" href="#">Food Menu</a>
                             <a class="btn btn-lg btn-primary button-home drinks" href="#">drinks Menu</a> -->
                             </div>
                             </span>
                        </div>

                        </div>
                    </div>
                    <div class="col-md-6 no-padding prox">
                    	<div class="prox-content">
                        	<h2>{% t 'events.venue-title' %}</h2>
                            <ul class="about-list meetings-list">
                                {% t 'events.venue-list' %}
                            </ul>
                        </div>

                    </div>

                </div>
      </section>

<!-- rooms section -->
<section class="animatedParent">
  <div id="rooms-carousel-home" class="carousel rooms-carousel slide animated fadeInUp" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <!-- Wrapper for slides -->
      <div class="item active"  style="background-image:url(/images/meetings/exquisite.jpg);">

            <div class="carousel-caption">
            <h3>{% t 'events.venue-cta-title' %}</h3>
            <p>{% t 'events.venue-cta-text' %}</p>
            <a class="btn btn-lg btn-primary button-home" href="{{ '/about' | permalink }}">{% t 'events.venue-cta-button' %}</a>
            </div>

        </div>

      <!-- Indicators
      <ol class="carousel-indicators">
        <li data-target="#rooms-carousel-home" ng-repeat="room in browser.roomsList | limitTo: 5" data-slide-to="[[$index]]">[[room.name]]</li>
      </ol>-->
      <!-- Left and right controls -->
      <div class="home-bottom-controllers">

      <a class="" href="#rooms-carousel-home" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>  </a>

       <a class="" href="#rooms-carousel-home" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  </a>

       </div>
       </div>
  </div>
</section>

<!-- rooms section ends here-->

<section class="loc-con-one meetings weddings">
      		<div class="container no-padding">
                	<div class="col-sm-6 no-padding">
                    	<div class="con-one meeting-one">
                    	{% region weddings-events %}
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                    	<div class="con-two">
                    		<span class="abt">{% region weddings-events-image-1 %}</span>
                        </div>
                    </div>
                </div>
                <div class="container no-padding">
                	<div class="col-md-6 no-padding">
                    <div class="con-tt">
                    	<div class="con-three">
                             <span class="att meet-grid-1 default-spacing-minus"><div class="sp-right" style="background-image:url(/images/meetings/meetings-4.jpg)"></div></span>
                             <span class="att meet-grid-2"><div class="sp-left" style="background-image:url(/images/meetings/meetings-5.jpg)"></div></span>
                        </div>

                        </div>
                    </div>
                    <div class="col-md-6 no-padding prox">
                    	<div class="con-four">
                        	<div class="col-sm-5 no-padding att default-spacing-minus">
                            	<img class="img-responsive" src="/images/meetings/meetings-7.jpg" alt="">
                            </div>
                            <div class="col-sm-7 no-padding att-con">
                            	<div class="add-1">{% t 'events.plan-title' %}</div>
                                <div class="add-2">
                                	<div class="btn-holder"><a href="{{ '/contact' | permalink }}" class="button-common outline wide">{% t 'events.contact-button' %}</a></div>
                                </div>
                                <div class="add-3 meetings-contact"><a href="tel:+34934895300">+34 934 895 300</a>. or <br><a href="mailto:info@diagonalhotelbarcelona.com">info@diagonalhotelbarcelona.com</a></div>
                          </div>
                        </div>

                    </div>

                </div>
      </section>

      <section class="loc-cta about-cta" style="background-image: url(/images/meetings/meetings-cta.jpg);">
	<div class="container-fluid no-padding">
    	<div class="cta">
        	<h3>{% t 'events.moment-title' %}</h3>
        	<div class="cta-logo"><a href="{{ '/' | permalink }}"><img src="/images/diagnol-symbol.svg" alt="Hotel Diagonal Barcelona"/></a></div>
            <div class="btn-holder text-center"><a href="{{ '/request-for-proposal' | permalink }}" class="button-common">{% t 'events.rfp-button' %}</a></div>
        </div>
    </div>
</section>

{% include twitter-instagram.html %}
