---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/gates/gallery-banner.jpg)">
      <h1 class="page-title">Visual Tour</h1>
    </div>
  </div>
</section>

<section> 
  <!-- gallery wrap --> 
  <div class="gallery-wrapper">
    <div class="gallery-listing">
      <div class="container">
        <ul class="gallery-nav">
         <li><a href="javascript:;" data-rel="all" class="filter active" data-filter="all">All</a></li>
          <li><a href="javascript:;" data-rel="hotel" class="filter">Hotel</a></li>
          <li><a href="javascript:;" data-rel="rooms" class="filter">Rooms</a></li>
          <li><a href="javascript:;" data-rel="dining" class="filter">Dining</a></li>
          <li><a href="javascript:;" data-rel="amenities" class="filter">Amenities</a></li>
          <li><a href="javascript:;" data-rel="attractions" class="filter">Attractions</a></li>
        </ul>
      </div>
      <div class="container gallery-wrap" id="lightgallery">
        
      </div>
    </div>
    
    
    <!--<div class="btn-holder text-center"><a href="javascript:void(0);" class="button-common">load more images</a></div>-->
  </div>
  <!--/gallery wrap --> 
</section>
