---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/gates/gallery-banner.jpg)">
      <h1 class="page-title">Visual Tour</h1>
    </div>
  </div>
</section>

<section> 
  <!-- gallery wrap --> 
  <div class="gallery-wrapper">
    <div class="gallery-listing">
      <div class="container">
        <ul class="gallery-nav">
         <li><a href="javascript:;" data-rel="all" class="filter active" data-filter="all">All</a></li>
          <li><a href="javascript:;" data-rel="hotel" class="filter">The Hotel</a></li>
          <li><a href="javascript:;" data-rel="restaurant" class="filter">Restaurant & Bar</a></li>
          <li><a href="javascript:;" data-rel="rooms" class="filter">Rooms & Suites</a></li>
        </ul>
      </div>
      <div class="container gallery-wrap" id="lightgallery">
        <ul class="row">
{% assign hotel_images = site.data._models.gallery_hotel_images | sort : "sort_order" %}
{% for hotel_gallery in hotel_images %}          
          <li class="col-md-4 col-sm-4 fancybox" data-filter="hotel">
            <div class="item" data-src="{{hotel_gallery.large_image.url}}"><img src="{{hotel_gallery.thumb_image.url}}" class="img-responsive"/> </div> 
          </li>
{% endfor %}  
{% assign resta_images = site.data._models.gallery_restaurent_images | sort : "sort_order" %}
{% for resta_gallery in resta_images %}          
          <li class="col-md-4 col-sm-4 fancybox" data-filter="restaurant">
            <div class="item" data-src="{{resta_gallery.large_image.url}}"><img src="{{resta_gallery.thumb_image.url}}" class="img-responsive"/> </div> 
          </li>
 {% endfor %}          
{% assign roomsnsuites_images = site.data._models.gallery_roomsnsuites_images | sort : "sort_order" %}
{% for roomsnsuites_gallery in roomsnsuites_images %}            
           <li class="col-md-4 col-sm-4 fancybox" data-filter="rooms">
            <div class="item" data-src="{{roomsnsuites_gallery.large_image.url}}"><img src="{{roomsnsuites_gallery.thumb_image.url}}" class="img-responsive"/> </div> 
          </li>  
{% endfor %}                  
        </ul>
      </div>
    </div>
    
    
    <!--<div class="btn-holder text-center"><a href="javascript:void(0);" class="button-common">load more images</a></div>-->
  </div>
  <!--/gallery wrap --> 
</section>
