---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/groups-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>

<section class="groups">

      <div class="container no-padding">

      <p> Meet at The Gates. A new lifestyle hotel in Key West, Florida located minutes from world famous Duval Street. Offering 100 guestrooms, The Gates Hotel, perfect for any group getaway, is pleased to host incentive travelers, group tours, reunions and wedding parties. We currently offer discounted group rates for 10 rooms or more. The Gates Hotel Key West provides an ideal location for exploring the city like a local. Our hotel is located in a tropical paradise, tucked away just a stones throw away from the most popular landmarks in the city, such as Duval Street, Southernmost Point and Smathers Beach.</p>

      <p> For onsite functions, the Rodriguez Lounge offers the perfect backdrop for gatherings of small groups. Intimate parties can enjoy libations at Rum Row, the hotel’s chic pool bar and lounge area. Let our staff take care of  your guests needs while they sip on tropical drinks at the bar. Our onsite concierge can assist with group activities, water excursions and private charters on both land and water. In addition to all the tropical perks of Key West, we also offer complimentary Wi-Fi throughout the property.</p>

      <h2>Contact Information</h2>

      <div class="rfp-wrapper">
      <div class="contact-form">
                    <form action="https://submit.jotform.me/submit/61642931034450/" method="post" name="form_61642931034450" id="61642931034450" accept-charset="utf-8" autocomplete="off">
            <input type="hidden" name="formID" value="61642931034450" />
            
           
            
    <div class="two-fields-holder">            
    <div class="col-sm-6 no-padding">
        <div class="form-group right-space">
          <input type="text" class="form-control" id="input_3" name="q3_first-name" placeholder="First Name" required> 
        </div>
    </div>
     <div class="col-sm-6 no-padding"> 
         <div class="form-group left-space">
          <input type="text" class="form-control" id="input_9" name="q9_last-name" placeholder="Last Name" required>
        </div>
    </div>
    </div>
    
    <div class="two-fields-holder">            
    <div class="col-sm-6 no-padding">
        <div class="form-group right-space">
          <input type="text" class="form-control " id="input_11" name="q11_address-line-1" placeholder="Company"> 
        </div>
    </div>
     <div class="col-sm-6 no-padding"> 
         <div class="form-group left-space">
          <input type="text" class="form-control" id="input_12" name="q12_address-line-2" placeholder="Address">
        </div>
    </div>
    </div>
    
    <div class="two-fields-holder">            
    <div class="col-sm-6 no-padding">
        <div class="form-group right-space">
          <input type="text" class="form-control" id="input_13" name="q13_city" placeholder="City"> 
        </div>
    </div>
     <div class="col-sm-6 no-padding"> 
         <div class = "form-group left-space">
           <input type="text" class="form-control" id="input_13" name="q13_city" placeholder="Postal Code"> 
        </div>
    </div>
    </div>
    
    <div class="two-fields-holder">            
    <div class="col-sm-6 no-padding">
        <div class="form-group right-space">
          <input type="text" class="form-control" id="input_14" name="q14_zipcode" placeholder="Phone Number" required> 
        </div>
    </div>
     <div class="col-sm-6 no-padding"> 
         <div class="form-group left-space">
           <input type="email" class="form-control" id="input_4" name="q4_email" placeholder="Email" required> 
        </div>
    </div>
    </div>
    
    <div class="rooms-suites coconut-groove">
      <h2>Group Information</h2>
    </div>
    
   
    
    <div class="two-fields-holder">            
    <div class="col-sm-6 no-padding">
        <div class="form-group right-space">
          <input type="text" class="form-control main-date" id="input_17" name="q17_wedding-date" placeholder="Arrival Date"> 
        </div>
    </div>
     <div class="col-sm-6 no-padding"> 
         <div class="form-group left-space">
          <input type="text" class="form-control alternate-date" id="input_18" name="q18_alternative-wedding-date" placeholder="Departure Date">
        </div>
    </div>
    </div>
    
    <div class="two-fields-holder">            
    <div class="col-sm-6 no-padding">
        <div class="form-group right-space">
         <select class = "form-control" id="input_10" name="q10_state">
            <option value selected>Number of Rooms</option>
            <option value="AL" >10 Rooms</option>
            <option value="AK" >11-30 Rooms</option>
            <option value="AK" >31-50 Rooms</option>
            <option value="AB" >50 Rooms</option>

         </select>
        </div>
    </div>
     <div class="col-sm-6 no-padding"> 
         <div class="form-group left-space">
         <select class = "form-control" id="input_10" name="q10_state">
            <option value selected>Event Type</option>
            <option value="AL" >Corporate</option>
            <option value="AK" >Wedding</option>
            

         </select>
        </div>
    </div>
    </div>

     <div class="two-fields-holder">            
    <div class="col-sm-6 no-padding">
        <div class="form-group right-space">
         <select class = "form-control" id="input_10" name="q10_state">
            <option value selected>Are date flexible</option>
            <option value="AL" >Yes</option>
            <option value="AK" >No</option>
           

         </select>
        </div>
    </div>
     <div class="col-sm-6 no-padding"> 
         <div class="form-group left-space">
          <input type="text" class="form-control" id="input_4" name="q4_email" placeholder="Comments" required> 
        </div>
    </div>
    </div>



    <button onclick="goog_report_conversion('http://www.mayfairhotelandspa.com/weddings-rfp/'), ga('send', 'event', 'Form', 'submit', 'Wedding Request')"  type="submit" id="input_2" class="btn btn-default">Submit</button>
  </form>
  <script type="text/javascript">JotForm.ownerView=true;</script>
 

                 </div>
           </div>
      </div>
  

</section>





{% include twitter-instagram.html %}

