---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/groups-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>
<section class="groups">
  <div class="container no-padding">
  <h2>Meet at The Gates</h2>
  <p>A new lifestyle hotel in Key West, Florida located minutes from world famous Duval Street.</p>
  <p>For onsite functions, the Rodriguez Lounge offers the perfect backdrop for gatherings of small groups. Intimate parties can enjoy libations at Rum Row, the hotel’s chic pool bar and lounge area.</p>
  <p>For inquiries, please call the Sales Office at <a href="tel:(305) 320-0930">(305) 320-0930</a></p>
  <div class="btn-holder"><a href="/group-hotel-booking-in-key-west/request-for-proposal/" class="button-common button-blue">Request for Proposal</a></div>
    <!-- <p>Meet at The Gates. A new lifestyle hotel in Key West, Florida located minutes from world famous Duval Street. Offering 100 guestrooms, The Gates Hotel, perfect for any group getaway, is pleased to host incentive travelers, group tours, reunions and wedding parties. We currently offer discounted group rates for 10 rooms or more. The Gates Hotel Key West provides an ideal location for exploring the city like a local. Our hotel is located in a tropical paradise, tucked away just a stones throw away from the most popular landmarks in the city, such as Duval Street, Southernmost Point and Smathers Beach.</p>
    <p> For onsite functions, the Rodriguez Lounge offers the perfect backdrop for gatherings of small groups. Intimate parties can enjoy libations at Rum Row, the hotel’s chic pool bar and lounge area. Let our staff take care of  your guests needs while they sip on tropical drinks at the bar. Our onsite concierge can assist with group activities, water excursions and private charters on both land and water. In addition to all the tropical perks of Key West, we also offer complimentary Wi-Fi throughout the property.</p>-->
    
  </div>
  
</section>
{% include twitter-instagram.html %}