---
layout: default 
---
{% if  site.active_lang == 'es' %}
{% assign langPrefix = 'es' %}
{% assign locale = "locale=es" %}
{% endif %}
<section>
<section>
  <div class="home-slider">
      {% assign banner_images = site.data._models.home_banner_carousel  | sort : "sort_order" %}
      {% for bannerimages in banner_images %}
        <div>
          <div class="overlay"></div>
            {% if forloop.index == 1 %}
            <div class="banner-logo"></div>
            {% endif %}
            
             <img src="{{ bannerimages.slider_image.url }}" class="width-full"  alt=""/>
             <div class=" social-icons">
              <h6>{% t 'home.fallow' %}</h6>
             <a href="https://www.facebook.com/HotelDiagonalBCN/" target="blank"><i class="fa fa-facebook"></i></a><span></span> <a href="https://twitter.com/Hotel_Diagonal" target="blank"><i class="fa fa-twitter"></i></a><span></span> <!--<a href="https://www.youtube.com/user/silkendiagonalbcn" target="blank"><i class="fa fa-youtube"></i></a>--><a href="https://www.instagram.com/explore/locations/1295080/hotel-silken-diagonal-barcelona/" target="blank"><i class="fa fa-instagram"></i></a> <!-- <span></span> <a href="/" target="blank"><i class="fa fa-pinterest-p"></i></a> -->
            </div>
        </div>
      {% endfor %}  
      </div>
    </section>
    <section>
              <div class="container-fluid global-container no-padding">
                <div class="row welcome-row">
                  <div class="col-sm-6 left-block no-padding">
                    <div>
                      <div class="two-col-content">
                        {% region welcome-paradise %}
                        <div class="left-img">{% region twocol-left-img %}
                          <div class="wrapper weather-widget">
                            <div class="panel bg-panel">
                            <div class="wrapper weather-widget">
                              <div class="panel bg-panel">
                              <div class="weather" id="weather">
                                <div class="temperature" id="temperature">
                                  <div id="temp">
                                    <p>{% t 'home.weather' %}</p>
                                     <i></i>
                                    <div>
                                      <ul class="list-inline">
                                        <li>
                                          <span  class="degree fahr"></span>
                                          <h6>Fahrenheit</h6>
                                        </li>
                                        <li><span class="seperator"></span></li>
                                        <li>
                                          <span class="degree cel"></span>
                                          <h6>Celsius</h6>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 right-block no-padding">
                    <div class="visual-container">{% region two-col-1-img %}
                     <!--  <div class="visual-title">
                        <div> </div>
                         </div> -->
                      </div>
                      <div class="detailsbg" >
                        <div class="details-img pull-left">{% region home-detailsbg-img %}</div>
                        <div class="details-events pull-right">
                          {% region latest-happiness-box %}
                        </div>
                        <div class="clearfix"> </div>
                      </div>
                    </div>
                </div>
              </section>
        
                     <section>
                <div id="rooms-carousel-home" class="carousel rooms-carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  
                  <ol class="carousel-indicators">
                    <li data-target="#rooms-carousel-home" ng-repeat="room in browser.roomsList | limitTo: 4" data-slide-to="[[$index]]">[[room.name]]<span></span></li> 
                    <a href="{{'/rooms' | permalink }}" class="pull-right">[ {% t 'home.more' %} ]</a>
                  </ol>
                    
                    <div class="carousel-inner" role="listbox">                  
                                   
                    <!-- Wrapper for slides -->                
                      
                          
                         
                          <div class="item" ng-repeat ="room in browser.roomsList | limitTo: 4" ng-class='{active:$first}'>
                        
                        <!-- <img ng-src="[[room.photos[0].large]]" alt=""> -->
                        <div style='background: url([[room.photos[0].large]]) center center /  cover no-repeat;' class="rooms-image">
                        <div class="container">
                          <div class="carousel-caption">
                            
                             <h3>[[room.name]]</h3>
<p>[[room.description | limitTo: 100]][[room.description.length > 100 ? '...' : '']],</p><a class="btn btn-lg btn-primary button-home button-blue" href="{{'/rooms' | permalink}} ">{% t 'home.viewallrooms' %}</a>
                            
                            </div>
                          </div>
                      </div>              
                
                                     
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#rooms-carousel-home" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#rooms-carousel-home" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
                        </section>
                        

                    <section class="special-offers container-fluid" style="background-image: url(/images/offers-bg.jpg);"  rt3-special-rates= "offers">

                    <div class="container no-padding">
                      <h3>{% t 'home.offer-p' %}</h3>
                      <div class="col-sm-4  col-md-4" ng-repeat ="offer in offers.special_rates | limitTo: 3">
                      <div class="offer-inner">
                        <h5> {% t 'home.offer' %} </h5>
                        <h4 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"> <!-- Breakfast<br>Package --></h4>

                       <a class="btn btn-lg btn-primary button-home " href="{{ '/offer-details' | permalink }}#[[offer.rate_plan_name | formatNameForLink ]]">{% t 'home.offer-button-1' %}</a>
                       <div class="offer-image" ng-style='{"background-image": "url([[offer.lead_photo_url.yankee_large]])"}'> </div>
                       </div>
                      </div>

                    <div class="clearfix"></div>
                    <a class="btn btn-lg btn-primary  button-offers " href="{{ '/offers' | permalink }}">{% t 'home.offer-button-2' %}</a>
                    
                    </div>
                    <div class="clearfix"></div>
                    </section>

                        <section >
                          <div class="global-container home-offers center-block top-margin">
                            <div class="">
                              <div class="left-col">
                               
                                    <div id="offers-carousel" class="carousel slide offers-carousel" data-ride="carousel">
                                     <div class="carousel-inner">
                                        <div class="">
                                        {% region exceptionalbarcelona %}
                                        <!-- <h3>Exceptional <br>Barcelona </h3>
                                        <p>Whether you're visiting San Francisco for the first time or if you're a seasoned visitor - soon after choosing your San Francisco Hotel, you want to know about the many things to do in San Francisco.</p>
                                        <a class="btn btn-lg btn-primary button-home " href="/offers/">Discover more</a> -->
                                        </div>
                                      </div>
                                    </div>
                                   </div>
                                    <div class="right-col">
                                      {% region offers-image %}
                                      <div> </div>
                                    </div>
                                  
                                  </div>
                                </div>
                              </section>
                              <section >
                                <div class="global-container home-offers center-block">
                                  <div class=" no-margin">
                                    <div class="left-col"> {% region newsletter-img %} </div>
                                    <div class="right-col">
                                      <div class="newsletter-container  pull-left">
                                        {% region newsletter-context %}
                                        <div class="newsletterform ">
                                          <form class="jotform-form" action="https://submit.jotform.me/submit/71511150904445/" method="post" name="form_71511150904445" id="71511150904445" accept-charset="utf-8"> <input type="hidden" name="formID" value="71511150904445" /> 
                                            <div class="form-holder form-holder-one ">
                                              <input type="email" class=" form-textbox validate[required] input-text" data-type="input-textbox" id="input_3" name="q3_email" size="21" value="" placeholder="{% t 'home.email' %}" required="required" />
                                              <button id="input_2" type="submit" class="form-button-arrow">submit</button>
                                            </div>
                                            <input type="hidden" id="simple_spc" name="simple_spc" value="71511150904445" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "71511150904445-71511150904445"; </script>
                                          </form>
                                          <script type="text/javascript">JotForm.ownerView=true;</script> </div>
                                        </div>
                                        <div class="discover-container pull-right">
                                          {% region restaurent-bar %}
                                       </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                            <section>
                              <div id="specials-carousel-home" class="carousel rooms-carousel  spcial-carousel things-to-do slide" data-ride="carousel">
                                
                                
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                              
                                    <div class="item active" style="background-image: url(images/things-to-do-banner-1.jpg);">
                                   
                                    <img src="images/things-to-do-banner-1.jpg" alt=""> 
                                    <div class="container">
                                      <div class="carousel-caption">
                                      {% region magical-barcelona %}
                                     
                                       
                                      </div>
                                      </div>
                                    </div>
                             
                                </div>
                                      
                                    
                                     
                                    </div>
                                  </section>
                                  {% include twitter-instagram.html %}
                                                               
                                <section class="map-holder loc-map">
                                  <div class="map-inner" id="canvas-map"></div>
                                </section>
