---
layout: default
---
<section class="home-banner custom-carousel">
  <div class="container-fluid">
  <div class="row">
    <div id="home-banner" class="carousel slide" data-ride="carousel">
  
   <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(/images/home-banner-1.jpg);"></div>
    <div class="item" style="background-image: url(/images/home-banner-2.jpg);"></div>
    <div class="item" style="background-image: url(/images/home-banner-3.jpg);"></div>
    <div class="item" style="background-image: url(/images/home-banner-4.jpg);"></div>
  </div>
  
  <div class="banner-overlay"></div>
  <div class="banner-logo"><a href="/"><img src="/images/the-new-yorker-logo-white.svg" alt="The New Yorker"/></a></div>
  <div class="counter"><span class="num">1 of 4</span></div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#home-banner" role="button" data-slide="prev">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-banner" role="button" data-slide="next">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
  </div>
</section>
    <section  class="opening-content-container">
      <div class="container  opening-content">
      <div class="row">
                  <div class="col-sm-6">
                  <img src="/images/keywest/home-about.jpg" class="center-block" alt="">
                  </div>
                  <div class="col-sm-6">
                  <div class="description-container">
                  <h3>OPENING “THE GATES” TO AN AUTHENTIC KEY WEST EXPERIENCE.</h3>
                  <p>Welcome to a sun-soaked paradise. Stay with us at The Gates, and discover the history and soul of Key West. Our local touches immerse you in the art of island living, through design, music and, of course, food and drink. But be warned, you might never want to leave</p>
                  <a class="btn btn-lg btn-primary button-home " href="/location/">DISCOVER</a>
                  </div>
                  </div>
      </div>
      </div>
    </section>
    <section class="container-fluid home-widget-container">
     
     
          <div class="col-md-6 no-padding" >
          <div class="home-swim-container">
          <div class="women-block " >
          <div class="women-image-contanier" >
           
          </div> 
          </div>
          <div class="hotel-block " >
           
          </div>
          <div class="clearfix"></div>
          <div class="detailsbg" >
                        <div class="details-img pull-right">{% region home-detailsbg-img %}</div>
                        <div class="details-events pull-left">
                          {% region latest-happiness-box %}
                        </div>
                        
         </div>
          </div>
          <div class="clearfix"></div>
          </div>

          <div class="col-md-6 no-padding weather-widget-container" >
            
                       <div class="wrapper weather-widget">
                            <div class="panel bg-panel">
                              <div class="weather" id="weather">
                                <div class="temperature" id="temperature">
                                  <div id="temp">
                                    <p>Current Weather<br>
                                    South beach, florida</p>
                                    <i id="condition"></i>
                                    <div>
                                      <ul class="list-inline">
                                        <li>
                                          <span  class="degree" id="fahr"></span>
                                          <h6>Fahrenheit</h6>
                                        </li>
                                        <li><span class="seperator"></span></li>
                                        <li>
                                          <span class="degree" id="celc"></span>
                                          <h6>Celsius</h6>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

          </div> 

    </section>

   
              <section>
                <div id="rooms-carousel-home" class="carousel rooms-carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  
                  <ol class="carousel-indicators">
                    <li data-target="#rooms-carousel-home" data-slide-to="0" class="active">1 KING BED <span></span></li>
                    <li data-target="#rooms-carousel-home" data-slide-to="1">1 KING BALCONY POOL VIEW <span></span></li>
                    <li data-target="#rooms-carousel-home" data-slide-to="2">1 KING TERRACE POOL VIEW <span></span></li>
                    <li data-target="#rooms-carousel-home" data-slide-to="3">1 KING SUITE </li>
                    <a href="/rooms/" class="pull-right">[ More +]</a>
                  </ol>
                    
                    <div class="carousel-inner" role="listbox">                  
                    {% assign rooms_images = site.data._models.rooms_carousel  | sort : "sort_order" %}
                    {% for roomsimages in rooms_images %}                 
                    <!-- Wrapper for slides -->                
                       {% if forloop.first == true %}
                          <div class="item active">
                         {% else %}
                          <div class="item">
                         {% endif %} 
                        <img src="{{ roomsimages.slider_image.url }}" alt="">
                        <div class="container">
                          <div class="carousel-caption">
                             {{ roomsimages.carousel_caption }}
                            </div>
                          </div>
                      </div>              
                    {% endfor %} 
                    </div>                     
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#rooms-carousel-home" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#rooms-carousel-home" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
                        </section>




                        <section class="container-fluid offers-wrapper">

                        <div class="lucky-day">
                        <p>IT’S YOUR LUCKY DAY </p>
                        <h4>Special Offers</h4>
                        </div>  
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="offer-container">
                            <div class="offer-text">
                            <p>OFFER 01</p>
                            <h3>New Years Eve Package</h3>
                            <a class="btn btn-lg btn-primary button-home " href="#">see details</a>
                            </div>
                            <div class="offer-img" style="background-image:url('/images/keywest/offer-img.jpg');">
                            
                            </div>
                            </div>
                            </div>
                          <div class="col-sm-4">
                            <div class="offer-container">
                            <div class="offer-text">
                            <p>OFFER 01</p>
                            <h3>New Years Eve Package</h3>
                            <a class="btn btn-lg btn-primary button-home " href="#">see details</a>
                            </div>
                            <div class="offer-img" style="background-image:url('/images/keywest/offer-img.jpg');">
                            
                            </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="offer-container">
                            <div class="offer-text">
                            <p>OFFER 01</p>
                            <h3>New Years Eve Package</h3>
                            <a class="btn btn-lg btn-primary button-home " href="#">see details</a>
                            </div>
                            <div class="offer-img" style="background-image:url('/images/keywest/offer-img.jpg');">
                            
                            </div>
                            </div>
                          </div>
                        </div>  
                        <a class="btn btn-lg btn-primary button-home offer-btn" href="#">view all offers</a>                      

                        </section>







                        <section >
                          <div class="global-container home-offers center-block top-margin">
                            <div class="">
                              <div class="left-col">
                                <div id="offers-carousel" class="carousel slide offers-carousel" data-ride="carousel">
                                  
                                  <div class="carousel-inner">
                              
                                        <div class="item active">
                                    <h4>Dining & Bar</h4>
                                    <h6>Lorem ipsum dolor sit amet, mel verear molestie cu. Ius dico natum causae eu, antiopam scribentur ea est. Sint semper mei ei, ei postea deseruisse vix. Usu alii modus cu. Ad iusto torquatos duo, docendi intellegam accommodare vim ea, ut alienum recteque consequuntur vis. Mundi voluptaria cum et, at vis quod meis essent, animal pertinax id pri.</h6>
                                    <a class="btn btn-lg btn-primary button-home " href="/location/">DISCOVER MORE</a>
                                      </div>
                            
                                  </div>
                                      </div>
                                    </div>
                                    <div class="right-col">
                                      {% region offers-image %}
                                      <div> </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <section class="newsletter-section" >
                                <div class="dining-img">
                                <div class="image-container">
                                </div>
                                </div>
                              
                                <div class="newsletter-container ">
                                         {% region newsletter-context %}
                                        <div class="newsletterform ">
                                          <form class="jotform-form" action="https://submit.jotform.me/submit/62653920766463/" method="post" name="form_62653920766463" id="62653920766463" accept-charset="utf-8">
                                            <input type="hidden" name="formID" value="62653920766463" />
                                            <div class="form-holder form-holder-one ">
                                              <input type="email" class=" form-textbox validate[required] input-text" data-type="input-textbox" id="input_3" name="q3_email" size="21" value="" placeholder="YOUR EMAIL" required="required" />
                                              <button id="input_2" type="submit" class="form-button-arrow">submit</button>
                                            </div>
                                            <input type="hidden" id="simple_spc" name="simple_spc" value="62653920766463" />
                                            <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "62653920766463-62653920766463"; </script>
                                          </form>
                                          <script type="text/javascript">JotForm.ownerView=true;</script> 
                                          </div> 
                                        </div>
                              <div class="newsletter-image">
                              <div class="newsletter-image-container"></div>
                              </div>
                              

                              </section>
                             
                                 
                            <section>
                              <div id="specials-carousel-home" class="carousel rooms-carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                
                                <ol class="carousel-indicators" style="display:none;">
                                  <li data-target="#specials-carousel-home" data-slide-to="0" class="active">KING SUITE<span></span></li>
                                  <li data-target="#specials-carousel-home" data-slide-to="1">1 KING BALCONY POOL VIEW <span></span></li>
                                  <li data-target="#specials-carousel-home" data-slide-to="2">1 KING TERRACE POOL VIEW <span></span></li>
                                  <li data-target="#specials-carousel-home" data-slide-to="3">1 KING SUITE <span></span></li>
                                  <a href="#" class="pull-right">[ More +]</a>
                                </ol>
                                
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                              {% assign miami_images = site.data._models.enchanting_miami_carousel  | sort : "sort_order" %}
                              {% for miamiimages in miami_images %}                                 
                                    {% if forloop.first == true %}
                                    <div class="item active">
                                    {% else %}
                                    <div class="item">
                                    {% endif %} 
                                    <img src="{{ miamiimages.slider_image.url }}" alt=""> 
                                    <div class="container">
                                      <div class="carousel-caption">
                                        {{ miamiimages.carousel_caption }}
                                      </div>
                                      </div>
                                    </div>
                                {% endfor %}
                                </div>
                                      
                                      <!-- Left and right controls -->
                                      <a class="left carousel-control" href="#specials-carousel-home" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                                      <a class="right carousel-control" href="#specials-carousel-home" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                                    </div>
                                  </section>
                                  {% include twitter-instagram.html %}
                                  <section>
                                    <div class="map" > {% region homepage-map-img %}  </div>
                                  </section>