---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/location-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>

<section>
	
  
  <div class="tab-content">

    <div id="attractions" class="tab-pane fade in active top-padding">
      <section class="loc-con-one">
      		<div class="container no-padding">
                	<div class="col-sm-6 no-padding">
                    	<div class="con-one">
                    	{% region acttactions-todos %}
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                    	<div class="con-two">
                    		<span class="att">{% region attr-image-1 %}<span class="cap">Mallory Square</span></span>
                        </div>
                    </div>
                </div>
                <div class="container no-padding">
                	<div class="col-md-6 no-padding">
                    <div class="con-tt">
                    	<div class="con-three">
               		    	{% region attr-image-3 %}
                             <span class="cap">dry Tortugas State National Park</span>
                        </div>
                        <div class="con-four">
                        	<div class="col-sm-6 no-padding att">
                            	{% region attr-image-4 %}
                                <span class="cap">Duval Street</span>
                            </div><div class="col-sm-6 no-padding att-con">
                            	<div class="add-1 local-add-1">THE GATES HOTEL<span class="nl">KEY WEST</span></div>
                                <div class="add-2 logo-wrap"><img src="/images/gates-logo.png"></div>
                                <div class="add-3 local-add-3">3824 N Roosevelt Blvd<br>Key West, FL 33040</div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                    	<div class="con-five">
                        	{% region attr-favourite-dest %}
                        </div>
                    </div>
                   
                </div>
      </section>
    </div>
  </div>
</section>

<section class="map-holder">
	<div class="map-inner" id="map"></div>
</section>
<section class="location-tabs">

<div class=" container no-padding ">

        <div class="tabs-links" id="local-attractions">
                  <ul class="nav nav-pills gallery-nav">
                    <li class="active"><a data-toggle="pill" href="#restaurants">Best Restaurants</a></li>
                    <li><a data-toggle="pill" href="#bars">Best Bars</a></li>
                    <li><a data-toggle="pill" href="#golfing">Golfing</a></li>
                    <li><a data-toggle="pill" href="#beaches">Beaches</a></li>
                    <li><a data-toggle="pill" href="#attractionTab">Attractions</a></li>
                  </ul>
        </div>

        

          

                    <div class="tab-content">

                    <div id="restaurants" class="tab-pane fade in active" >
                    <div class="content-container">
                    <div class="col-sm-6 no-padding">
                    <div class="desc">
                    {% region restaurants-content %}
                        

                        </div>
                      </div> 
                      <div class="col-sm-6 no-padding tabs-img" style="background-image: url(/images/gates/location/best-restaurants.jpg)">
                        
                      <div class="imp-container">
                      <div class="imp" >
                      {% region restaurants-points %}
                         

                      </div>      
                        </div>
                    
                        
                      </div> 
                    </div>
                    </div>
                    <div id="bars" class="tab-pane">
                        <div class="content-container">
                    <div class="col-sm-6 no-padding">
                    <div class="desc">
                    {% region bars-content %}
                        

                        </div>
                      </div> 
                      <div class="col-sm-6 no-padding tabs-img" style="background-image: url(/images/gates/location/best-bars.jpg)">
                        
                      <div class="imp-container">
                      <div class="imp" >
                      {% region bars-points %}
                         

                      </div>      
                        </div>
                    
                        
                      </div> 
                    </div>
                    </div>
                    <div id="golfing" class="tab-pane">
                        <div class="content-container">
                    <div class="col-sm-6 no-padding">
                    <div class="desc">
                     {% region golf-content %}
                       

                        </div>
                      </div> 
                      <div class="col-sm-6 no-padding tabs-img" style="background-image: url(/images/gates/location/golfing.jpg)">
                        
                      <div class="imp-container">
                      <div class="imp" >
                      {% region golf-points %}
                        

                      </div>      
                        </div>
                    
                        
                      </div> 
                    </div>
                    </div>
                    <div id="beaches" class="tab-pane">
                        <div class="content-container">
                    <div class="col-sm-6 no-padding">
                    <div class="desc">
                     {% region beach-content %}
                        

                        </div>
                      </div> 
                      <div class="col-sm-6 no-padding tabs-img" style="background-image: url(/images/gates/location/beaches.jpg)">
                        
                      <div class="imp-container">
                      <div class="imp" >
                      {% region beach-points %}
                         

                      </div>      
                        </div>
                    
                        
                      </div> 
                    </div>
                    </div>

                    <div id="attractionTab" class="tab-pane">
                        <div class="content-container">
                    <div class="col-sm-6 no-padding">
                    <div class="desc">
                     {% region attractions-content %}
                        

                        </div>
                      </div> 
                      <div class="col-sm-6 no-padding tabs-img" style="background-image: url(/images/gates/location/beaches.jpg)">
                        
                      <div class="imp-container">
                      <div class="imp" >
                      {% region attractions-points %}
                         

                      </div>      
                        </div>
                    
                        
                      </div> 
                    </div>
                    </div>

            </div>

        
</div>

</section>
<section class="loc-gal">
  <div class="container-fluid no-padding">
    	 <div class="col-xs-8 no-padding loc-gal-con" style="background-image: url(/images/gates/location/loc-gal-1.jpg);"><div class="strip"></div></div>
        <div class="col-xs-4 no-padding loc-gal-con" style="background-image: url(/images/gates/location/loc-gal-2.jpg);"></div>
    </div>
</section>

<section class="loc-cta" style="background-image: url(/images/gates/location/loc-cta.jpg);">
	<div class="container-fluid no-padding">
    	<div class="cta">
        	<div class="cta-logo"><a href="/"><img src="/images/the-gates-key-west-white.svg" alt="Gates Hotel South Beach"/></a></div>
            <div class="btn-holder text-center"><a href="https://secure3.hilton.com/en/dt/reservation/book.htm?ctyhocn=MIAMHDT" target="_blank" class="button-common">Book Your Stay</a></div>
        </div>
    </div>
</section>



{% include twitter-instagram.html %}

