---
layout: default
---
{% if  site.active_lang == 'es' %}
{% assign langPrefix = 'es' %}
{% assign locale = "locale=es" %}
{% endif %}
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/location-banner.jpg)">
     <h1 class="page-title">{% t 'location.page-title' %}</h1>
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>

<section>
  
  
  <div class="tab-content">

    <div id="attractions" class="tab-pane fade in active top-padding">
      <section class="loc-con-one">
          <div class="container no-padding">
                  <div class="col-sm-6 no-padding">
                      <div class="con-one">
                      {% region acttactions-todos %}
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                      <div class="con-two">
                        <span class="att">{% region attr-image-1 %} </span>
                        </div>
                    </div>
                </div>
                <div class="container no-padding">
                  <div class="col-md-6 no-padding">
                    <div class="con-tt">
                      <div class="con-three">
                        {% region attr-image-3 %} 
                        </div>
                        <div class="con-four">
                          <div class="col-sm-6 no-padding att">
                              {% region attr-image-4 %} 
                            </div><div class="col-sm-6 no-padding att-con">
                              <div class="add-1 local-add-1">GATES HOTEL DIAGONAL
<span class="nl">BARCELONA</span></div>
                                <div class="add-2 logo-wrap">{% t 'location.address-title' %}</div>
                                <div class="add-3 local-add-3">Avenida Diagonal, 205 
<br>08018. Barcelona, Spain</div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                      <div class="con-five">
                          {% region attr-favourite-dest %}
                        </div>
                    </div>
                   
                </div>
      </section>
    </div>
  </div>
</section>


<section class="map-holder loc-map">
  <div class="map-inner" id="canvas-map"></div>
</section>
<section class="loc-gal">
  <div class="container-fluid no-padding">
       <div class="col-xs-8 no-padding loc-gal-con" style="background-image: url(/images/gates/location/loc-gal-1.jpg);"><div class="strip"></div></div>
        <div class="col-xs-4 no-padding loc-gal-con" style="background-image: url(/images/gates/location/loc-gal-2.jpg);"></div>
    </div>
</section>

<section class="loc-cta" style="background-image: url(/images/gates/location/diagonal-hotel.jpg);">
  <div class="container-fluid no-padding">

      <div class="cta">
          <p class="text-center">{% t 'location.cta-title' %}</p>
          <div class="cta-logo"><a href="/"><img src="/images/gates/location/logo.png" alt="Gates Hotel South Beach"/></a></div>
            <div class="btn-holder text-center"><a href="https://diagonalhotelbarcelona.reztrip.com/?{{locale}}" target="_blank" class="button-common">{% t 'location.cta-button' %}</a></div>
        </div>
    </div>
</section>



{% include twitter-instagram.html %}

