---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/location-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>

<section>
	<ul class="nav nav-pills gallery-nav">
    <li><a data-toggle="pill" href="#activities">Activities</a></li>
    <li class="active"><a data-toggle="pill" href="#attractions">Attractions</a></li>
    <li><a data-toggle="pill" href="#shopping">Shopping</a></li>
  </ul>
  
  <div class="tab-content">

    <div id="attractions" class="tab-pane fade in active">
      <section class="loc-con-one">
      		<div class="container no-padding">
                	<div class="col-sm-6 no-padding">
                    	<div class="con-one">
                    	{% region acttactions-todos %}
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                    	<div class="con-two">
                    		<span class="att">{% region attr-image-1 %}<span class="cap">Viscaya Museum</span></span><span class="att">{% region attr-image-2 %}<span class="cap">Wynwood Art District</span></span>
                        </div>
                    </div>
                </div>
                <div class="container no-padding">
                	<div class="col-md-6 no-padding">
                    <div class="con-tt">
                    	<div class="con-three">
               		    	{% region attr-image-3 %}
                             <span class="cap">Art deco historic district</span>
                        </div>
                        <div class="con-four">
                        	<div class="col-sm-6 no-padding att">
                            	{% region attr-image-4 %}
                                <span class="cap">perez art museum</span>
                            </div><div class="col-sm-6 no-padding att-con">
                            	<div class="add-1">THE GATES HOTEL<span class="nl">SOUTH BEACH</span></div>
                                <div class="add-2">Our<span class="nl">Address</span></div>
                                <div class="add-3">2360 Collins Avenue<br>Miami Beach, FL 33139<br>United States</div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                    	<div class="con-five">
                        	{% region attr-favourite-dest %}
                        </div>
                    </div>
                   
                </div>
      </section>
    </div>
    <div id="activities" class="tab-pane">
     	<section class="loc-con-one">
      		<div class="container no-padding">
                	<div class="col-sm-6 no-padding">
                    	<div class="con-one">
                    	{% region activities-todos %}
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                    	<div class="con-two">
                    		<span class="att att-1">{% region activities-image-1 %}<span class="cap">American Airlines Arena</span></span>
                        </div>
                    </div>
                </div>
                <div class="container no-padding">
                	<div class="col-md-6 no-padding">
                    <div class="con-tt">
                    	<div class="con-three">
               		    	{% region activities-image-2 %}
                             <span class="cap">Miami Beach</span>
                        </div>
                        <div class="con-four">
                        	<div class="col-sm-6 no-padding att">
                            	{% region activities-image-3 %}
                                <span class="cap">Zoo Miami</span>
                            </div><div class="col-sm-6 no-padding att-con">
                            	<div class="add-1">THE GATES HOTEL<span class="nl">SOUTH BEACH</span></div>
                                <div class="add-2">Our<span class="nl">Address</span></div>
                                <div class="add-3">2360 Collins Avenue<br>Miami Beach, FL 33139<br>United States</div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                    	<div class="con-five con-five-2">
                        	{% region activities-favourite-dest %}
                            
                        </div>
                        <div class="act-list-bg">{% region activities-image-4 %}<span class="cap">Miami Beach</span></div>
                    </div>
                   
                </div>
      </section>
    </div>
    <div id="shopping" class="tab-pane fade">
     	<section class="loc-con-one">
      		<div class="container no-padding">
                	<div class="col-sm-6 no-padding">
                    	<div class="con-one">
                    	{% region shopping-todos %}
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                    	<div class="con-two">
                    		<span class="att att-1">{% region shopping-image-1 %}<span class="cap">Bayside marketplace</span></span>
                        </div>
                    </div>
                </div>
                <div class="container no-padding">
                	<div class="col-md-6 no-padding">
                    <div class="con-tt con-tt-2">
                    	<div class="con-three">
               		    	<span class="att">{% region shopping-image-2 %}</span><span class="att">{% region shopping-image-3 %}<span class="cap">Lincoln Road</span></span>
                        </div>
                        <div class="con-four">
                        	<div class="col-sm-6 no-padding att">
                            	{% region shopping-image-4 %}
                                <span class="cap">Miami Design District</span>
                            </div><div class="col-sm-6 no-padding att-con">
                            	<div class="add-1">THE GATES HOTEL<span class="nl">SOUTH BEACH</span></div>
                                <div class="add-2">Our<span class="nl">Address</span></div>
                                <div class="add-3">2360 Collins Avenue<br>Miami Beach, FL 33139<br>United States</div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                    	<div class="con-five con-five-2">
                        	{% region shopping-favourite-dest %}
                            
                        </div>
                        
                    </div>
                   
                </div>
      </section>
    </div>
  </div>
</section>

<section class="map-holder">
	<div class="map-inner" id="map"></div>
</section>

<section class="loc-gal">
  <div class="container-fluid no-padding">
    	 <div class="col-xs-8 no-padding loc-gal-con" style="background-image: url(/images/gates/location/loc-gal-1.jpg);"><div class="strip"></div></div>
        <div class="col-xs-4 no-padding loc-gal-con" style="background-image: url(/images/gates/location/loc-gal-2.jpg);"></div>
    </div>
</section>

<section class="loc-cta" style="background-image: url(/images/gates/location/loc-cta.jpg);">
	<div class="container-fluid no-padding">
    	<div class="cta">
        	<div class="cta-logo"><a href="/"><img src="/images/gates/gates-cta-logo.png" alt="Gates Hotel South Beach"/></a></div>
            <div class="btn-holder text-center"><a href="https://secure3.hilton.com/en/dt/reservation/book.htm?ctyhocn=MIAMHDT" target="_blank" class="button-common">Book Your Stay</a></div>
        </div>
    </div>
</section>



{% include twitter-instagram.html %}



<section class="p-found" style="background-image:url(/images/gates/location/p-found.jpg);">
	{% region paradise-found %}
</section>

