---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image:url(/images/gates/offers-banner.jpg);">
      {% region offers-banner-text %}
    </div>
  </div>
</section>
{% assign offer_dtls = site.data._models.offers  | sort : "sort_order" %}
{% for offer_details in offer_dtls %}     
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center" style="background-image:url({{ offer_details.offer_image.url }});">{{ offer_details.check_rate }} </div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">{{ offer_details.offer_title }}</p>
          {{ offer_details.offer_desc }}
        </div>
      </div>
    </div>
  </div>
</section>
 {% endfor %}