---
layout: default
---
{% if  site.active_lang == 'es' %}
{% assign langPrefix = '/es' %}
{% assign locale = "locale=es" %}
{% endif %}
<div class="loading" style="display: block;">Loading&#8230;</div>
<section data-offer-code ="{{page.code}}"  rt3-special-rates= "offers" >
  <input type="hidden" id="offerId"  value="{{page.code}}" />
  <input type="hidden" id="offerList" value="[[ offers.special_rates ]]"   />
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/gates/offers-banner.jpg)">
      <h1 class="page-title">{% t 'offers.special-offers' %}</h1>
    </div>
  </div>
</section>

<section ng-controller="offerDetail">
  <ul class="gallery-nav">
        <li ng-show="prevOfferName"><a  ng-click="reloadPage" ng-href="/offer-details/#[[prevOfferName | formatNameForLink]]">{% t 'offers.prev-offer' %}</a></li>
        <li><a href="javascript:void(0);">[[offers.sRdetail.rate_plan_name | renderHTMLCorrectly]]</a></li>
        <li ng-show="nextOfferName"><a ng-click="reloadPage" ng-href="/offer-details/#[[nextOfferName | formatNameForLink]]">{% t 'offers.next-offer' %}</a></li>
  </ul>
</section>

<section class="rd-row-1">
  <div id="rd-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators 
  <ol class="carousel-indicators">
    <li data-target="#rd-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#rd-carousel" data-slide-to="1"></li>
    <li data-target="#rd-carousel" data-slide-to="2"></li>
    <li data-target="#rd-carousel" data-slide-to="3"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url([[offers.sRdetail.lead_photo_url.yankee_large]]);">
     <div class="rdc-car-con overlay-con">
      <h3 class="sub-title">{% t 'offers.special-offer' %}</h3>
        <h2 class="title" ng-bind-html="offers.sRdetail.rate_plan_name | renderHTMLCorrectly"></h2>
        <div class="spacing"><a class="button-common-2 button-blue" ng-href="[[offers.sRdetail.promo_url]]" target="_blank">{% t 'offers.book-this-offer' %}</a></div>
     </div> 
    </div>

  </div>

  <!-- Left and right controls 
  <a class="left carousel-control" href="#rd-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#rd-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
</section>

<section class="ro-info">
  <div class="container no-padding">
      <div class="col-md-6 no-padding -left">
          <div class="con-1">
          <h2 class="title">{% t 'offers.all-in-detail' %}</h2>
<!--<h3 class="sub-title">18 November 2016 until 7 february 2017</h3>-->
<div class="des-wrap">
 <p class="des" ng-bind-html="offers.sRdetail.long_description | renderHTMLCorrectly"></p>
 <p class="des">{% t 'room.need-help-text' %}</p>
<p class="des">Gates Hotel Barcelona Service Center  <a href="tel:+34 934 895 300">+34 934 895 300</a> or<br><a href="mailto:recepcion.diagonal@diagonalhotelbarcelona.com">recepcion.diagonal@diagonalhotelbarcelona.com</a></p>
</div>
<div class="spacing"><a class="button-common-2 button-blue"href="{{ '/contact' | permalink }}">{% t 'room.contact-button' %}</a></div>
      <!--div class="con-2" style="background-image:url(/images/gates/offers/offer-6.jpg);"></div-->
      <div class="con-2" ><img src="/images/gates/offers/offer-6.jpg" alt=""></div>
      </div>
      </div>
      <div class="col-md-6 no-padding -right">
          <div class="con-3">
              <img src="/images/gates/offers/offer-5.jpg" alt="">
                  <!--   <div class="text">
                    <h2 class="title">Take a visual Journey</h2>
                    <div class="spacing"><a class="button-common-2 -white" href="/gallery/">View Gallery</a></div>
                    </div> -->
            </div>
        </div>
        
     </div>
        
</section>

<section class="rooms-section" rt3-special-rates= "offers">
<div class="container">
 <div class="col-md-4 no-padding" >
      <div class="new-caption-area " id="odscroll" class="carousel slide" data-ride="carousel">
      <p>{% t 'room.view-more-luxurious-offers' %}</p>
        <div class="carousel-controls"> <a class="left nav-control" href="#od-carousel" role="button" data-slide="prev"> </a> <a class="right nav-control" href="#od-carousel" role="button" data-slide="next"> </a> </div>
        <div class="carousel-inner ">
          <div class="item "  ng-repeat ="offer in offers.special_rates" ng-class='{active:$first}'>
            <h3 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h3>
            <div class="links"> <a href="{{'/offer-details' | permalink }}#[[offer.rate_plan_name | formatNameForLink ]]" class="button-common-2 btn-spacing button-blue">{% t 'room.view-this-offer' %}</a><br/> <a href="{{'/offers' | permalink }}" class="button-common-2 button-blue">{% t 'room.view-all-offers' %}</a> </div>
          </div>
        </div>
      </div>
    </div>
<div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="od-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

          <div class="item" ng-repeat="offer in offers.special_rates" ng-class='{active:$first}'>
             <img alt="" ng-src="[[offer.lead_photo_url.yankee_large]]" class="width-full">

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

{% include offer-cta.html %}
</section>
