---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image:url(/images/gates/offers-banner.jpg);">
      <h1 class="page-title">Special Offers</h1>
    </div>
  </div>
</section>
<div rt3-special-rates= "offers">    
<section class="models" ng-repeat="offer in offers.special_rates">
  <div class="container">
    <div class=" two-col-wrap">
       <div class="col-sm-6 sp-img v-center" style="background-image:url([[offer.lead_photo_url.yankee_large]]);"><a href="https://gateshotelkeywest.reztrip.com/en/special_offer?rate_code=[[offer.rate_plan_code]]&offer_code=[[offer.offer_code]]" class="rate-btn">Check Rate</a></div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title" ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></p>
          <p class="desp">[[offer.short_description | limitTo: 90]][[offer.short_description.length > 250 ? '...' : '']]</p>
          <div class="btn-holder"><a class="button-common" href="/offer-details/#[[offer.rate_plan_name | formatNameForLink ]]">View this offer</a></div>
        </div>
      
    </div>
  </div>
</section>
</div>