---
layout: default
---

<section data-offer-code ="{{page.code}}"  rt3-special-rates= "offers" >
  <input type="hidden" id="offerId"  value="{{page.code}}" />
  <input type="hidden" id="offerList" value="[[ offers.special_rates ]]"   />
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/gates/offer-details-banner.jpg)">
      <h1 class="page-title">Special Offers</h1>
    </div>
  </div>
</section>

<section ng-controller="offerDetail">
	<ul class="gallery-nav">
        <li ng-show="prevOfferName"><a  ng-click="reloadPage" ng-href="/offer-details/#[[prevOfferName | formatNameForLink]]">Prevoius Offer</a></li>
        <li><a href="javascript:void(0);">[[offers.sRdetail.rate_plan_name | renderHTMLCorrectly]]</a></li>
        <li ng-show="nextOfferName"><a ng-click="reloadPage" ng-href="/offer-details/#[[nextOfferName | formatNameForLink]]">Next Offer</a></li>
  </ul>
</section>

<section class="rd-row-1">
	<div id="rd-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators 
  <ol class="carousel-indicators">
    <li data-target="#rd-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#rd-carousel" data-slide-to="1"></li>
    <li data-target="#rd-carousel" data-slide-to="2"></li>
    <li data-target="#rd-carousel" data-slide-to="3"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image:url([[offers.sRdetail.lead_photo_url.yankee_large]]);">
     <div class="rdc-car-con overlay-con">
     	<h3 class="sub-title">Special Offer</h3>
        <h2 class="title" ng-bind-html="offers.sRdetail.rate_plan_name | renderHTMLCorrectly"></h2>
        <div class="spacing"><a class="button-common-2" ng-href="[[offers.sRdetail.promo_url]]" target="_blank">Book Now</a></div>
     </div> 
    </div>

  </div>

  <!-- Left and right controls 
  <a class="left carousel-control" href="#rd-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#rd-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
</section>

<section class="r-info">
	<div class="container no-padding">
    	<div class="col-md-6 no-padding -left">
        	<div class="con-1">
        	<h2 class="title">all in the details</h2>
<!--<h3 class="sub-title">18 November 2016 until 7 february 2017</h3>-->
<div class="des-wrap">
<p class="des">[[ offers.sRdetail.short_description | renderHTMLCorrectly ]]</p>
<p class="des bold-text">Need assistance? Our dedicated reservations team is available around the clock:</p>
<p class="des">The Gates Key West Service Centre <a href="tel:305-320-0930">(305) 320-0930</a> or<br><a href="mailto:reservations@gateshotelkeywest.com">reservations@gateshotelkeywest.com</a></p>
</div>
<div class="spacing"><a class="button-common-2" href="mailto:reservations@gateshotelkeywest.com">Contact Us</a></div> 
	  </div>
      <div class="con-2"><img src="/images/gates/offers/offer-6.jpg" alt=""></div>
      </div>
      <div class="col-md-6 no-padding -right">
        	<div class="con-3">
       	    	<img src="/images/gates/offers/offer-5.jpg" alt="">
                    <div class="text">
                    <h2 class="title">Take a visual Journey</h2>
                    <div class="spacing"><a class="button-common-2 -white" href="/gallery/">View Gallery</a></div>
                    </div>
            </div>
            <div class="con-4">
            	<div class="col-sm-5 con-4-1 offer-amenities">
                	<ul class="list">
                    	<li>10% off Visitors Pass</li>
                    	<li>Macy’s Miami Tote Bag</li>
                    	<li>Free resort fee</li>
                    	<li>5% off DAILY Rate</li>
                    </ul>
                   <img class="width-full" src="/images/gates/offers/amenities.jpg" alt="">
                </div><div class="col-sm-7 con-4-2">
                	<div>
                     <div class="add-1">ENJOY THE FOLLOWING<span class="nl">PRIVILEGES</span></div>
                        <div class="add-2">Offer<span class="nl">Features</span></div>
                       <!-- <div class="spacing"><a href="" class="button-common-2">general amenities</a></div>-->
                    </div>
                </div>
                
            </div>
        </div>
        
     </div>
        
</section>

<section class="rooms-section">
  <div class="container">
    <div class="col-md-4 no-padding">
      <div class="new-caption-area" id="roomscroll">
        <p></p>
        <div class="carousel-controls"> <a class="left nav-control" href="#rooms-carousel" role="button" data-slide="prev"> </a> <a class="right nav-control" href="#rooms-carousel" role="button" data-slide="next"> </a> </div>
        <h3></h3>
        <div class="links"></div>
      </div>
    </div>
    <div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="rooms-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

                <div class="item" ng-class="{'active': $index == 0}" ng-repeat="offer in offers.special_rates">
                  <img alt="" src="[[offer.lead_photo_url.yankee_large]]" class="width-full">
                  <div class="carousel-caption">
                    <p>VIEW MORE LUXURIOUS SPECIAL OFFERS</p>
                    <h3>[[offer.rate_plan_name | renderHTMLCorrectly]]</h3>
                    <div class="links">
                    <a href="/offer-details/#[[offer.rate_plan_name | formatNameForLink ]]" class="button-common-2">VIEW THIS OFFER</a> <a href="/offers/" class="button-common-2">VIEW ALL OFFERS</a>
                    </div>
                  </div>
              </div>
                       
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="loc-cta" style="background-image:url(/images/gates/offers/offer-4.jpg);">
	<div class="container-fluid no-padding">
    	<div class="cta">
    <div class="cta-logo"><a href="/" target="_blank"><img src="/images/the-gates-key-west-white.svg" alt="Gates Hotel South Beach"></a></div>
<div class="btn-holder text-center"><a class="button-common" href="https://gateshotelkeywest.reztrip.com/">Book Your Stay</a></div>
  </div>
    </div>
</section>

</section>