---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/partners-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>
{% assign partners-sorted = site.data._models.partners | sort: 'sort_order' %}
{% for partners in partners-sorted %}


    <section class="models">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
            <div class="col-sm-3 sp-img v-center" style="background-image:url({{partners.image_1.url}});"></div>
            <div class="col-sm-9 sp-content v-center partners-text-align">
            
              <p class="title"> {{partners.page_title}}</p>
              <p class="desp"> {{partners.short_description}}</p>
              <div class="btn-holder"><a class="button-common button-blue" href="{{partners.url_friendly_name}}">Read More</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
        
{% endfor %} 


{% include twitter-instagram.html %}

