---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/press/press-banner.jpg)">
      <h1 class="page-title">Press</h1>
    </div>
  </div>
</section>

<section class="press"> 
  <div class="container no-padding">
  	<div class="press-wrap">
    <div class="col-sm-4">
    	<h2>For media inquiries:</h2>
        <h3>the / zimmerman / agency</h3>
        <p>Amanda Lewis<br><a href="mailto:alewis@zimmerman.com">alewis@zimmerman.com</a></p>
		<p>Taylor Newsome<br><a href="mailto:tnewsome@zimmerman.com">tnewsome@zimmerman.com</a></p>
    </div>
    <div class="col-sm-8">
    	 <!--<p>Press Release March 11th, 2015:</p>
        <div class="btn-holder"><a href="/pdf/press/Gates-Opening-Release_040812015.pdf" target="_blank" class="button-common button-blue">View PDF</a>							</div>-->	
        <div class="magazines">
        <p><a href="/pdf/press/Art_Magazine.pdf" target="_blank">Art Magazine</a></p>
        <p><a href="/pdf/press/Atlanta_Homes_and_Lifestyles.pdf" target="_blank">Atlanta Homes Lifestyles</a></p>
        <p><a href="/pdf/press/Atlanta_Social_Season.pdf" target="_blank">Atlanta Social Season</a></p>
        <p><a href="/pdf/press/Aventura.pdf" target="_blank">Aventura</a></p>
        <p><a href="/pdf/press/Brickell_Magazine.pdf" target="_blank">Brickell Magazine</a></p>
        <p><a href="/pdf/press/Brides.pdf" target="_blank">Brides</a></p>
        <p><a href="/pdf/press/CN_Traveler.pdf" target="_blank">Conde Nast Traveler</a></p>
        <p><a href="/pdf/press/Domino.pdf" target="_blank">Domino</a></p>
        <p><a href="/pdf/press/Downtown_Magazine.pdf" target="_blank">Downtown Magazine</a></p>
        <p><a href="/pdf/press/Forbes_Travel.pdf" target="_blank">Forbes Travel</a></p>
        <p><a href="/pdf/press/GH_T+L_Nov24.pdf" target="_blank">Travel + Leisure</a></p>
        <p><a href="/pdf/press/Glitter_Guide.pdf" target="_blank">Glitter Guide</a></p>
        <p><a href="/pdf/press/Hemispheres.pdf" target="_blank">Hemispheres</a></p>
        <p><a href="/pdf/press/Hospitality_Design.pdf" target="_blank">Hospitality Design</a></p>
        <p><a href="/pdf/press/Hotel_F&B.pdf" target="_blank">Hotel F&B</a></p>
        <p><a href="/pdf/press/Jaunted.pdf" target="_blank">Jaunted</a></p>
        <p><a href="/pdf/press/Key_BiscayneMag.pdf" target="_blank">Key Biscayne Magazine</a></p>
        <p><a href="/pdf/press/Lodging.pdf" target="_blank">Lodging</a></p>
        <p><a href="/pdf/press/Meetings_&_Conventions(B).pdf" target="_blank">Meetings & Conventions</a></p>
        <p><a href="/pdf/press/Miami_Herald.pdf" target="_blank">Miami Herald</a></p>
        <p><a href="/pdf/press/Millennium.pdf" target="_blank">Millennium</a></p>
        <p><a href="/pdf/press/Naples_Illustrated.pdf" target="_blank">Naples Illustrated</a></p>
        <p><a href="/pdf/press/New_York_Times.pdf" target="_blank">New York Times</a></p>
        <p><a href="/pdf/press/NY_Times.pdf" target="_blank">New York Times</a></p>
        <p><a href="/pdf/press/NYT_2.pdf" target="_blank">New York Times</a></p>
        <p><a href="/pdf/press/Ocean_Drive.pdf" target="_blank">Ocean Drive</a></p>
        <p><a href="/pdf/press/Orlando_Signature.pdf" target="_blank">Orlando Signature</a></p>
        <p><a href="/pdf/press/Orlando_Magazine.pdf" target="_blank">Orlando Magazine</a></p>
        <p><a href="/pdf/press/Orlando_Style.pdf" target="_blank">Orlando Style</a></p>
        <p><a href="/pdf/press/Out_Traveler_2.pdf" target="_blank">Out Traveler</a></p>
        <p><a href="/pdf/press/Out_Traveler.pdf" target="_blank">Out Traveler</a></p>
        <p><a href="/pdf/press/Out_Traveler_2.pdf" target="_blank">Out Traveler</a></p>
        <p><a href="/pdf/press/Palm_Beach_Illustrated.pdf" target="_blank">Palm Beach Illustrated</a></p>
        <p><a href="/pdf/press/PBG.pdf" target="_blank">PBG</a></p>
        <p><a href="/pdf/press/Philadelphia.pdf" target="_blank">Philadelphia</a></p>
        <p><a href="/pdf/press/Posh_Seven(NEW).pdf" target="_blank">Posh Seven</a></p>
        <p><a href="/pdf/press/Prevue.pdf" target="_blank">Prevue</a></p>	
        <p><a href="/pdf/press/Recommend.com.pdf" target="_blank">Recommend.com</a></p>
        <p><a href="/pdf/press/Resident_Magazine.pdf" target="_blank">Resident Magazine</a></p>
        <p><a href="/pdf/press/Southern_Bride.pdf" target="_blank">Southern Bride</a></p>
        <p><a href="/pdf/press/Tampa_Bay_Metro.pdf" target="_blank">Tampa Bay Metro</a></p>
        <p><a href="/pdf/press/Tampa_Style.pdf" target="_blank">Tampa Style</a></p>
        <p><a href="/pdf/press/Think_Magazine.pdf" target="_blank">Think Magazine</a></p>
        <p><a href="/pdf/press/Think_Magazine_SMALL.pdf" target="_blank">Think Magazine SMALL</a></p>
        <p><a href="/pdf/press/Urban_Daddy_National.pdf" target="_blank">Urban Daddy National</a></p>
        <p><a href="/pdf/press/UrbanDaddy_Miami.pdf" target="_blank">Urban Daddy Miami</a></p>
        <p><a href="/pdf/press/USA_Today_10Best.pdf" target="_blank">USA Today 10Best</a></p>
        <p><a href="/pdf/press/USA_Today.pdf" target="_blank">USA Today</a></p>				
        </div>
    </div>
    	
       
    </div>
  </div>
</section>
