---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/press/press-banner.jpg)">
      <h1 class="page-title">Press</h1>
    </div>
  </div>
</section>

<section class="press"> 
  <div class="container no-padding">
  	<div class="press-wrap">
    <div class="col-sm-6">
    	<h2>For media inquiries:</h2>
        <h3>the / zimmerman / agency</h3>
        <p>Amanda Lewis<br><a href="mailto:alewis@zimmerman.com">alewis@zimmerman.com</a></p>
		<p>Taylor Newsome<br><a href="mailto:tnewsome@zimmerman.com">tnewsome@zimmerman.com</a></p>
    </div>
    <div class="col-sm-6">
    	 <p>Press Release March 11th, 2015:</p>
        <div class="btn-holder"><a href="/pdf/Gates-Opening-Release_040812015.pdf" target="_blank" class="button-common button-blue">View PDF</a>							</div>
    </div>
    	
       
    </div>
  </div>
</section>
