---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/rfp-banner.jpg)">
      <h1 class="page-title">{%t 'rfp.page-title' %}</h1>
    </div>
  </div>
</section>

<section class="groups rfp">
  <div class="container no-padding">
    <h2>Contact Information</h2>
    <div class="rfp-wrapper">
              <div class="contact-form">
              <p class="rfp-label">{% t 'rfp.form-title' %}</p>
              <form class="jotform-form" action="https://submit.jotform.me/submit/71511601404441/" method="post" name="form_71511601404441" id="71511601404441" accept-charset="utf-8"  enctype="multipart/form-data"> 
              <input type="hidden" name="formID" value="71511601404441" />
                  <div class="two-fields-holder">
                    <div class="col-sm-6 no-padding">
                      <div class="form-group right-space">
                        <input type="text" class="form-control validate[required, Alphabetic]" id="input_3" name="q3_first-name" placeholder="{% t 'rfp.name' %}" required>
                      </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                      <div class="form-group left-space">
                        <input type="text" class="form-control validate[required, Alphabetic]" id="input_37" name="q37_company37" placeholder="{% t 'rfp.company' %}" required>
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                    <textarea id="input_36" class="form-control validate[required] m-textarea" name="q36_others36" style="width:100%" rows="5" placeholder="{% t 'rfp.address' %}"></textarea>
                  </div>
                  <div class="two-fields-holder">
                    <div class="col-sm-6 no-padding">
                      <div class="form-group">
                        <input type="text" class="form-control validate[required, Numeric]"  id="input_26" name="q26_cell-phone"  placeholder="{% t 'rfp.phone' %}" required>
                      </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                      <div class="form-group left-space">
                        <input type="email" class="form-control validate[required, Email]" id="input_4" name="q4_email"  placeholder="{% t 'rfp.email' %}" required>
                      </div>
                    </div>
                  </div>
                  
                   <p class="desp">{% t 'rfp.event-title' %}</p>
                  
                  <div class="two-fields-holder">
                    <div class="col-sm-6 no-padding">
                      <div class="form-group right-space">
                        <input type="text" class="form-control main-date-1" id="input_15" name="q15_arrival" placeholder="{% t 'rfp.arrival' %}">
                      </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                      <div class="form-group left-space">
                        <input type="text" class="form-control alternate-date-1" id="input_16" name="q16_departure" placeholder="{% t 'rfp.departure' %}">
                      </div>
                    </div>
                  </div>
                  <div class="checkbox-holder">
                    <div class="col-sm-4">
                      <div class="row option-label">{% t 'rfp.flex' %}</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="row">
                        <label class="radio-inline">
                          <input type="radio" value="Yes" id="input_28_0" name="q28_flexible[]">
                          {% t 'rfp.flex-opt-1' %} </label>
                        <label class="radio-inline">
                          <input type="radio" value="No" id="input_28_1" name="q28_flexible[]">
                          {% t 'rfp.flex-opt-2' %} </label>
                      </div>
                    </div>
                  </div>
                  <div class="two-fields-holder">
                    <div class="col-sm-6 no-padding">
                      <div class="form-group right-space">
                        <input type="text" class="form-control" id="input_20" name="q20_sleeping-rooms" placeholder="{% t 'rfp.num-rooms' %}">
                      </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                      <div class="form-group left-space">
                        <input type="text" class="form-control" id="input_25" name="q25_company" placeholder="{% t 'rfp.event-type' %}">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control m-textarea" rows="5" id="input_35" name="q35_others" placeholder="{% t 'rfp.comments' %}"></textarea>
                  </div>
                  <button type="submit" id="input_2" class="btn btn-default button-blue">{% t 'rfp.submit' %}</button>
                </form>
               <script type="text/javascript">JotForm.ownerView=true;</script>
              </div>

            </div>
  </div>
  
</section>
