---
layout: default
---
{% if  site.active_lang == 'es' %}
{% assign langPrefix = '/es' %}
{% assign locale = "locale=es" %}
{% endif %}
<input type="hidden" id="roomId"  value="{{page.code}}" />
<input type="hidden" id="roomList" value="[[ browser.roomsList ]]"   />
<div class="loading" style="display: block;">Loading&#8230;</div>
<div ng-controller ="roomDetail">
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/gates/room-details/rooms-banner.jpg)">
      <h1 class="page-title">{% t 'room.luxury-redefined' %}</h1>
    </div>
  </div>
</section>
<section>
  <ul class="gallery-nav">
    <li ng-show="prevRoomName"><a ng-href="{{'/room-details'| permalink}}#[[prevRoomName | formatNameForLink ]]" ng-click="reloadPage">{% t 'room.prev-room' %}</a></li>
    <li><a href="#">[[selectedRoom.name]]</a></li>
    <li ng-show="nextRoomName"><a ng-href="{{'/room-details'| permalink}}#[[nextRoomName | formatNameForLink ]]" ng-click="reloadPage">{% t 'room.next-room' %}</a></li>
  </ul>
</section>
<section class="rd-row-1">
  <div id="rd-carousel" class="carousel slide carousel-fade" data-ride="carousel"> 
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-class="{'active': $index == 0}"  style="background-image: url([[photo.yankee_large]]);" ng-repeat ="photo in selectedRoom.photos">
        <div class="rdc-car-con">
          <h3 class="sub-title">{% t 'room.luxury-redefined' %}</h3>
          <h2 class="title">[[selectedRoom.name]]</h2>
          <div class="tonight"><a href="{{site.data.config.reztripUrl}}search?selected_room_category=[[selectedRoom.category]]&selected_room=[[selectedRoom.code]]&locale={{site.active_lang}}" target="_blank">[[ selectedRoom.todayRate ]]</a></div>
           <div ng-show="selectedRoom.todayRate == 'CHECK AVAILABILITY' || selectedRoom.todayRate == 'Comprobar Disponibilidad'">
              <!--div class="room-rate-holder check-avail"><a href="{{site.data.config.reztripUrl}}?{{locale}}&search=?">{% t 'room.check-availability' %}</a></div-->
            </div>
          <div ng-hide="selectedRoom.todayRate == 'CHECK AVAILABILITY' || selectedRoom.todayRate == 'Comprobar Disponibilidad'" class="spacing"><a class="button-common-2 button-blue" ng-href="{{site.data.config.reztripUrl}}search?selected_room_category=[[selectedRoom.category]]&selected_room=[[selectedRoom.code]]&locale={{site.active_lang}}" target="_blank">{% t 'room.book-this-room' %}</a></div>
        </div>
      </div>
    </div>
    
    <!-- Left and right controls --> 
    <a class="left carousel-control" href="#rd-carousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#rd-carousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
  </div>
</section>
<section class="r-info">
  <div class="container no-padding">
    <div class="col-md-6 no-padding -left">
      <div class="con-1">
      <h3 class="sub-title this-no-padding">[[selectedRoom.name]]</h3>
        <h2 class="title">{% t 'room.room-info' %}</h2>
        <h3 class="sub-title">[[selectedRoom.bed_types[0].name]] | <span ng-bind-html=" selectedRoom.room_size | renderHTMLCorrectly"></span> <span ng-bind-html=" selectedRoom.room_size_units | renderHTMLCorrectly"></span></h3>
        <div class="des-wrap">
          <p class="des" ng-bind-html="selectedRoom.description | renderHTMLCorrectly"></p>
          <p class="des bold-text">{% t 'room.need-help-text' %}</p>
        <!--   <p class="des bold-text">Need assistance? Our dedicated reservations team is available around the clock:</p> -->
          <p class="des">Gates Hotel Barcelona Service Center  <a href="tel:+34 934 895 300">+34 934 895 300</a> or<br>
            <a href="mailto:recepcion.diagonal@gateshotelbarcelona.com">recepcion.diagonal@gateshotelbarcelona.com</a></p>
        </div>
        <div class="spacing"><a class="button-common-2 button-blue" href="{{langPrefix}}/contact/">{% t 'room.contact-button' %}</a></div>
      </div>
      <div class="con-2"><img src="/images/gates/room-details/room-2.jpg" alt=""></div>
    </div>
    <div class="col-md-6 no-padding -right">
      <div class="con-3">
        <div><img src="/images/gates/room-details/gallery.jpg" alt=""></div>
        <div class="text">
          <h2 class="title">{% t 'room.visual-journey' %}</h2>
          <div class="spacing"><a class="button-common-2 -white" href="{{'/gallery' | permalink }}">{% t 'room.view-gallery' %}</a></div>
        </div>
      </div>
      <div class="con-4">
        <div class="col-sm-5 con-4-1">
        <ul class="list" ng-show="selectedRoom.amenities.length  > 0">

          <li ng-repeat="amenities in selectedRoom.amenities">[[amenity]]</li> 
        </ul>
          <ul class="list" ng-show="!selectedRoom.amenities.length">
            <li>WIFI available</li>
            <li>Wireless printing</li>
            <li>42-inch HD TV</li>
            <li>MP3 alarm clock</li>
            <li>Hairdryer</li>
            <li>Iron</li>
            <li>Coffeemaker</li>
            <li>Large work desk</li>
            <li>Laptop safes</li>
          </ul>
        </div>
        <div class="col-sm-7 con-4-2">
          <div>
            <div class="add-1">ENJOY THE FOLLOWING</div>
            <div class="add-2">Room<span class="nl">Amenitites</span></div>
            <!--div class="spacing"><a href="" class="button-common-2">general amenities</a></div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="rooms-section">
  <div class="container">
    <div class="col-md-4 no-padding" >
      <div class="new-caption-area " id="rddscroll" class="carousel slide" data-ride="carousel">
        <p>VIEW MORE ROOMS & SUITES</p>
        <div class="carousel-controls"> <a class="left nav-control" href="#rdd-carousel" role="button" data-slide="prev"> </a> <a class="right nav-control" href="#rdd-carousel" role="button" data-slide="next"> </a> </div>
        <div class="carousel-inner ">
          <div class="item "  ng-repeat ="room in browser.roomsList" ng-class='{active:$first}'>
            <h3>[[room.name]]</h3>
            <div class="links"> 
            <a href="{{'/room-details'| permalink}}#[[room.name | formatNameForLink]]/" class="button-common-2 btn-spacing button-blue">{% t 'room.view-this-room' %}</a><br/> 
            <a href="{{'/rooms'| permalink}}" class="button-common-2 button-blue"> {% t 'room.view-all-rooms' %}</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="rdd-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

         	<div class="item" ng-repeat ="room in browser.roomsList" ng-class='{active:$first}'>
             <img alt="" ng-src="[[room.photos[0].large]]" class="width-full">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="loc-cta" style="background-image:url(/images/gates/room-details/rooms-details-book-bg.jpg);">
  <div class="container-fluid no-padding">
  	<div class="container-fluid no-padding">
      <div class="cta">
      <p class="text-center">GATES HOTEL <br>DIAGONAL BARCELONA</p>
    <div class="cta-logo"><a href="/" target="_blank"><img src="/images/gates/location/logo.png" alt="Gates Hotel South Beach"></a></div>
<div class="btn-holder text-center"><a href="https://gateshotelbarcelona.reztrip.com/?{{locale}}" target="_blank" class="button-common">{% t 'about.bookyourstay' %}</a></div>
  </div>
    </div>
  </div>
</section>
<section class="rooms-section footer-separator" rt3-special-rates= "offers">
<div class="container">
<div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="od-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

         	<div class="item" ng-repeat="offer in offers.special_rates" ng-class='{active:$first}'>
             <img alt="[[offer.rate_plan_name]]" ng-src="[[offer.lead_photo_url.yankee_large]]" class="width-full">

            </div>
          </div>
        </div>
      </div>
    </div>
 <div class="col-md-4 no-padding" >
      <div class="new-caption-area " id="odscroll" class="carousel slide" data-ride="carousel">
        <p>{% t 'room.view-more-luxurious-rooms' %}</p>
        <div class="carousel-controls"> <a class="left nav-control" href="#od-carousel" role="button" data-slide="prev"> </a> <a class="right nav-control" href="#od-carousel" role="button" data-slide="next"> </a> </div>
        <div class="carousel-inner ">
          <div class="item "  ng-repeat ="offer in offers.special_rates" ng-class='{active:$first}'>
            <h3 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h3>
            <div class="links"> <a href="{{'/offer-details' | permalink }}#[[offer.rate_plan_name | formatNameForLink ]]" class="button-common-2 btn-spacing button-blue">{% t 'room.view-this-offer' %}</a><br/> <a href="{{'/offers' | | permalink }}" class="button-common-2 button-blue">{% t 'room.view-all-offers' %}</a> </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>
