---
layout: default
---
{% if  site.active_lang == 'es' %}
{% assign langPrefix = '/es' %}
{% assign locale = "locale=es" %}
{% endif %}
<div class="loading" style="display: block;">Loading&#8230;</div>
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image:url(/images/gates/rooms-banner.jpg);">
   {% region rooms-banner-text %}</div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="rooms-holder">
        <div class="col-md-4 col-sm-6" ng-repeat ="room in browser.roomsList">
          <div class="rooms-item">
            <figure><a ng-href="{{'/room-details' | permalink }}#[[room.name | formatNameForLink]]"><img ng-src="[[room.photos[0].yankee_large]]" alt="[[ room.name ]]"/></a></figure>
            <div class="rooms-item-content">
            <h2>[[ room.name ]]</h2>
            <div class="room-price">
            	<span ng-hide="room.todayRate == 'CHECK AVAILABILITY' || room.todayRate == 'Comprobar Disponibilidad' " class="tonight-label">{% t 'rooms.rate' %}</span> <a ng-href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]&locale={{site.active_lang}}" target="_blank"><span>[[ room.todayRate ]]</span></a>
             </div>
             <p>[[room.short_description | limitTo: 150]][[room.short_description.length > 150 ? '...' : '']]</p>
            <div class="extra-padding"><a class="button-common button-blue" ng-href="{{'/room-details' | permalink }}#[[room.name | formatNameForLink]]">{% t 'rooms.view-button' %}</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
