---
layout: default
---
<section>
  <div class="container-fluid no-padding">
    <div class="page-banner location-banner" style="background-image: url(/images/gates/shuttle-banner.jpg)">
      {% region banner-text %}
      <!--<div class="banner-btn"><a href="#" class="button-common">Download Map</a><a href="#" class="button-common">Download Fact Sheet</a></div>-->
    </div>
  </div>
</section>
<section>
  <div class="container-fluid blue-bg top-content">
    <div class="about-wrap">
      {% region old-town-shuttle-text %}
    </div>
  </div>
</section>
<div class="content-max-width">
<section>
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
      	{% region heart-of-republic %}
      </div>
    </div>
    <div class="col-sm-6 no-padding v-center">{% region shuttle-image-1 %}</div>
  </div>
</section>
<section class="about-home">
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">{% region shuttle-image-2 %}</div>
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        {% region explore-old-key %}
       <!-- <div class="btn-holder"><a href="#" class="button-common btn-blue">Discover More<i class="fa fa-play"></i></a></div>--> 
      </div>
    </div>
  </div>
</section>
</div>
<section>
  <div class="container-fluid no-padding home-rooms-wrap">
    <div class="shuttle_home"></div>
  </div>
</section>
<section class="schedule" id="schedule">
  <div class="container-fluid no-padding">
      {% region shuttle-schedule-head %}
        {% region shuttle-table %}
        <div class="btn-holder extra padding m-80"></div>
    </div>
</section>

<section>
  <div class="container-fluid show-case">
    <div class="row">
      <div class="col-sm-4 no-padding">{% region shuttle-image-4 %}</div>
      <div class="col-sm-4 no-padding">{% region shuttle-image-5 %}</div>
      <div class="col-sm-4 no-padding">{% region shuttle-image-6 %}</div>
    </div>
  </div>
</section>


    
        
    

