---
layout: default
---  

<section>
  

  <div class="container no-padding">
  <div class="page-banner location-banner">
    

    <h1 class="page-title">
      
      Thank You
    </h1>

  </div>

</div>

</section>

 

<section>
	<div class="container">
<div class="home-location-wrap"> 
        
						<h3>YOU HAVE SUCCESSFULLY SIGNED UP FOR OUR NEWSLETTER</h3>
 
           <p><a href="/specials/" class="button-common btn-blue">SPECIAL OFFERS</a></p>
            
      </div>
    </div>
</section>



   


