---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/gates/thankyou-banner.jpg)">
      <h1 class="page-title">THANK YOU</h1>
    </div>
  </div>
</section>

<section> 
  <!-- gallery wrap --> 
  <div class="gallery-wrapper">
    <div class="gallery-listing">
      <div class="container"><br>
<br>

        <h3 class="thankyou-message">YOU HAVE SUCCESSFULLY SIGNED UP FOR OUR NEWSLETTER</h3>
      </div>
      
    </div>
    
    
    <div class="btn-holder text-center"><a href="/offers/" class="button-common">Special Offers</a></div>
  </div>
  <!--/gallery wrap --> 
</section>
