---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image: url(/images/thankyou-banner.jpg)">
      <h1 class="page-title">THANK YOU</h1>
    </div>
  </div>
</section>

<section class="thankyou">
  <p>You have successfully signed up for our Newsletter</p><br>
    <h4>We will get in touch with you shortly.</h4>
     <div class="btn-holder"><a href="/offers/" class="button-common button-blue">Special Offers</a></div>
</section>
